{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Disregard types - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="hrt-claimant-immigration-restrictions" method="post" class="form">

        <input type="hidden" name="disregards-summary-complete" value="in-progress"/>


         <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Tell us about the money you have</h1>




    <p class="govuk-heading-s govuk-!-margin-bottom-2">Do any of the following apply to you?</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>Savings that you intend to use to buy or make essential repairs to your main home</li>
      <li>Payments to help you live independently in your own home or the community</li>
      <li>Payments to correct or compensate for an official error or for arrears of benefits</li>
      <li>Payments related to Council Tax Reduction</li>
      <li>Payments to help you if you have been involved in an incident or emergency</li>
      <li>Payments from a home insurance policy to cover lost or damaged personal possessions</li>
      <li>Payments to support you with the effects of a blood infection or vCJD </li>
      <li>Personal injury claim payments</li>
      <li>Compensation payments related to the second world war or service in the armed forces</li>
      <li>Windrush child compensation</li>
      <li>Payments to support you with the effects of a blood infection or vCJD </li>
      </ul>

          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "uk-national",
            name: "uk-national",
            fieldset: {
              legend: {
                html: legendUKNationalHeadline,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              html:legendUKNationalHint
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]

          }) }}

          {{ govukButton({
          text: "Continue"
          }) }}
        </form>

    </div>
  </div>
{% endblock %}
