{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Disregard types - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="hrt-claimant-immigration-restrictions" method="post" class="form">

        <input type="hidden" name="money-disregards-all-payments" value="in-progress"/>


         <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Some money will not affect your Pension Credit</h1>




    <p class="govuk-heading-s govuk-!-margin-bottom-2">This includes payments and payouts such as:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>help for you to live independently in your own home or the community</li>
      <li>corrections or compensations for an official error or for arrears of benefits</li>
      <li>errors in Council Tax Reduction</li>
      <li>help for you if you have been involved in an incident or emergency</li>
      <li>home insurance policies to cover lost or damaged personal possessions</li>
      <li>support for you with the effects of a blood infection or vCJD </li>
      <li>personal injury claims</li>
      <li>compensation related to the second world war or service in the armed forces</li>
      <li>the Windrush Compensation Scheme</li>
      </ul>

          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "money-disregards-all-payments",
            name: "money-disregards-all-payments",
            fieldset: {
              legend: {
                text: "Is any of your money from these kind of payments?


                ",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              html:legendUKNationalHint
            },
            items: [
              {
                value: "Yes",
                text: "Yes"
              },
              {
                value: "No",
                text: "No"
              }
            ]

          }) }}

          {{ govukButton({
          text: "Continue"
          }) }}
        </form>

    </div>
  </div>
{% endblock %}
