{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="index-who-made-claim-router" method="post" class="form">


      {{ govukRadios({
        idPrefix: "index-who-made-claim",
        name: "index-who-made-claim",
        fieldset: {
          legend: {
            text: "Who made this claim?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
        value: "Myself",
        text: "Myself",
        checked: data['index-who-made-claim'] == "Myself"
      },
      {
          value: "Power of attorney",
          text: "Someone who has power of attorney for you",
          checked: data['index-who-made-claim'] == "Power of attorney"
        },
        {
          value: "Appointee",
          text: "Someone who acts as an appointee for you",
          checked: data['index-who-made-claim'] == "Appointee"
        },
        {
          value: "Corporate acting body",
          text: "Someone who acts as a Public acting body (PAB) or (CAB) Corporate acting body for you ",
          checked: data['index-who-made-claim'] == "Corporate acting body"
        }
        ]
      }) }}

<!--
      ,
      checked: data['index-who-made-claim'] == "Charity",
      conditional: {
        html: helpIDCharity
      } -->

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
