{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="index-pension-credit" method="post" class="form">


      {% set helpIDCharity %}

      {% set legendCharity %}
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Name of charity or orgasnisation</h3>
      {% endset -%}

      {{ govukInput({
        label: {
          html: legendCharity
        },
        hint: {
          text: ""
        },
        id: "index-who-helped-id",
        name: "index-who-helped-id",
        classes: "govuk-input--width-20 govuk-!-margin-bottom-2",
        value: data["full-name"]
      }) }}


      {% endset -%}

      <!------------CR------------>

      {% set legendOther %}
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Who helped you?</h3>
      {% endset -%}

      {% set helpIDSomeoneElse %}

      {{ govukInput({
        label: {
          html: legendOther
        },
        hint: {
          text: ""
        },
        id: "index-who-helped-id",
        name: "index-who-helped-id",
        classes: "govuk-input--width-20 govuk-!-margin-bottom-2",
        value: data["full-name"]
      }) }}


      {% endset -%}

      <!------------CR------------>



      {{ govukRadios({
        idPrefix: "index-who-helped",
        name: "index-who-helped",
        fieldset: {
          legend: {
            text: "Who helped you complete this application? ",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
          value: "Power of attorney",
          text: "Someone who has power of attorney for you",
          checked: data['index-who-helped'] == "Power of attorney"
        },
        {
          value: "Appointee",
          text: "Someone who you act as an appointee for",
          checked: data['index-who-helped'] == "Appointee"
        },
        {
          value: "Charity",
          text: "Someone from a charity or organisation that you have asked for help",
          checked: data['index-who-helped'] == "Charity",
          conditional: {
            html: helpIDCharity
          }
        },
        {
          value: "Family member",
          text: "A family member",
          checked: data['index-who-helped'] == "Family member"
        },
        {
          value: "Friend",
          text: "A friend",
          checked: data['index-who-helped'] == "Friend"
        },
        {
          value: "SomeoneElse",
          text: "Someone else",
          checked: data['index-who-helped'] == "SomeoneElse",
          conditional: {
            html: helpIDSomeoneElse
          }
        }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
