{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Disregard types - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="non-deps-members-b-list" method="post" class="form">

        <input type="hidden" name="disregards-summary-complete" value="in-progress"/>


         <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Lets talk about members b</h1>

         <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">We need to understand who lives in your houseold with you as it may help with your application</p>

         {% set bloodHint %}

         {{ govukInput({
           label: {
             html: legendName
           },
           hint: {
             text: "Include any middle names."
           },
           id: "full-name",
           name: "full-name",
           classes: "govuk-input--width-20 govuk-!-margin-bottom-2",
           value: data["full-name"]
         }) }}

           <p class=govuk-hint></p>
           <ul class="govuk-hint govuk-list govuk-list--bullet">
             <li>National insurance number</li>
             <li>Date of birth</li>
             <li>If they are in full time / part time education</li>
             <li>If they are in full time / part time empoyment</li>
             <li>If they pay you any euros</li>
           </ul>
         {% endset %}

         {{ govukTextarea({
           label: {
             classes: "govuk-label--s",
             text: "Discribe this person"
            },
           hint: {
             html: bloodHint
           },
           id: "disregards-blood-yes",
           name: "disregards-blood-yes",
           classes: "govuk-input--width-100",
           attributes: {
             maxlength: 200
           }
         }) }}

         <h1 class="govuk-heading-l govuk-!-padding-top-4 govuk-!-margin-bottom-4">Anyone else live with you like??</h1>


         {{ govukRadios({
           idPrefix: "own-mortgage-home-loan-yes",
           name: "own-mortgage-home-loan-yes",
           fieldset: {
             legend: {
               text: "",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--l"
             }
               },
               hint: {
                 html: ""
               },

           classes: "govuk-radios",
           items: [
             {
               value: "Yes",
               text: "Yes",
               checked: (data["own-mortgage-home-loan-yes"] == "Yes")
             },
             {
               value: "No",
               text: "No",
               checked: (data["own-mortgage-home-loan-yes"] == "No")
             }
           ]
         }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

    </div>
  </div>
{% endblock %}
