{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Disregard types - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="non-deps-members-b-list" method="post" class="form">

        <input type="hidden" name="disregards-summary-complete" value="in-progress"/>


         <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Details of people that live with you</h1>


         {% set bloodHint %}
         <ul class="govuk-list govuk-list--bullet">
           <li>their name</li>
           <li> their national Insurance number</li>
           <li>their date of birth</li>
           <li>the details of any full-time or part-time education</li>
           <li>the details of any full-time or part-time employment</li>
           <li>the amount any money they pay you and how often they pay you</li>
         </ul>
         {% endset %}

         {{ govukTextarea({
           label: {
             classes: "govuk-label--s",
             text: "Tell us:"
            },
           hint: {
             html: bloodHint
           },
           id: "disregards-blood-yes",
           name: "disregards-blood-yes",
           classes: "govuk-input--width-100",
           attributes: {
             maxlength: 200
           }
         }) }}

         <h1 class="govuk-heading-l govuk-!-padding-top-4 govuk-!-margin-bottom-4">Does anyone else live with you?</h1>


         {{ govukRadios({
           idPrefix: "own-mortgage-home-loan-yes",
           name: "own-mortgage-home-loan-yes",
           fieldset: {
             legend: {
               text: "",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--l"
             }
               },
               hint: {
                 html: ""
               },

           classes: "govuk-radios",
           items: [
             {
               value: "Yes",
               text: "Yes",
               checked: (data["own-mortgage-home-loan-yes"] == "Yes")
             },
             {
               value: "No",
               text: "No",
               checked: (data["own-mortgage-home-loan-yes"] == "No")
             }
           ]
         }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

    </div>
  </div>
{% endblock %}
