{% extends "layout.html" %}

{% block pageTitle %}
  Pause my Winter Fuel payment
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body govuk--version-control">MVP.0.1</p>


    <h1 class="govuk-heading-xl">Pause my Winter Fuel payment</h1>

    <h2 class="govuk-heading-m">Use this service to pause your Winter Fuel payments if you beleive you don't need this payment.</h2>

    <p class="govuk-body-m">This part of your application should take around <strong>three minutes</strong> depending on your circumstances.</p>

    <p class="govuk-body"><strong>You will need the following information:</strong></p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your Full name</li>
      <li>your Winter view statement letter (WF-2019)</li>
      <li>your National Insurance number</li>
      <li>your address</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h3 class="govuk-heading-m">Personal information</h3>
      <p class="govuk-body">We will treat your information carefully and only use it as allowed by data protection laws.</p>

      <p class="govuk-body">To find out more about how we use information and your information rights, read our Personal Information Charter. You can get a copy of this at a jobcentre.</p>



    {{ govukButton({
      text: "Start now",
      href: "method",
      classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
    }) }}


  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->


</div>
{% endblock %}
