{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="system-ur-task-done" method="post" class="form">


        {% include "agent-service-1-12/agent/record-id.html" %}

        <p class="govuk-heading-xl govuk-!-margin-bottom-6">This applications needs to go to BAU as it has complexities</p>

        <p class="govuk-body govuk-!-font-size-24 govuk-!-padding-top-2 govuk-!-margin-bottom-2"><strong>The why</strong></p>
        <ul class="govuk-list govuk-list--bullet govuk-!-font-size-19">
          <li>The name didnt match the record</li>
          <li>SearchLight Said they had died</li>
          <li>Their State Pension amount was under threshold</li>
          <li>There  was entitlement in the backdating period</li>
          <li>Total weekly amount was under the applipale amount</li>
        </ul>

    </div>
  </div>


    {{ govukButton({
      text: "Confirm and reject",
      classes: "govuk-!-margin-top-6"
    }) }}
  <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><a href="process-c-nil-task-list" class="govuk-link" rel="noreferrer noopener">☒</a></p> -->
</form>

{% endblock %}
