{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="ur-home" method="post" class="form">
        <input type="hidden" name="outcome-nil" value="true"/>


        {% include "agent-service-1-12/agent/record-id.html" %}

        {% set USED %}
        {{govukTag({
          text: "System",
          classes: "govuk-tag--green"
        })}}
        {% endset -%}

        {% set MANUAL %}
        {{govukTag({
          text: "Manual",
          classes: "govuk-tag--blue"
        })}}
        {% endset -%}

        {% set NOTUSED %}
        {{govukTag({
          text: "Not selected",
          classes: "govuk-tag--grey"
        })}}
        {% endset -%}


        <p class="govuk-heading-xl govuk-!-margin-bottom-6">Income over applicable amount.<br>This will be a nil claim, no entitlment<br>in the backdating period.</p>

        {{ govukTable({
          caption: "",
          captionClasses: "govuk-table__caption--xl govuk-!-margin-bottom-8",
          firstCellIsHeader: false,
          head: [
            {
              text: "Type of income",
              classes: 'govuk-20-percent'
            },
            {
              text: "Payment frequency",
              classes: 'govuk-20-percent'
            },
            {
              text: "Selection method",
              classes: 'govuk-20-percent'
            },
            {
              html: "Weekly net income",
              classes: 'govuk-20-percent'
            }
          ],
          rows: [
            [
              {
                text: "State Pension"
              },
              {
                text: "Weekly"
              },
              {
                html: USED
              },
              {
                text: "£150.00"
              }
            ],
            [
              {
                text: "Occ pension 1"
              },
              {
                text: "Monthly"
              },
              {
                html: MANUAL
              },
              {
                text: "£253.84"
              }
            ]
          ]
        }) }}

        <p class="govuk-body govuk-!-font-size-24 govuk-!-padding-top-2 govuk-!-margin-bottom-2"><strong>Calculation</strong></p>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-0">Applicable amount for this person is <strong>£182.15</strong></p>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Their total weekly income is <strong>£403.84</strong></p>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


  <h1 class="govuk-heading-l govuk-!-margin-bottom-2">This is what will happen</h1>
  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">A letter will be sent XXX</p>

  <p class="govuk-body govuk-!-font-size-24 govuk-!-padding-top-2 govuk-!-margin-bottom-2"><strong>You ned to do some clerical tasks</strong></p>
  <ul class="govuk-list govuk-list--bullet govuk-!-font-size-19 govuk-!-margin-bottom-8">
    <li>Update their name <strong>Name Secondname</strong></li>
    <li>Update their telephone number <strong>07960 096 XXX</strong></li>
    <li>Update their address <strong>Building name, Address, Address, Post Code</strong></li>
  </ul>


</div>
</div>


    {{ govukButton({
      text: "Confirm and notify"
    }) }}
  <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><a href="process-c-nil-task-list" class="govuk-link" rel="noreferrer noopener">☒</a></p> -->
</form>

{% endblock %}
