{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="qd-actions-router" method="post" class="form">



    <div class="govuk-!-margin-bottom-8">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">What has changed?</h1>

      <div class="govuk-inset-text">
        <p class="govuk-body">Open Searchlight and check the information on qualifying benefits and State Pension match. Ask the citizen to confirm if they live with a partner and if they have any housing costs.</p>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="change-type-hint">

          <div id="change-type-hint" class="govuk-hint">
            Select all options that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="change-types" name="change-types" type="checkbox" value="benefits" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-checkboxes__label" for="change-types-benefits">
                Qualifying benefits
              </label>

            </div>


            <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  What are the qualifying benefits?
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
                  <li>Attendance Allowance</li>
                  <li>the middle or highest rate from the care component of Disability Living Allowance (DLA)</li>
                  <li>the daily living component of Personal Independence Payment (PIP)</li>
                  <li>Armed Forces Independence Payment</li>
                  <li>the daily living component of Adult Disability Payment (ADP)</li>
                </ul>
              </div>
            </details>
            



            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input " id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                State Pension
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Phone number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
              </div>

            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                Relationship status
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                  Mobile phone number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel">
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                Housing Costs
              </label>
            </div>

            <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Provide an example of housing costs
                </span>
              </summary>
              <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
                  <p class="govuk-body">Service charges can be things like:</p>
                  <li>warden or caretaker services</li>
                  <li>maintenance and cleaning of the building, communal areas and gardens</li>
                  <li>use of communal areas like a lounge or TV area</li>
                </ul>
              </div>
            </details>

          </div>

        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}





    </div>

    </div>



  </div>




    </form>
{% endblock %}
