{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "global-nav-a.html" %}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="home-user-0" method="post" class="form">


      {% include "agent-service-1-7/agent/qd-name-nino.html" %}



    <div class="govuk-!-margin-bottom-8">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Check call summary</h1>


      <div class="govuk-inset-text">
        <ul class="govuk-list govuk-list--bullet">
          <li>Inbound call from customer on 7 June 2022.</li>
          <li>Security passed.</li>
          <li>Called asking for an explanation about why they are not entitled.</li>
          <li>Citizen was satisfied with explanation</li>
          <li>Citizen was signposted to other help</li>
        </ul>
      </div>


      {{ govukRadios({
        classes: "govuk-radios--inline ",
        idPrefix: "call-summary",
        name: "call-summary",
        fieldset: {
          legend: {
            text: "Is the call summary correct?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "The summary should reflect the reason for the call and key notes about what happened on the call."
        },
        items: [
          {
            value: "yes",
            text: "yes"
          },
          {
            value: "no",
            text: "no"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Done"
      }) }}


    </div>

    </div>



  </div>




    </form>
{% endblock %}
