{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "global-nav-a.html" %}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="#" method="post" class="form">



    <div class="govuk-!-margin-bottom-8">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Briefly explain dispute process</h1>

      <div class="govuk-inset-text">
        <p class="govuk-body">If you're unhappy, you we can go raise a formal complaint for you, we will need to spend 5-10 minutes on the phone with you to record the reason why you disagree with the decision. One of our senior staff will then look at your application and the reason you disagree with the decision. They will then bee in touch within 2 months.</p>

        <p class="govuk-body"> We can go through can initiate that process together today? Or you can take some time to reconsider it and call us back? You can also get some independent advice from a local CAB? I can help signpost you to your local CAB and other help if you would like?</p>

      </div>

      {{ govukRadios({
        idPrefix: "qd-mr-start",
        name: "qd-mr-start",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes:""
          }
        },
        items: [
          {
            value: "dispute",
            text: "Yes",
            checked: (data["qd-mr-start"] == "yes")

          },
          {
            divider: "or"
          },
          {
            value: "cab",
            text: "Wants to be signposted to Citizens advice bureau",
            checked: (data["qd-mr-start"] == "cab")
          },
          {
            value: "help",
            text: "Wants to know about other help",
            checked: (data["qd-mr-start"] == "cab")
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}





    </div>

    </div>



  </div>




    </form>
{% endblock %}
