{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="qd-search" method="post" class="form">



    <div class="govuk-!-margin-bottom-8">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Hello, you've reached Pension Credit,
        how can I help?</h1>

      <div class="govuk-inset-text">
        <p class="govuk-body">Only go into a citizen's claim if you need to talk about their details.</p>
      </div>

      {{ govukRadios({
        idPrefix: "where-do-you-live",
        name: "where-do-you-live",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes:""
          }
        },
        items: [
          {
            value: "other-help",
            text: "Give more information on help in other government areas"
          },
          {
            value: "explain",
            text: "Explain a citizen's decision"
          },
          {
            value: "changes",
            text: "Record a change to a claim"
          },
          {
            value: "update",
            text: "View progress on a claim"
          },
          {
            divider: "or"
          },
          {
            value: "end",
            text: "End call"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}





    </div>

    </div>



  </div>




    </form>
{% endblock %}
