{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="qd-security-router" method="post" class="form">


      {% include "agent-service-1-7/agent/qd-name-nino.html" %}



    <div class="govuk-!-margin-bottom-8">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">I'm going to go through some security questions with you.</h1>

      {{ govukInsetText({
        text: "Ask a security question. Use the current process."
      }) }}



      <div class="govuk-button-group">


        {% if data[‘qd-start] === 'changes' %}

          {{ govukButton({
            text: "Security passed",
            href: "qd-changes-start"
          }) }}


        {% else %}
          {{ govukButton({
            text: "Security passed",
            href: "qd-summary"
          }) }}

        {% endif %}

        {{ govukButton({
          text: "Failed first question",
          classes: "govuk-button--secondary",
          href: "qd-security-fail-1"
        }) }}

      </div>

      <p><a href=qd-changes-start>...</a></p>


    </div>

    </div>



  </div>




    </form>
{% endblock %}
