{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "global-nav-a.html" %}
{% endblock %}


{% if data['qd-start'] === 'changes' %}
  {% set securityRoute = 'changes' %}
{% else %}
  {% set securityRoute = 'explain' %}
{% endif %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="#" method="post" class="form">


      {% include "agent-service-1-7/agent/qd-name-nino.html" %}



    <div class="govuk-!-margin-bottom-8">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">You have not passed security</h1>

      {{ govukInsetText({
        text: "..."
      }) }}


——————————
<br>
MM test
<br>


            {% if data["qd-start"] == 'changes' and data["qd-security"] == 'pass' %}
            Some one has selected both changes and security pass

            {% elif data["qd-security"] == 'wrong' %}
            This is only failed 1

            {% elif data["qd-security"] == 'wrong2' %}
            This is only failed 2

            {% elif data["qd-start"] == 'changes' %}
            This is the security one

            {% else %}
            This is nothing

            {% endif %}

<br><br>


      {{ govukButton({
        text: "Continue"
      }) }}


    </div>

    </div>



  </div>




    </form>
{% endblock %}
