{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header-ur.html" %}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="qd-actions-router" method="post" class="form">



    <div class="govuk-!-margin-bottom-8">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">You need to make a new application for Pension Credit. Would you like to do this now?</h1>


      <div class="govuk-inset-text">
        <p class="govuk-body">Explain they can do this now on the phone or go to GOV.UK to make an online application.</p>
      </div>

      {{ govukRadios({
        idPrefix: "qd-changes-start",
        name: "qd-changes-start",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes:""
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: (data["qd-changes-start"] == "other-help")

          },
          {
            value: "no",
            text: "No",
            checked: (data["qd-changes-start"] == "no")
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}





    </div>

    </div>



  </div>




    </form>
{% endblock %}
