{% extends "layout.html" %}

{% block pageTitle %}
  Benefits - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="contact-summary" method="post" class="form">
      {% set disabilities = data["disabilities"] or [] %}
      {% set accessability = data["accessability"] or [] %}

      {{ govukCheckboxes({
        idPrefix: "disabilities",
        name: "disabilities",
        fieldset: {
          legend: {
            text: "Do you have disabilities, impairments or any accessability needs?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply:"
        },
        items: [
          {
            value: "Blind",
            text: "Registered blind or severely sight impaired",
            checked: (disabilities.includes("Blind"))
          },
          {
            value: "Type A",
            text: "Type A @pete",
            checked: (disabilities.includes("Type A"))
          },
          {
            value: "Type B",
            text: "Type B",
            checked: (disabilities.includes("Type B"))
          },
          {
            value: "None",
            text: "None",
            checked: (disabilities.includes("None"))
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      {{ govukCheckboxes({
        idPrefix: "accessability",
        name: "accessability",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Large print",
            text: "Large print",
            checked: (accessability.includes("LargePrint"))
          },
          {
            value: "Access A",
            text: "Access A",
            checked: (accessability.includes("AccessA"))
          },
          {
            value: "Access B",
            text: "Access B",
            checked: (accessability.includes("AccessB"))
          },
          {
            value: "Braille",
            text: "Braille",
            checked: (accessability.includes("Braille"))
          }
        ]
      }) }}

      <p class="govuk-body">
        For @pete

        Braille
        Type Talk
        Type Talk/Minicom
        Textphone
        Large Print
        Audio
        Audio Forms
        Sign Language
        Induction Loop
        Local Service Contact
        Local Service Visit
      </p>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
