{% extends "layout.html" %}

{% block pageTitle %}
  Do you live with a partner? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="existing-claim-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "existingClaim",
        name: "existingClaim",
        fieldset: {
          legend: {
            text: "System: Is this a new claim?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "This would be hidden, and the internets would work out and send you to the task list if part made."
        },
        classes: "govuk-radios",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["existing-claim-yes"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["existing-claim-no"] == "No")
          }
        ]
      }) }}

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="X" value="true"/>


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
