{% extends "layout.html" %}

{% block pageTitle %}
  Do you live with a partner? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="hospital-time-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "hospital-yn",
        name: "hospital-yn",
        fieldset: {
          legend: {
            text: "Have you spent any time in hospital between (pull in date from claim-date)",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "@pete: any thoughts on this?"
        },
        classes: "govuk-radios",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["xxx"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["xxx"] == "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
