{% extends "layout.html" %}

{% block pageTitle %}
  NotePad - Area
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% from "textarea/macro.njk" import govukTextarea %}


{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="money-summary" method="post">

        <h1 class="govuk-heading-xl">(Money over 10K lets take some detials) This is a headline for a note pad page</h1>

        <p class="govuk-body govuk-!-font-size-19">@pete: how do we set instructions for note pad pages?</p>


        <ul class="govuk-list">
          <li>
            <p>Items to be aksed in this section</p>
          </li>
          <li>
            <p>Items to be aksed in this section</p>
          </li>
          <li>
            <p>Items to be aksed in this section</p>
          </li>
          <li>
            <p>Items to be aksed in this section</p>
          </li>
        </ul>

<br>


  <h2 class="govuk-heading-m">Use the following list to help guide the agent through the acounts then need to ask about and find out if any other accounts missing?</h2>

      <strong</strong>
      <p class="govuk-body">
              <strong>Savings and investments</strong>

              <ul class="govuk-list govuk-list--bullet">
  <li>Current account,  </li>
  <li>savings, deposit account,</li>
  <li>bank, building society or POCA,</li>
  <li>Cash held at home</li>
  <li>Premium bonds granny bonds</li>
  <li>ISAs, PEPs, TESSA only ISAs</li>
  <li>Income, capital bonds</li>
  <li>Unit trust, shares</li>
  <li>Any other Monet help in this country or abroad</li>
  <li>Are you expecting a lump sum</li>

</ul></p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-body">
        <strong>Other income</strong>

        <ul class="govuk-list govuk-list--bullet">
  <li>Money from a boarder, lodger, tenant and subtenants</li>
  <li>Working tax credit</li>
  <li>Royalties</li>
  <li>Money paid from an ex-partner (spousal maintenance)</li>
  <li>Sick pay</li>
  <li>Payments from a trust</li>
  <li>Money from an Equity Release</li>
  <li>Money from Armed forces compensation scheme</li>
  <li>Money from a personal injury payment</li>

</ul></p>




        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "Can you provide more detail?"
          },
          hint: {
            text: "Do not include personal or financial information, like your National Insurance number or credit card details."
          }
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
