{% extends "layout.html" %}

{% block pageTitle %}
  NotePad - Area
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% from "textarea/macro.njk" import govukTextarea %}


{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="address-summary" method="post">

        <h1 class="govuk-heading-xl">(Carehomes)This is a headline for a note pad page</h1>

        <p class="govuk-body govuk-!-font-size-19">@pete: how do we set instructions for note pad pages?</p>


        <ul class="govuk-list">
          <li>
            <p>Items to be aksed in this section</p>
          </li>
          <li>
            <p>Items to be aksed in this section</p>
          </li>
          <li>
            <p>Items to be aksed in this section</p>
          </li>
          <li>
            <p>Items to be aksed in this section</p>
          </li>
        </ul>

<br>

        {{ govukTextarea({
          name: "carehome-more-detail",
          id: "carehome-more-detail",
          label: {
            text: "Can you provide more detail?"
          },
          hint: {
            text: "Do not include personal or financial information, like your National Insurance number or credit card details."
          },
          value: data["carehome-more-detail"]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
