{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="start" method="post" class="form">

    <p class="govuk-body govuk--version-control">G4s version 0.6 / MVP</p>

    <h1 class="govuk-heading-xl">Hello, you have reached Pension Credit</h1>

    <p class="govuk-heading-m govuk-!-margin-bottom-0">XXX</p>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">XXX</p>


    {{ govukRadios({
      idPrefix: "type-of-claim",
      name: "type-of-claim",
      fieldset: {
        legend: {
          text: "Why are you calling today?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m govuk-!-padding-top-4"
        }
      },
      classes: "govuk-radios",
      hint: {
        html: "XXXX"
      },
      items: [
      {
          value: "1",
          text: "Check eligibility for Pension Credit [37%]",
          checked: (data["type-of-claim"] == "1")
        },
        {
          value: "2",
          text: "Check progress of a claim [17%]",
          checked: (data["type-of-claim"] == "2")
        },
        {
          value: "3",
          text: "I was asked by DWP to call [10%]",
          checked: (data["type-of-claim"] == "3")
        },
        {
          value: "4",
          text: "General enquiry [5%]",
          checked: (data["type-of-claim"] == "4")
        },
        {
          value: "5",
          text: "Something else [27%]",
          checked: (data["type-of-claim"] == "5")
        }
      ]
    }) }}

<!--
    {
      value: "A",
      text: "A",
      checked: (data["ab-check"] == "A")
    },
-->

      {{ govukButton({
       text: "Continue",
       classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8"
     }) }}





</form>
</div>
{% endblock %}
