{% extends "layout.html" %}

{% block pageTitle %}
  Backdating: Outside of UK - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="claim-date-options-backdating-outside-uk-yn-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "claim-date-options-backdating-outside-uk-yn",
        name: "claim-date-options-backdating-outside-uk-yn",
        fieldset: {
          legend: {
            text: "Have you been outside of the UK for longer than 4 weeks between the XX/XX/XXXX and XX/XX/XXXX?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
            },
            hint: {
              html: "<br><p class=\"hint\">
                      Any detials here?
                      </p><br>"
            },
        classes: "govuk-radios--inline",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["claim-date-options-backdating-outside-uk-yn"] == "yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["claim-date-options-backdating-outside-uk-yn"] == "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
