{% extends "layout.html" %}

{% block pageTitle %}
  Backdating: Outside of UK - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="claim-date-summary" method="post" class="form">

      {{ govukWarningText({
        text: "Agent: Check with USER regarding dates",
        iconFallbackText: "Warning"
      }) }}

      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "msic-missing-account",
        name: "msic-missing-account",
        fieldset: {
          legend: {
            text: "What would you like to add?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
        {
          value: "Other type of account",
          text: "Other type of account",
          checked: data['msic-missing-account'] == "Other type of account"
        },
        {
          divider: "or"
        },
        {
            value: "Current account",
            text: "Current account",
            checked: data['msic-missing-account'] == "Current account"
          },
          {
          value: "Savings account",
          text: "Savings account",
          checked: data['msic-missing-account'] == "Savings account"
        },
        {
          value: "Post office",
          text: "Post office",
          checked: data['msic-missing-account'] == "Post office"
        }
        ]
      }) }}



      {{ govukRadios({
        idPrefix: "msic-pc-payment-type-balancee",
        name: "msic-pc-payment-type-balance",
        fieldset: {
          legend: {
            text: "Details about your State Pension account",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
            }
            },
            hint: {
              html: "<p class=\"hint\">We know about the account your State Pension is paid into."
            },
        items: [
          {
            value: "Same account as State Pension",
            text: "Same account as State Pension"
          },
          {
            value: "An alternative account",
            text: "An alternative account"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
