{% extends "layout.html" %}

{% block pageTitle %}
  NotePad - Area
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% from "textarea/macro.njk" import govukTextarea %}


{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="address-summary" method="post">


        <h1 class="govuk-heading-xl">Sheltered accommodation details</h1>

<br>

{{ govukRadios({
  idPrefix: "notepad-sheltered-funding",
  name: "notepad-sheltered-funding",
  fieldset: {
    legend: {
      text: "How is your stay in sheltered accommodation paid for?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },

  items: [
    {
      value: "Local authority",
      text: "Local authority",
      checked: (data["notepad-sheltered-funding"] == "Local authority")
    },
    {
      value: "Self-funded",
      text: "Self-funded",
      checked: (data["notepad-sheltered-funding"] == "Self-funded")
    },
    {
      value: "Part Local authority and Self-funded",
      text: "Part Local authority and part self-funded",
      checked: (data["notepad-sheltered-funding"] == "Part Local authority and Self-funded")
    },
    {
      value: "Other",
      text: "Other (Add details to notes)",
      checked: (data["notepad-sheltered-funding"] == "Other")
    }
  ]
}) }}

<br>

{{ govukRadios({
  idPrefix: "notepad-sheltered-property",
  name: "notepad-sheltered-property",
  fieldset: {
    legend: {
      text: "Do you own a residential property?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },

  items: [
    {
      value: "Yes",
      text: "Yes",
      checked: (data["notepad-sheltered-property"] == "Yes")
    },
    {
      value: "No",
      text: "No",
      checked: (data["notepad-sheltered-property"] == "No")
    },
    {
      value: "Other",
      text: "Other (Add details to notes)",
      checked: (data["notepad-sheltered-property"] == "Other")
    }
  ]
}) }}


<br>

<ul class="govuk-list">
  <li>
    Notes (Only mandatory if other is selected)
  </li>
</ul>


        {{ govukTextarea({
          name: "notepad-sheltered-detail",
          id: "notepad-sheltered-detail",

          value: data["notepad-sheltered-detail"]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

    </div>
  </div>
{% endblock %}

<!--

<p class="govuk-body govuk-!-font-size-19">Collect all the information you need, including:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    whether they own another property
  </li>
  <li>
    whether their stay is funded by the local authority, self-funded or both
  </li>
</ul>
-->
