{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="handover" method="post" class="form">

    <!------------H1 LEGEND------------>


        {% if data["housing-costs"] == "Yes" %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">[Outcome / Housing costs] You are here because of housing costs</h1>
        <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>

        {% elif data["pensions"] == "Yes" %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">[Outcome / Likely: Pensions] XXXX</h1>
        <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>

        {% elif data["pensions"] == "No" %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">[Outcome / Unlikely: Pensions] XXXX</h1>
        <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>

        {% elif data["earnings"] == "Yes" %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">[Outcome / Likely: Earnings] XXX</h1>
        <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>

        {% elif data["earnings"] == "No" %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">[Outcome / Unlikely: Earnings] XXX</h1>
        <p class="govuk-body govuk-!-margin-bottom-2">XXX</p>


        {% else %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">[Default] Unlikely</h1>
        {% endif %}


         <!------------Legend--------------->



         {{ govukRadios({
           idPrefix: "outcome-yn",
           name: "outcome-yn",
           fieldset: {
             legend: {
               text: "Given the outcome, does the citizen want to contine",
               hint: "X",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--m"
             }
           },
           classes: "govuk-radios",
           hint: {
             html: "XXX"
           },
           items: [
             {
               value: "Yes",
               text: "Yes",
               checked: (data["outcome-yn"] == "Yes")
             },
             {
               value: "No",
               text: "No",
               checked: (data["outcome-yn"] == "No")
             }
           ]
         }) }}

         {{ govukButton({
           text: "Continue",
           classes: "dont-print"
         }) }}

</form>
</div>
{% endblock %}
