{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="outcome-yn-router" method="post" class="form">

    <!------------H1 LEGEND------------>

    {% if data["housing-costs"] == "Yes" %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You told us you have housing costs that Pension Credit could help you with</h1>
    <p class="govuk-body govuk-!-margin-bottom-2">A Pension Credit advisor will be able to help you decide whether to make an application.</p>

    {% elif data["benefit-check"] == "SP" %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You are unlikely to get Pension Credit because you get a full State Pension</h1>
    <p class="govuk-body govuk-!-margin-bottom-2">You can still make an application if you want to, but it is not likely to be successful.</p>

    {% elif data["pensions"] == "Yes" %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You are unlikely to get Pension Credit because of your pension income.</h1>
    <p class="govuk-body govuk-!-margin-bottom-2">You can still make an application if you want to, but it is not likely to be successful.</p>

    {% elif data["earnings"] == "Yes" %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You are unlikely to get Pension Credit because of your earnings</h1>
    <p class="govuk-body govuk-!-margin-bottom-2">You can still make an application if you want to, but it is not likely to be successful.</p>



    {% else %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You are likely to get Pension Credit</h1>{% endif %}


         <!------------Legend--------------->

         {{ govukRadios({
           idPrefix: "outcome-yn",
           name: "outcome-yn",
           fieldset: {
             legend: {
               text: "Do you still need to speak to a Pension Credit adviser?",
               hint: "X",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--m"
             }
           },
           classes: "govuk-radios",
           hint: {
             html: "XXX"
           },
           items: [
             {
               value: "Yes",
               text: "Yes",
               checked: (data["outcome-yn"] == "Yes")
             },
             {
               value: "No",
               text: "No",
               checked: (data["outcome-yn"] == "No")
             }
           ]
         }) }}

         {{ govukButton({
           text: "Continue",
           classes: "dont-print"
         }) }}


</form>
</div>
{% endblock %}
