{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Have you spent any time in hospital recently? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="claimant-national-insurance" method="post" class="form">

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="hospitals-complete" value="true"/>

      <p class="govuk-heading-xl">Based on the information you provided, the earliest we can consider backdating your application to is [DOD/OutsideUK]  </p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">The backdate date was calculated based on:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Your partner's date of death</li>
        <li>You were out of the country for more than 4 weeks</li>
          </ul>


      <!--text: "Have you spent any time in hospital since " + (data['back-dating-date'] | formatDate),--->


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
  </div>
</div>
{% endblock %}
