{% extends "layout.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  <!-- {% include "includes/internal-header.html" %} -->
  {% include "explore-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="process-nil-task-list" method="post" class="form">
        <input type="hidden" name="nil-task-3-passed" value="passed">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Jeff Bridges</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">NA 11 22 33 c</p>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Data supllied vs data held<br> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. </p>

    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukRadios({
          idPrefix: "process-nil-task-3-process",
          name: "process-nil-task-3-process",
          fieldset: {
            legend: {
              text: "Example task 3: Good or bad?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-0"
            }
          },
          hint: {
            html: hintLegend
          },
          classes: "govuk-radios",
          items: [
            {
              value: "Yes",
              text: "Bad",
              checked: (data["process-nil-task-3-process"] == "Yes")
            },
            {
              value: "No",
              text: "Good",
              checked: (data["process-nil-task-3-process"] == "No")
            }
          ]
        }) }}



        <!------------ ––– ------------>

    </div>
  </div>



    {{ govukButton({
      text: "Contine"
    }) }}
  </form>

{% endblock %}
