{% extends "layout-nav.html" %}

{% block pageTitle %}
  Sign in - Pension Credit

{% endblock %}

{% block header %}
{% include "includes/internal-header.html" %}
{% include "agent-service-1/agent/nav-all.html" %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">This is a person</h1>

    </div>
  </div>


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Overview</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Sent information</a></p>

    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-2">Citizen detials</h3>


    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Links #3</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Links #4</a></p>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Links #5</a></p>

  </div>

  <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-8">
    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-2">Overview</h3>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. <br><br> This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100
  </p>
  </div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">.</div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
      </div>

      <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-8">
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the actual copy has not yet been received. This is appropriate dummy text that is being employed in order to ascertain an approximate length because the copy has not yet been received. 100</p>
      </div>
  </div>


    </form>
{% endblock %}
