{% extends "layout.html" %}

{% block pageTitle %}
  Sign in - Pension Credit
{% endblock %}

{% block header %}
{% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="login-router" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Case statistics</h1>
      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Statistics are from what you and your team have done</p> -->

    </div>
  </div>





              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                </div>
              </div>


                <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-2">
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><strong>Received</strong></p>
                  <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">1,000</p>
                </div>

                <div class="govuk-grid-column-one-quarter">
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><strong>Completed</strong></p>
                  <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">750</p>
                </div>

                <div class="govuk-grid-column-one-quarter">
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><strong>Outstanding</strong></p>
                  <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">250</p>
                </div>
              </div>


                    </div>
                  </div>
    </form>
{% endblock %}
