{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">As pension gredit isn't for you there might be other ways DWP can help</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">XXXX</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-6">Help with health</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">A Pension Credit advisor will be able to help you apply for one and decide whether to make a Pension Credit application.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-6">Help with housing</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">A Pension Credit advisor will be able to help you apply for one and decide whether to make a Pension Credit application.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-6">Other general help</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">A Pension Credit advisor will be able to help you apply for one and decide whether to make a Pension Credit application.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">




      {{ govukButton({
        text: "Finish and close",
        classes: "dont-print govuk-!-margin-top-8"
      }) }}


    </div>
  </div>
{% endblock %}
