{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data["housing-costs"] == "Yes" %}
    <form action="outcome-housing-costs-router" method="post" class="form">
    {% else %}
    <form action="outcome-yn-router" method="post" class="form">
    {% endif %}


    <!------------H1 LEGEND------------>

    {% if data['nino'] == '' %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You told us that you do not have a National Insurance number</h1>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">This means I cannot give you an exact answer on whether you can get Pension Credit or not.</p>
      
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">However, you can still make a full application for Pension Credit over the phone, even if you do not have a National Insurance number. </p>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">An advisor will ask you some more questions about your personal and financial circumstances and do a full assessment.</h1>
    
   <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Would you like me to hand you over to a colleague to make a full phone application now?</p> -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    {% elif data["housing-costs"] == "Yes" %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You told us that you have housing costs that Pension Credit might be able to help you with</h1>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You will need to make a full application for Pension Credit over the phone.</h1>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">An advisor will ask you some more questions about your personal and financial circumstances and do a full assessment.</h1> 

    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Would you like me to hand you over to a colleague to make a full phone application now?</p> -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    {% elif data["pensions"] == "Yes" %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You are unlikely to get Pension Credit because of your pension income</h1>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">This is because your pensions take you above the income thresholds.</p>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">That said, I can still put you through to the full application service if you want.</p>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">An advisor will ask you some more questions about your personal and financial circumstances and do a full assessment.</h1>

    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Would you like me to hand you over to a colleague to make a full phone application now?</p>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Or would you like to find out about other help that is available?</p> -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    {% elif data["earnings"] == "Yes" %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Based on the information you have given me, it doesn't look like you meet the criteria for Pension Credit</h1>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">This is because your earnings take you above the income thresholds.</p>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">That said, I can still put you through to the full application service if you want.</p>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">An advisor will ask you some more questions about your personal and financial circumstances and do a full assessment.</h1>

    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Would you like me to hand you over to a colleague to make a full phone application now?</p>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Or would you like to find out about other help that is available?</p> -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    {% else %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Based on the information you have given me, it looks like you meet the criteria for Pension Credit</h1>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You will need to make an application for Pension Credit over the phone, where an advisor will ask you some more questions about your personal and financial circumstances and do a full assessment.</h1>

    <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Would you like me to hand you over to a colleague to make a full phone application now?</p> -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {% endif %}


    <!------------Legend------------>
      {% set outComeCTA %}
      {% if data["housing-costs"] == "Yes" %}
      <h1 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-0">Would you like me to hand you over to a colleague to make a full phone application now or would you instead like to find out about other help that is available?</h1>

      {% elif data['nino'] == 'S1 11 22 33 A' %}
      <h1 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-0">Would you like me to hand you over to a colleague to make a full phone application now or would you instead like to find out about other help that is available?</h1>

      {% elif data["pensions"] == "Yes" %}
      <h1 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-0">Would you like me to hand you over to a colleague to make a full phone application now or would you instead like to find out about other help that is available?</h1>

      {% elif data["earnings"] == "Yes" %}
      <h1 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-0">Would you like me to hand you over to a colleague to make a full phone application now or would you instead like to find out about other help that is available?</h1>

      {% else %}
      <h1 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-0">Would you like me to hand you over to a colleague to make a full phone application now or would you instead like to find out about other help that is available?</h1>
      {% endif %}

      {% endset %}
    <!------------Legend------------>

         <!------------Legend--------------->

         {{ govukRadios({
           idPrefix: "outcome-yn",
           name: "outcome-yn",
           fieldset: {
             legend: {
               html: outComeCTA,
               hint: "X",
               isPageHeading: true,
               classes: "govuk-fieldset__legend--m"
             }
           },
           classes: "govuk-radios",
           hint: {
             html: ""
           },
           items: [
             {
               value: "Yes",
               text: "Tell me about other help that is available",
               checked: (data["outcome-yn"] == "Yes")
             },
             {
               value: "No",
               text: "Pass me over to the full phone application service",
               checked: (data["outcome-yn"] == "No")
             }
           ]
         }) }}

         {{ govukButton({
           text: "Continue",
           classes: "dont-print"
         }) }}

         <p class="govuk-body govuk-!-padding-bottom-6"><strong>Pass over to DWP if they wish to talk more about your Pension Credit outcome</strong><br><a href="handover-user-request">Handover claim early</a></p>



</form>
</div>
{% endblock %}
