{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="exit" method="post" class="form">



      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Other benefits to help you with your living or housing costs</h1>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">There are a number of  benefits and allowances you can claim, such as:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Attendance Allowance</li>
        <li>Winter Fuel Payment</li>
        <li>free bus pass</li>
        <li>Housing Benefit</li>
        <li>help with your pensions</li>
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Would you like to find out  more about any of those?</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-6">Attendance Allowance</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Go to GOV.UK and search for "attendance allowance".</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Or call 0800 731 0122 (Monday to Friday, 9:30am-3:30pm).</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-6">Winter Fuel Payment</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Go to GOV.UK and search for "winter fuel payment".</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Or call 0800 731 0160 (Monday to Friday, 9:30am-3:30pm).</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-6">Free bus pass</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Go to GOV.UK and search for "free bus pass".</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Or call your local council as they issue the bus passes.</p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-6">Housing benefit</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Go to GOV.UK and search for "housing benefit".</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Or call your local council as they will deal with your claim.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h1 class="govuk-heading-m govuk-!-margin-bottom-6">Help with your pensions</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Go to GOV.UK and search for "TPAS".</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Or call 0800 011 3797 (Monday to Friday, 9am-5pm).</p>




      {{ govukButton({
        text: "Continue"
      }) }}


    </div>
  </div>
{% endblock %}
