{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  Sign in - Pension Credit
{% endblock %}

{% block header %}
{% include "explore-header-ur.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="error" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Sorry, there is a problem<br>with the service</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Your progress has been saved. </p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Refresh the page and try again or contact the Pension Credit digital team.</p>

      <br>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Refresh"
        }) }}

        {{ govukButton({
          name: "process-c-nil-task-1-6",
          value: "return",
          checked: (data["ur-home"] == "ur-home"),
          classes: "govuk-button--secondary",
          text: "Return to My home page",
          href: "ur-home"

        }) }}

        <div class="govuk-button-group">
        {{ govukButton({
          text: "Refresh"
        }) }}

        <a class="govuk-link" href="ur-home">Return to My home page</a>
      </div>

        </div>



    </div>
  </div>




  </div>
    </form>
{% endblock %}
