        {% extends "layout-ur-2022.html" %}

        {% block pageTitle %}
          PC: Name Name

        {% endblock %}

        {% block header %}
         {% include "explore-header-ur.html" %}
        {% endblock %}

        {% block content %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <form action="login-router" method="post" class="form">

              <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Service statistics</h1>
              <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">XXX</p> -->

            </div>
          </div>


          <!---------------------------------------->

          <div class="govuk-grid-row govuk-!-margin-bottom-6">

            <!-- {% include "agent-service-1-4/agent/mi-stats.html" %} -->

          </div>



          <!---------------------------------------->

          <div class="govuk-grid-row govuk-!-margin-bottom-8">



            <div class="govuk-grid-column-one-third">


              {% include "agent-service-1-4/agent/mi-menu.html" %}
            </div>


              <div class="govuk-grid-column-two-thrids">
                <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-36 govuk-!-margin-bottom-2">Verify data used</h3>
                <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">Number of instances, by sub-task that resulted in a claim<br> going back to BAU.<strong>12,000</strong> claims processed</p>



                  <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-3">Applicant had died</h3>
                  <h3 class="govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-0">1</h3>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-1">Open interests for qualifying benefits</h3>
                <h3 class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3">(Today and backdating)</h3>

                <h3 class="govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-0">15</h3>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-1">Closed interests for qualifying benefits</h3>
              <h3 class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3">(Today and backdating)</h3>

              <h3 class="govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-0">12</h3>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-1">State Pension award</h3>
            <h3 class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3">(Today)</h3>

            <h3 class="govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-0">18</h3>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-1">Qualifying benefits in payment</h3>
              <h3 class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3">(Today and backdating)</h3>
              <h3 class="govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-0">66</h3>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-bottom-1">State Pension award</h3>
            <h3 class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-3">(Backdating)</h3>
            <h3 class="govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-0">20</h3>
          <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->




                </div>


              </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br>

        {% endblock %}
