`<q cite=""></q>`{% extends "layout.html" %}

{% block pageTitle %}
  Benefits - Pension Credit
{% endblock %}

{% block header %}
  {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="care-home" method="post" class="form">
      {{ govukCheckboxes({
        idPrefix: "benefits",
        name: "benefits",
        fieldset: {
          legend: {
            text: "Agent: Check searchlight to find out what benefits applicant is on",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            name: "sp",
            value: "yes",
            text: "State Pension",
            checked: (data["sp"] == "yes")
          },
          {
            name: "ca",
            value: "yes",
            text: "Carer’s Allowance",
            checked: (data["ca"] == "yes")
          },
          {
            name: "pip",
            value: "yes",
            text: "Personal Independence Payment",
            checked: (data["pip"] == "yes")
          },
          {
            name: "aa",
            value: "yes",
            text: "Attendance Allowance",
            checked: (data["aa"] == "yes")
          },
          {
            name: "jsa",
            value: "yes",
            text: "Job Seeker’s Allowance",
            checked: (data["jsa"] == "yes")
          },
          {
            name: "wb",
            value: "yes",
            text: "War Benefits",
            checked: (data["wb"] == "yes")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
