`<q cite=""></q>`{% extends "layout.html" %}

{% block pageTitle %}
  Benefits - Pension Credit
{% endblock %}

{% block header %}
  {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="care-home" method="post" class="form">
      {{ govukCheckboxes({
        idPrefix: "benefits",
        name: "benefits",
        fieldset: {
          legend: {
            text: "Agent: Check searchlight to find out what benefits applicant is on",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply, a total of 25 other benefits effect pension credit."
        },
        items: [
          {
            name: "sp",
            value: "yes",
            text: "State Pension (+ Value) / Source: SearchLight",
            checked: (data["sp"] == "yes")
          },
          {
            name: "ca",
            value: "yes",
            text: "Carer’s Allowance (+ Value) / Source: SearchLight",
            checked: (data["ca"] == "yes")
          },
          {
            name: "pip",
            value: "yes",
            text: "Personal Independence Payment (+ Value) / Source: SeachLight",
            checked: (data["pip"] == "yes")
          },
          {
            name: "aa",
            value: "yes",
            text: "Attendance Allowance (+ Value) / Source: SearchLight",
            checked: (data["aa"] == "yes")
          },
          {
            name: "jsa",
            value: "yes",
            text: "Job Seeker’s Allowance (+ Value) / Source: SearchLight",
            checked: (data["jsa"] == "yes")
          },
          {
            name: "wb",
            value: "yes",
            text: "War benefits (+ Value) / Source: Small system",
            checked: (data["wb"] == "yes")
          },
          {
            name: "ob1",
            value: "yes",
            text: "Other benefit 1 (+ Value) / Source: SearchLight or other",
            checked: (data["ob1"] == "yes")
          },
        {
            name: "ob2",
            value: "yes",
            text: "Other benefit 2 (+ Value) / Source: SearchLight or other",
            checked: (data["ob2"] == "yes")
          },
          {
            name: "ob3",
            value: "yes",
            text: "Other benefit (+ Value) / Source: SearchLight or other",
            checked: (data["ob3"] == "yes")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
