{% extends "layout.html" %}

{% block pageTitle %}
  Who pays for you to live in the care home? - Pension Credit
{% endblock %}

{% block header %}
  {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="postcode-lookup" method="post" class="form">
      {{ govukRadios({
        idPrefix: "care-home-funding",
        name: "care-home-funding",
        fieldset: {
          legend: {
            text: "Who pays for you to live in the care home?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "la",
            text: "Local authority"
          },
          {
            value: "self",
            text: "Self funded"
          },
          {
            value: "partnpat",
            text: "Part 'n' pat"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
