{% extends "layout.html" %}

{% block pageTitle %}
  What are your contact details? - Pension Credit
{% endblock %}

{% block header %}
  {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="check-your-answers" method="post" class="form">
      <h1 class="govuk-heading-xl">
        What are your contact details?
      </h1>

      {{ govukInput({
        label: {
          text: "Phone number"
        },
        id: "phone-number",
        name: "phone-number",
        classes: "govuk-input--width-20",
        value: data["phone-number"]
      }) }}

      {{ govukRadios({
        idPrefix: "use-home-address",
        name: "use-home-address",
        fieldset: {
          legend: {
            text: "What address should we use to write to you?"
          }
        },
        classes: "govuk-radios--inline",
        items: [
          {
            value: "home",
            text: "Home address",
            checked: (data["use-home-address"] == "home")
          },
          {
            value: "other",
            text: "Different address",
            checked: (data["use-home-address"] == "other")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
