{% extends "layout.html" %}

{% block pageTitle %}
  Are you in paid employment? - Pension Credit
{% endblock %}

{% block header %}
  {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}
  <form action="has-work-router" method="post" class="form">
    {{ govukRadios({
      idPrefix: "has-work",
      name: "has-work",
      fieldset: {
        legend: {
          text: "Are you in paid employment?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      classes: "govuk-radios--inline",
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
