{% extends "layout.html" %}

{% block pageTitle %}
  Personal details - Pension Credit
{% endblock %}

{% block header %}
  {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}
  <form action="about-partner" method="post" class="form">
    {{ govukRadios({
      idPrefix: "partner-right-to-abode",
      name: "partner-right-to-abode",
      fieldset: {
        legend: {
          text: "Do you live with a partner?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: "A partner is a husband, wife, or civil partner or someone that you live with as if they were"
      },
      classes: "govuk-radios--inline",
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
