{% extends "layout.html" %}

{% block pageTitle %}
  Do you have an share? - Pension Credit
{% endblock %}

{% block header %}
  {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="property" method="post" class="form">
      {% set shareAmount %}
        {{ govukInput({
          id: "share-amount",
          name: "share-amount",
          classes: "govuk-input--width-10",
          label: {
            text: "How much?"
          },
          value: data["share-amount"]
        }) }}
      {% endset %}

      {{ govukRadios({
        idPrefix: "has-share",
        name: "has-share",
        fieldset: {
          legend: {
            text: "Do you have an share?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        classes: "govuk-radios--inline",
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: shareAmount
            },
            checked: (data["has-share"] == "yes")
          },
          {
            value: "no",
            text: "No",
            checked: (data["has-share"] == "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
