{% extends "layout.html" %}

{% block pageTitle %}
  What type of account do you have? - Pension Credit
{% endblock %}

{% block header %}
  {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}
  <form action="type-of-account-router" method="post" class="form">
    {{ govukRadios({
      idPrefix: "account-type",
      name: "account-type",
      fieldset: {
        legend: {
          text: "What type of account do you have?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "uk",
          text: "UK bank, building society or credit union account"
        },
        {
          value: "international",
          text: "International bank account"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
