{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">


    <h1 class="govuk-heading-xl">
      Benefits: Check your answers
    </h1>

    <dl class="govuk-summary-list govuk-summary-list--long">


                <dl class="govuk-summary-list govuk-summary-list--long">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        benefits-working-tax-credits-yn
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data["benefits-working-tax-credits-yn"] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="benefits-working-tax-credits-yn">
          Change
        </a>
      </dd>
    </div>

{% if data["benefits-working-tax-credits-yn"] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          XXX
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["XXX"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="XXX">
            Change
          </a>
        </dd>
      </div>
{% endif %}

<br><!---------------------------------------------------------------------------------------------->



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    benefits-war-disablement-yn
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data["benefits-war-disablement-yn"] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="benefits-working-tax-credits-yn">
      Change
    </a>
  </dd>
</div>

{% if data["benefits-war-disablement-yn"] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      XXX
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data["XXX"] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="XXX">
        Change
      </a>
    </dd>
  </div>
{% endif %}

<br><!---------------------------------------------------------------------------------------------->



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    benefits-war-widows-pensions-yn
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data["benefits-war-widows-pensions-yn"] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="benefits-working-tax-credits-yn">
      Change
    </a>
  </dd>
</div>

{% if data["benefits-war-widows-pensions-yn"] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      XXX
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data["XXX"] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="XXX">
        Change
      </a>
    </dd>
  </div>
{% endif %}

<br><!---------------------------------------------------------------------------------------------->



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    benefits-war-and-veterans-yn
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data["benefits-war-and-veterans-yn"] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="benefits-working-tax-credits-yn">
      Change
    </a>
  </dd>
</div>

{% if data["benefits-war-and-veterans-yn"] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      XXX
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data["XXX"] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="XXX">
        Change
      </a>
    </dd>
  </div>
{% endif %}

<br><!---------------------------------------------------------------------------------------------->



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    benefit-IIDB-yn
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data["benefit-IIDB-yn"] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="benefits-working-tax-credits-yn">
      Change
    </a>
  </dd>
</div>

{% if data["benefit-IIDB-yn"] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      XXX
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data["XXX"] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="XXX">
        Change
      </a>
    </dd>
  </div>
{% endif %}

<br><!---------------------------------------------------------------------------------------------->



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    benefit-industrial-death-benefit-yn
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data["benefit-industrial-death-benefit-yn"] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="benefits-working-tax-credits-yn">
      Change
    </a>
  </dd>
</div>

{% if data["benefit-industrial-death-benefit-yn"] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      XXX
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data["XXX"] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="XXX">
        Change
      </a>
    </dd>
  </div>
{% endif %}

<br><!---------------------------------------------------------------------------------------------->



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    benefits-aboard-yn
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data["benefits-aboard-yn"] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="benefits-working-tax-credits-yn">
      Change
    </a>
  </dd>
</div>

{% if data["benefits-aboard-yn"] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      XXX
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data["XXX"] }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="XXX">
        Change
      </a>
    </dd>
  </div>
{% endif %}

<br><!---------------------------------------------------------------------------------------------->





<br></dl></dl><br><br>

    <form action="task-list" method="post">
      <input type="hidden" name="benefits-complete" value="true"/>

      <p>
        {{ govukButton({
          text: "Confirm"
        }) }}
      </p>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

  </div>
</div>
{% endblock %}
