{% extends "layout.html" %}

{% block pageTitle %}
  Check for previous Pension Credit cliam - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="claim-date-summary" method="post">



        <div class="govuk-panel--agent">
          <h1 class="govuk-heading-xl"><span class="agent-action">Agent: </span> Based on the conversation we have had, we will start your claim from 16 April 2019</h1>

      </div>

<br>


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
