{% extends "layout.html" %}

{% block pageTitle %}
  Check for previous Pension Credit cliam - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="claim-date-manual-eed-daf-yn-router" method="post">



        <div class="govuk-panel--agent">
          <h1 class="govuk-heading-m"><span class="agent-action">Agent: </span> The earliest date that this application can be considered is 16 April 2019 (X months ago). <br><br>Talk with the USER and discuss if they want to continue with this date and all the changes that may effect this date.</h1>

<br>

        {% set noDate %}
          {{ govukDateInput({
            id: "claim-date-manual-eed-daf-yn-alternate-date",
            namePrefix: "claim-date-manual-eed-daf-yn-alternate-date",
            fieldset: {
              legend: {
                text: "What is the stable date?"
              }
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data["alternate-date-day"]
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data["alternate-date-month"]
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data["alternate-date-year"]
              }
            ]
          }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "claim-date-manual-eed-daf-yn",
          name: "claim-date-manual-eed-daf-yn",
          fieldset: {
            legend: {
              text: "What best describes this person's scenario?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "The changes are, Previous PC claim, Who lives with you, where you live, income, savings and occupational pensions"
          },
          items: [
          {
            value: "multi-changes",
            text: "Lots of changes (Do this is in CAM)",
            checked: (data["claim-date-manual-eed-daf-yn"] == "multi-changes")
          },
            {
              value: "stable-date",
              text: "Changes may have happened but a date can be established",
              checked: (data["claim-date-manual-eed-daf-yn"] == "stable-date"),
              conditional: {
                html: noDate
              }
            },
            {
              value: "no-changes",
              text: "No changes, proceed with 16 April 2019 (Maximum backdating)",
              checked: (data["claim-date-manual-eed-daf-yn"] == "no-changes")
            }
          ]
        }) }}

      </div>




        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
