{% extends "layout.html" %}

{% block pageTitle %}
  Why were you outside of the UK - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}
{% from "date-input/macro.njk" import govukDateInput %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="claim-date-options-backdating-outside-reason-router" method="post">



{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "claim-date-options-backdating-outside-reason",
  name: "claim-date-options-backdating-outside-reason",
  fieldset: {
    legend: {
      html: "Why were you outide of the UK?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },

  items: [
    {
      value: "Medical treatment",
      text: "Medical treatment / where the claimant is receiving medical treatment or medically approved convalescence care abroad, or the claimant is accompanying their partner, a child, or a QYP for treatment or approved convalescence care."
    },
    {
      value: "Bereavement / funeral",
      text: "Bereavement / funeral / death of a partner, or child,or qualifying young person (QYP) who normally lives with the claimant, or the death of a close relative of the claimant, partner, or child or QYP who normally lives with the claimant, and it is unreasonable to expect an earlier return within the first 4 weeks"
    },
    {
      value: "Something else",
      text: "Something else"
    }
  ]
}) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
