{% extends "layout.html" %}

{% block pageTitle %}
  How would you prefer to be contacted? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}






{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="contact-text-yn-router" method="post" class="form">

      <input type="hidden" name="contact-complete" value="in-progress"/>

      <div class="govuk-panel--agent">
        <h2 class="govuk-heading-m"><span class="agent-action">Agent: </span>The number the claimant is calling from <strong>{{ data["telephone-number"] }}</strong>.</h2>
      </div>


      {% set yesMobile %}
      {{ govukInput({
        label: {
          text: "What is you mobile telephone number"
        },
        id: "contact-text-yn-number",
        name: "contact-text-yn-number",
        classes: "govuk-input--width-20",
        attributes: {
          maxlength: 20
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "contact-text-yn",
        name: "contact-text-yn",
        fieldset: {
          legend: {
            html: "What number can we send you SMS (Text) messages on?",

            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "We will send you text messages regarding the status of your claim and if you need to send us anymore information"
        },

        items: [
        {
            value: "Mobile",
            text: "Mobile",
            checked: (data["contact-text-yn"] == "Mobile"),
            conditional: {
              html: yesMobile
            }
          },
          {
            value: "I don't have a mobile",
            text: "I don't have a mobile",
            checked: (data["contact-text-yn"] == "I don't have a mobile")
          }
        ]
      }) }}






      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
