{% extends "layout.html" %}

{% block pageTitle %}
  How would you prefer to be contacted? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}






{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="disregards-type-more-yn-router" method="post" class="form">

      <input type="hidden" name="contact-complete" value="in-progress"/>

          <h1 class="govuk-heading-xl">Summary</h1>


          <dl class="govuk-summary-list govuk-summary-list--long">

        {% if data["Select-a-payment-type"] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Payment type
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data["Select-a-payment-type"] or "None "}}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="service-charges">
                      Change
                    </a>
                  </dd>
                </div>
        {% endif %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date allowable
                  </dt>
                  <dd class="govuk-summary-list__value">
                    52 or 26 weeks
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="ground-rent">
                      Change
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date received
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{data['disregards-entry-date-day'] + ' ' + (data['disregards-entry-date-month'] | getMonth) + ' ' + data['disregards-entry-date-year']}}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="rent-council-tax-yn">
                      Change
                    </a>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Set cam task for
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Day Month Year
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="rent-council-tax-yn">
                      Change
                    </a>
                  </dd>
                </div>



        {% if data["disregards-entry-amount"] %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Amount
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data["disregards-entry-amount"] or "None "}}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="ground-rent">
                      Change
                    </a>
                  </dd>
                </div>
        {% endif %}



                        <br>


                        {% if data["Select-a-payment-type"] %}
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Payment type
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    {{ data["Select-a-payment-type"] or "None "}}
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a href="service-charges">
                                      Change
                                    </a>
                                  </dd>
                                </div>
                        {% endif %}

                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Date allowable
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    52 or 26 weeks
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a href="ground-rent">
                                      Change
                                    </a>
                                  </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Date received
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    {{data['disregards-entry-date-day'] + ' ' + (data['disregards-entry-date-month'] | getMonth) + ' ' + data['disregards-entry-date-year']}}
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a href="rent-council-tax-yn">
                                      Change
                                    </a>
                                  </dd>
                                </div>

                                <div class="govuk-summary-list__row govuk-summary-list--no-border">
                                  <dt class="govuk-summary-list__key">
                                    Set cam task for
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Day Month Year
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a href="rent-council-tax-yn">
                                      Change
                                    </a>
                                  </dd>
                                </div>



                        {% if data["disregards-entry-amount"] %}
                                <div class="govuk-summary-list__row govuk-summary-list--no-border">
                                  <dt class="govuk-summary-list__key">
                                    Amount
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    {{ data["disregards-entry-amount"] or "None "}}
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a href="ground-rent">
                                      Change
                                    </a>
                                  </dd>
                                </div>
                        {% endif %}


            </dl>

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

              <h2 class="govuk-heading-l">Have you received any money from any of the following?</h2>


              <ul class="govuk-list">

                <li>
                  <p><strong>Charities or Trusts</strong><br>Payments made to you from a charitable trust</p>
                </li>

                <li>
                  <p><strong>Home insurance</strong><br>Payments to covered lost of damage personal possessions</p>
                </li>

                  <li>
                    <p><strong>Home maintainance</strong><br>Payments made to you to maintain the home you live in</p>
                  </li>

                <li>
                  <p><strong>Local authority payments</strong><br>Payments made to you for welfare assistance, which is money when you return from prision, care home, (Each LA is different @dan to source a list) + X, Y and Z.<br>Payments made for things like stair lifts<br>Money paid to you to maintain the home you live in, roof repairs etc</p>
                </li>

                <li>
                  <p><strong>Money to buy main home</strong><br>Payments made to you to buy the home you live</p>
                </li>

                <li>
                  <p><strong>Personal injury insurance</strong><br>Payments made to you if you have been hurt in a car accident or X, Y or Z</p>
                </li>

                  <li>
                    <p><strong>Other payments, grants or bursaries</strong></p>
                  </li>

              </ul>

<!--
{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "address-correspondence-yn",
  name: "address-correspondence-yn",
  fieldset: {
    legend: {
      html: "Have you recived any of the following?",

      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: " "
  },

  items: [
  {
      value: "Yes",
      text: "Yes",
      checked: (data["address-correspondence-yn"] == "Yes")
    },
    {
      value: "differnt address",
      text: "No - I live at a different address",
      checked: (data["address-correspondence-yn"] == "differnt address")
    }
  ]
}) }}

-->

<br><br>
          {{ govukRadios({
            idPrefix: "disregards-type-more-yn",
            name: "disregards-type-more-yn",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
                },

            classes: "govuk-radios--inline",
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (data["disregards-type-more-yn"] == "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: (data["disregards-type-more-yn"] == "No")
              }
            ]
          }) }}

<br>
          {{ govukButton({
            text: "Continue"
          }) }}




    </form>
  </div>
</div>
{% endblock %}
