{% extends "layout.html" %}

{% block pageTitle %}
  How would you prefer to be contacted? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}






{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="disregards-type-more-yn-router" method="post" class="form">

      <input type="hidden" name="contact-complete" value="in-progress"/>

          <h1 class="govuk-heading-xl">Summary</h1>


                  {{ govukSummaryList({
                rows: [
                {
                  key: {
                    text: "What was it for"
                  },
                  value: {
                    text: data['disregards-entry-name']
                  },
                  actions: {
                    items: [
                      {
                        href: "msic-all-savings-account",
                        html: "Change",
                        visuallyHiddenText: "XXX"
                      },
                      {
                        href: "msic-remove",
                        html: "Remove",
                        visuallyHiddenText: "XXX"
                      }
                    ]
                  }
                },

                {
                  key: {
                    text: "Payment amount"
                  },
                  value: {
                    text: data['disregards-entry-amount']
                  },
                  actions: {
                    items: [
                      {
                        href: "",
                        text: "",
                        visuallyHiddenText: "XXX"
                      }
                    ]
                  }
                },
                {
                  classes: 'govuk-summary-list--no-border',

                key: {
                  text: "Date received"
                },
                value: {
                  text: data['disregards-entry-date']
                },
                actions: {
                  items: [
                    {
                      href: "",
                      text: "",
                      visuallyHiddenText: "XXXX"
                    }
                  ]
                }
                }
                ]
                }) }}

                <br><br>

                {{ govukSummaryList({
              rows: [
              {
                key: {
                  text: "What was it for"
                },
                value: {
                  text: data['disregards-entry-name']
                },
                actions: {
                  items: [
                    {
                      href: "msic-all-savings-account",
                      html: "Change",
                      visuallyHiddenText: "XXX"
                    },
                    {
                      href: "msic-remove",
                      html: "Remove",
                      visuallyHiddenText: "XXX"
                    }
                  ]
                }
              },

              {
                key: {
                  text: "Payment amount"
                },
                value: {
                  text: data['disregards-entry-amount']
                },
                actions: {
                  items: [
                    {
                      href: "",
                      text: "",
                      visuallyHiddenText: "XXX"
                    }
                  ]
                }
              },
              {
                classes: 'govuk-summary-list--no-border',

              key: {
                text: "Date received"
              },
              value: {
                text: data['disregards-entry-date']
              },
              actions: {
                items: [
                  {
                    href: "",
                    text: "",
                    visuallyHiddenText: "XXXX"
                  }
                ]
              }
              }
              ]
              }) }}

              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

              <h2 class="govuk-heading-l">Have you received any money from any of the following?</h2>


              <ul class="govuk-list">

                <li>
                  <p><strong>Charitable trust</strong><br>Payments made to you from a charitable trust</p>
                </li>

                <li>
                  <p><strong>Home insurance</strong><br>Payments to covered lost of damage personal possessions</p>
                </li>

                  <li>
                    <p><strong>Home maintainance</strong><br>Payments made to you to maintain the home you live in</p>
                  </li>

                <li>
                  <p><strong>Local authority payments</strong><br>Payments made to you for council tax reduction or welfare.<br>Money paid to you to maintain the home you live in.</p>
                </li>

                <li>
                  <p><strong>Personal injury insurance</strong><br>Payments made to you if you have been hurt in a car accident or X, Y or Z</p>
                </li>

                  <li>
                    <p><strong>Other payments, grants or bursaries</strong></p>
                  </li>

              </ul>

<!--
{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "address-correspondence-yn",
  name: "address-correspondence-yn",
  fieldset: {
    legend: {
      html: "Have you recived any of the following?",

      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: " "
  },

  items: [
  {
      value: "Yes",
      text: "Yes",
      checked: (data["address-correspondence-yn"] == "Yes")
    },
    {
      value: "differnt address",
      text: "No - I live at a different address",
      checked: (data["address-correspondence-yn"] == "differnt address")
    }
  ]
}) }}

-->

<br><br>
          {{ govukRadios({
            idPrefix: "disregards-type-more-yn",
            name: "disregards-type-more-yn",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
                },

            classes: "govuk-radios--inline",
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: (data["disregards-type-more-yn"] == "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: (data["disregards-type-more-yn"] == "No")
              }
            ]
          }) }}

<br>
          {{ govukButton({
            text: "Continue"
          }) }}




    </form>
  </div>
</div>
{% endblock %}
