{% extends "layout.html" %}

{% block pageTitle %}
  How would you prefer to be contacted? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}



{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="disregards-types-all" method="post" class="form">

      <input type="hidden" name="disregards-summary-complete" value="in-progress"/>

                {{ govukRadios({
                  idPrefix: "disregards-type-select",
                  name: "disregards-type-select",
                  fieldset: {
                    legend: {
                      text: "Have you received payments from a charity, money from compensation payment or money you have set aside for household maintenance?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--xl"
                    }
                  },
                  hint: {
                    text: "XXXX."
                  },
                  items: [
                    {
                      value: "government-gateway",
                      text: "Payments made to you by a charty",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "Ex-gratia or compensation payments from charities or trusts."
                      },
                      checked: (data["disregards-type-select"] == "Yes")
                    },


                    {
                      value: "govuk-verify",
                      text: "Home insurance",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "Payments to cover loss or damage to personal possessions."
                      },
                      checked: (data["disregards-type-select"] == "Yes")
                    },


                    {
                      value: "govuk-verify",
                      text: "Money to help you live independently in your own home",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "Money to adapt your home with things like stair lifts, ramps or accessible bathrooms."
                      },
                      checked: (data["disregards-type-select"] == "Yes")
                    },

                    {
                      value: "govuk-verify",
                      text: "Local authority payments",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "Payments made to you for welfare assistance, which is money when you return from prision or a care home. (Each LA is different @dan to source a list) + X, Y and Z."
                      },
                      checked: (data["disregards-type-select"] == "Yes")
                    },

                    {
                      value: "govuk-verify",
                      text: "Money to buy your main home",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "Money that you intend to use to buy the home you live in."
                      },
                      checked: (data["disregards-type-select"] == "Yes")
                    },

                    {
                      value: "govuk-verify",
                      text: "Personal injury insurance claims",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "Payments made to you if you have been injured in an accident."
                      },
                      checked: (data["disregards-type-select"] == "Yes")
                    },

                    {
                      value: "govuk-verify",
                      text: "Other payments, grants or bursaries",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "XXX."
                      },
                      checked: (data["disregards-type-select"] == "Yes")
                    },

                    {
                      value: "govuk-verify",
                      text: "XXX",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "XXX."
                      },
                      checked: (data["disregards-type-select"] == "Yes")
                    },

                    {
                      value: "govuk-verify",
                      text: "None",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "XXX."
                      },
                      checked: (data["disregards-type-select"] == "Yes")
                    }

                  ]
                }) }}




<br>


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

  </div>
</div>
{% endblock %}
