{% extends "layout.html" %}

{% block pageTitle %}
  How would you prefer to be contacted? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}



{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="disregards-types-all" method="post" class="form">

      <input type="hidden" name="disregards-summary-complete" value="in-progress"/>

                {{ govukRadios({
                  idPrefix: "disregards-type-select",
                  name: "disregards-type-select",
                  fieldset: {
                    legend: {
                      text: "Read this list?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--xl"
                    }
                  },
                  hint: {
                    text: "XXXX."
                  },
                  items: [
                    {
                      value: "XXXX",
                      text: "Benefits and council tax",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "XXXX"
                      },
                      checked: (data["disregards-type-select"] == "disregards-type-1")
                    },


                    {
                      value: "XXXX",
                      text: "War and military compensation",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "XXXX"
                      },
                      checked: (data["disregards-type-select"] == "disregards-type-2")
                    },


                    {
                      value: "XXXX",
                      text: "Compensation and insurance",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "XXXX"
                      },
                      checked: (data["disregards-type-select"] == "disregards-type-3")
                    },


                    {
                      value: "XXXX",
                      text: "Contents insurance",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "XXXX"
                      },
                      checked: (data["disregards-type-select"] == "disregards-type-4")
                    },

                    {
                        value: "XXXX",
                        text: "Money for buying or imprvoing property",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX"
                        },
                        checked: (data["disregards-type-select"] == "disregards-type-5")
                    },


                      {
                        value: "XXXX",
                        text: "Living independently",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX"
                        },
                        checked: (data["disregards-type-select"] == "disregards-type-6")
                    },


                    {
                        value: "XXXX",
                        text: "Emergencies and incidents",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX"
                        },
                        checked: (data["disregards-type-select"] == "disregards-type-7")
                      },

                      {
                        value: "XXXX",
                        text: "Windrush",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX"
                        },
                        checked: (data["disregards-type-select"] == "disregards-type-8")
                    },


                    {
                        value: "XXXX",
                        text: "CJD and blood",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX"
                        },
                        checked: (data["disregards-type-select"] == "disregards-type-9")
                    },


                    {
                        value: "XXXX",
                        text: "(TBC) Not asked currently",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX"
                        },
                        checked: (data["disregards-type-select"] == "disregards-type-10")
                    },


                    {
                        value: "XXXX",
                        text: "None of these",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX"
                        },
                        checked: (data["disregards-type-select"] == "Yes")
                      }

                  ]
                }) }}




<br>


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

  </div>
</div>
{% endblock %}
