{% extends "layout.html" %}

{% block pageTitle %}
  disregards-types - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="disregards-summary" method="post" class="form">

        <input type="hidden" name="disregards-summary-complete" value="in-progress"/>

        <h1 class="govuk-heading-xl">The list @niall checkbox spacing to wide</h1>

        {% if data["disregards-type-select"] == "disregards-type-1" %}


        <div class="govuk-panel--agent">
          <h2 class="govuk-heading-m"><span class="agent-action">Agent: </span>Check in digital</h2>


        {% set arrearsOver %}
          {{ govukTextarea({
            label: {
              html: "<strong>Item 1</strong> Allowable for X weeks<br><br><strong>Item 2</strong> Allowable for X weeks<br><br><strong>Item 3</strong> Allowable for X weeks<br><br><strong>Item 4</strong> Allowable for X weeks"            },
            hint: {
              text: ""
            },
            id: "disregards-arrers-yes",
            name: "disregards-arrers-yes",
            classes: "govuk-input--width-30",
            attributes: {
              maxlength: 200
            }
          }) }}
        {% endset %}


        {{ govukCheckboxes({
          idPrefix: "disregards-arrers-yn",
          name: "disregards-arrers-yn",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },

          items: [
            {
              value: "Payments for arrears of benefits or Council Tax Reduction, or any payments to correct or compensate you for an official error",
              html: "Payments for arrears of benefits or Council Tax Reduction, or any payments to correct or compensate you for an official error",
              conditional: {
                html: arrearsOver
              }
            }
          ]
        }) }}

                </div>

  <!-------------- Check ---------------------->

          {% set warPaymentYes %}
            {{ govukTextarea({
              label: {
                html: "<strong>Item 1</strong> Allowable for X weeks<br><br><strong>Item 2</strong> Allowable for X weeks<br><br><strong>Item 3</strong> Allowable for X weeks<br><br><strong>Item 4</strong> Allowable for X weeks"              },
              hint: {
                text: ""
              },
              id: "disregards-warpayment-yes",
              name: "disregards-warpayment-yes",
              classes: "govuk-input--width-30",
              attributes: {
                maxlength: 200
              }
            }) }}
          {% endset %} 


          {{ govukCheckboxes({
            idPrefix: "disregards-warpayment-yn",
            name: "disregards-warpayment-yn",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: ""
            },

            items: [
              {
                value: "Compensation payments related to the second world war or service in the armed forces",
                html: "Compensation payments related to the second world war or service in the armed forces",
                conditional: {
                  html: warPaymentYes
                }
              }
            ]
          }) }}



    <!-------------- Check ---------------------->

            {% set compensationInjury %}
              {{ govukTextarea({
                label: {
                  html: "<strong>Item 1</strong> Allowable for X weeks<br><br><strong>Item 2</strong> Allowable for X weeks<br><br><strong>Item 3</strong> Allowable for X weeks<br><br><strong>Item 4</strong> Allowable for X weeks"                },
                hint: {
                  text: ""
                },
                id: "disregards-compensation-for-injury-yes",
                name: "disregards-compensation-for-injury-yes",
                classes: "govuk-input--width-30",
                attributes: {
                  maxlength: 200
                }
              }) }}
            {% endset %}


            {{ govukCheckboxes({
              idPrefix: "disregards-compensation-for-injury-yn",
              name: "disregards-compensation-for-injury-yn",
              fieldset: {
                legend: {
                  text: "",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: ""
              },

              items: [
                {
                  value: "Personal injury claim payments",
                  html: "Personal injury claim payments",
                  conditional: {
                    html: compensationInjury
                  }
                }
              ]
            }) }}

      <!-------------- Check ---------------------->

              {% set ContentsInsurance %}
                {{ govukTextarea({
                  label: {
                    html: "<strong>Item 1</strong> Allowable for X weeks<br><br><strong>Item 2</strong> Allowable for X weeks<br><br><strong>Item 3</strong> Allowable for X weeks<br><br><strong>Item 4</strong> Allowable for X weeks"
                  },
                  hint: {
                    text: ""
                  },
                  id: "disregards-contents-insurance-yes",
                  name: "disregards-contents-insurance-yes",
                  classes: "govuk-input--width-30",
                  attributes: {
                    maxlength: 200
                  }
                }) }}
              {% endset %}


              {{ govukCheckboxes({
                idPrefix: "disregards-contents-insurance-yn",
                name: "disregards-contents-insurance-yn",
                fieldset: {
                  legend: {
                    text: "",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                hint: {
                  text: ""
                },

                items: [
                  {
                    value: "Payments from a home insurance policy to covered lost or damaged personal possessions",
                    html: "Payments from a home insurance policy to covered lost or damaged personal possessions",
                    conditional: {
                      html: ContentsInsurance
                    }
                  }
                ]
              }) }}

        <!-------------- Check ---------------------->

                {% set moneyForProperty %}
                  {{ govukTextarea({
                    label: {
                      html: "<strong>Item 1</strong> Allowable for X weeks<br><br><strong>Item 2</strong> Allowable for X weeks<br><br><strong>Item 3</strong> Allowable for X weeks<br><br><strong>Item 4</strong> Allowable for X weeks"                    },
                    hint: {
                      text: ""
                    },
                    id: "disregards-money-for-property-yes",
                    name: "disregards-money-for-property-yes",
                    classes: "govuk-input--width-30",
                    attributes: {
                      maxlength: 200
                    }
                  }) }}
                {% endset %}


                {{ govukCheckboxes({
                  idPrefix: "disregards-money-for-property-yn",
                  name: "disregards-money-for-property-yn",
                  fieldset: {
                    legend: {
                      text: "",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: ""
                  },

                  items: [
                    {
                      value: "Money that you intend to use to buy or make essential repairs to your main home",
                      html: "Money that you intend to use to buy or make essential repairs to your main home",
                      conditional: {
                        html: moneyForProperty
                      }
                    }
                  ]
                }) }}

          <!-------------- Check ---------------------->

                  {% set independentlyLiving %}
                    {{ govukTextarea({
                      label: {
                        html: "<strong>Item 1</strong> Allowable for X weeks<br><br><strong>Item 2</strong> Allowable for X weeks<br><br><strong>Item 3</strong> Allowable for X weeks<br><br><strong>Item 4</strong> Allowable for X weeks"                      },
                      hint: {
                        text: ""
                      },
                      id: "disregards-independently-living-yes",
                      name: "disregards-independently-living-yes",
                      classes: "govuk-input--width-30",
                      attributes: {
                        maxlength: 200
                      }
                    }) }}
                  {% endset %}


                  {{ govukCheckboxes({
                    idPrefix: "disregards-independently-living-yn",
                    name: "disregards-independently-living-yn",
                    fieldset: {
                      legend: {
                        text: "",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--s"
                      }
                    },
                    hint: {
                      text: ""
                    },

                    items: [
                      {
                        value: "Payments made to you to help you live independently in your own home or the community",
                        html: "Payments made to you to help you live independently in your own home or the community",
                        conditional: {
                          html: independentlyLiving
                        }
                      }
                    ]
                  }) }}

            <!-------------- Check ---------------------->


                    {% set incidentPayment %}
                      {{ govukTextarea({
                        label: {
                          html: "<strong>Item 1</strong> Allowable for X weeks<br><br><strong>Item 2</strong> Allowable for X weeks<br><br><strong>Item 3</strong> Allowable for X weeks<br><br><strong>Item 4</strong> Allowable for X weeks"                        },
                        hint: {
                          text: ""
                        },
                        id: "disregards-incident-payment-yes",
                        name: "disregards-incident-payment-yes",
                        classes: "govuk-input--width-30",
                        attributes: {
                          maxlength: 200
                        }
                      }) }}
                    {% endset %}


                    {{ govukCheckboxes({
                      idPrefix: "disregards-incident-payment-yn",
                      name: "disregards-incident-payment-yn",
                      fieldset: {
                        legend: {
                          text: "",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--s"
                        }
                      },
                      hint: {
                        text: ""
                      },

                      items: [
                        {
                          value: "Payments made to you by a trust or discretionary fund follwing an incident or emergency",
                          html: "Payments made to you by a trust or discretionary fund follwing an incident or emergency",
                          conditional: {
                            html: incidentPayment
                          }
                        }
                      ]
                    }) }}

              <!-------------- Check ---------------------->


                      {% set windrushYes %}
                        {{ govukTextarea({
                          label: {
                            html: "<strong>Item 1</strong> Allowable for X weeks<br><br><strong>Item 2</strong> Allowable for X weeks<br><br><strong>Item 3</strong> Allowable for X weeks<br><br><strong>Item 4</strong> Allowable for X weeks"                          },
                          hint: {
                            text: ""
                          },
                          id: "disregards-windrush-yes",
                          name: "disregards-windrush-yes",
                          classes: "govuk-input--width-30",
                          attributes: {
                            maxlength: 200
                          }
                        }) }}
                      {% endset %}


                      {{ govukCheckboxes({
                        idPrefix: "disregards-windrush-yn",
                        name: "disregards-windrush-yn",
                        fieldset: {
                          legend: {
                            text: "",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--s"
                          }
                        },
                        hint: {
                          text: ""
                        },

                        items: [
                          {
                            value: "Windrush child compensation",
                            html: "Windrush child compensation",
                            conditional: {
                              html: windrushYes
                            }
                          }
                        ]
                      }) }}

                <!-------------- Check ---------------------->


                        {% set infectedBlood %}
                          {{ govukTextarea({
                            label: {
                              html: "<strong>Item 1</strong> Allowable for X weeks<br><br><strong>Item 2</strong> Allowable for X weeks<br><br><strong>Item 3</strong> Allowable for X weeks<br><br><strong>Item 4</strong> Allowable for X weeks"                            },
                            hint: {
                              text: ""
                            },
                            id: "disregards-blood-yes",
                            name: "disregards-blood-yes",
                            classes: "govuk-input--width-30",
                            attributes: {
                              maxlength: 200
                            }
                          }) }}
                        {% endset %}


                        {{ govukCheckboxes({
                          idPrefix: "disregards-blood-yn",
                          name: "disregards-blood-yn",
                          fieldset: {
                            legend: {
                              text: "",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--s"
                            }
                          },
                          hint: {
                            text: ""
                          },

                          items: [
                            {
                              value: "Money paid to you to support you with the effects of a blood infection or vCJD",
                              html: "Money paid to you to support you with the effects of a blood infection or vCJD",
                              conditional: {
                                html: infectedBlood
                              }
                            }
                          ]
                        }) }}

                  <!-------------- Check ---------------------->



                      <!-------------- Check ---------------------->


        {% endif %}

  <!------------------------------------>
  {% if data["disregards-type-select"] == "disregards-type-2" %}


  <p class="govuk-body govuk-!-font-weight-regular">
    <strong>Payments (other than War Disablement Pension or War Widow(er)s Pension) to compensate for the fact that during World War II you:</strong>
    <br>- were a slave labourer or forced labourer
    <br>- suffered property loss or personal injury
    <br>Disregarded for XX weeks
  </p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <p class="govuk-body govuk-!-font-weight-regular">
    <strong>Payments made to Far East Prisoners of War or their partners</strong>
    <br>Disregarded for XX weeks
  </p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <p class="govuk-body govuk-!-font-weight-regular"></strong>
    <strong>Armed Forces Independence Payment
      <br>Disregarded for XX weeks
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {{ govukTextarea({
      name: "more-detail",
      id: "more-detail",
      label: {
        text: "Add in the detials for the above?"
      },
      hint: {
        text: "Remember to not just say yes, no. Add in the title of the thing and the detials"
      }
    }) }}









<!--
  {{ govukRadios({
    idPrefix: "disregards-types-all",
    name: "disregards-types-all",
    fieldset: {
      legend: {
        text: "War and military compensation",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "XXXX."
    },
    items: [
    {
      value: "govuk-verify",
      text: "Arrears of benefits over £5,000",
      label: {
        classes: "govuk-label--s"
      },
      hint: {
        text: "XXXX."
      },
      checked: (data["disregards-types-all"] == "Yes")
    },

      {
        value: "govuk-verify",
        text: "Arrears of benefits under £5,000",
        label: {
          classes: "govuk-label--s"
        },
        hint: {
          text: "XXXX."
        },
        checked: (data["disregards-types-all"] == "Yes")
      },


      {
        value: "govuk-verify",
        text: "Payments of £5,000 or more to rectify of compensate for official error on payment of benefits",
        label: {
          classes: "govuk-label--s"
        },
        hint: {
          text: "XXXX."
        },
        checked: (data["disregards-types-all"] == "Yes")
      },

      {
        value: "govuk-verify",
        text: "4",
        label: {
          classes: "govuk-label--s"
        },
        hint: {
          text: "XXXX."
        },
        checked: (data["disregards-types-all"] == "Yes")
      },

      {
        value: "govuk-verify",
        text: "5",
        label: {
          classes: "govuk-label--s"
        },
        hint: {
          text: "XXXX."
        },
        checked: (data["disregards-types-all"] == "Yes")
      },
      {
        value: "None",
        text: "None",
        label: {
          classes: "govuk-label--s"
        },
        hint: {
          text: "XXXX."
        },
        checked: (data["disregards-types-all"] == "None")
      }

    ]
  }) }}


-->

  {% endif %}

  <!------------------------------------>

  {% if data["disregards-type-select"] == "disregards-type-3" %}

                  {{ govukRadios({
                    idPrefix: "disregards-types-all",
                    name: "disregards-types-all",
                    fieldset: {
                      legend: {
                        text: "Compensation for injury",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--xl"
                      }
                    },
                    hint: {
                      text: "XXXX."
                    },
                    items: [
                    {
                      value: "govuk-verify",
                      text: "1",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "XXXX."
                      },
                      checked: (data["disregards-types-all"] == "Yes")
                    },

                      {
                        value: "govuk-verify",
                        text: "2",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },


                      {
                        value: "govuk-verify",
                        text: "3",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },

                      {
                        value: "govuk-verify",
                        text: "4",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },

                      {
                        value: "govuk-verify",
                        text: "5",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },
                      {
                        value: "None",
                        text: "None",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "None")
                      }

                    ]
                  }) }}

                  {% endif %}
      <!------------------------------------>
      {% if data["disregards-type-select"] == "disregards-type-4" %}

                  {{ govukRadios({
                    idPrefix: "disregards-types-all",
                    name: "disregards-types-all",
                    fieldset: {
                      legend: {
                        text: "Contents insurance",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--xl"
                      }
                    },
                    hint: {
                      text: "XXXX."
                    },
                    items: [
                    {
                      value: "govuk-verify",
                      text: "1",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "XXXX."
                      },
                      checked: (data["disregards-types-all"] == "Yes")
                    },

                      {
                        value: "govuk-verify",
                        text: "2",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },


                      {
                        value: "govuk-verify",
                        text: "3",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },

                      {
                        value: "govuk-verify",
                        text: "4",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },

                      {
                        value: "govuk-verify",
                        text: "5",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },
                      {
                        value: "None",
                        text: "None",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "None")
                      }

                    ]
                  }) }}

                  {% endif %}
      <!------------------------------------>
      {% if data["disregards-type-select"] == "disregards-type-5" %}

                  {{ govukRadios({
                    idPrefix: "disregards-types-all",
                    name: "disregards-types-all",
                    fieldset: {
                      legend: {
                        text: "Money for buying or improving property",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--xl"
                      }
                    },
                    hint: {
                      text: "XXXX."
                    },
                    items: [
                    {
                      value: "govuk-verify",
                      text: "1",
                      label: {
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "XXXX."
                      },
                      checked: (data["disregards-types-all"] == "Yes")
                    },

                      {
                        value: "govuk-verify",
                        text: "2",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },


                      {
                        value: "govuk-verify",
                        text: "3",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },

                      {
                        value: "govuk-verify",
                        text: "4",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },

                      {
                        value: "govuk-verify",
                        text: "5",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },
                      {
                        value: "None",
                        text: "None",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "None")
                      }

                    ]
                  }) }}

                  {% endif %}
      <!------------------------------------>
      {% if data["disregards-type-select"] == "disregards-type-6" %}

                    {{ govukRadios({
                      idPrefix: "disregards-types-all",
                      name: "disregards-types-all",
                      fieldset: {
                        legend: {
                          text: "Money to help you live independently in the community",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--xl"
                        }
                      },
                      hint: {
                        text: "XXXX."
                      },
                      items: [
                      {
                        value: "govuk-verify",
                        text: "1",
                        label: {
                          classes: "govuk-label--s"
                        },
                        hint: {
                          text: "XXXX."
                        },
                        checked: (data["disregards-types-all"] == "Yes")
                      },

                        {
                          value: "govuk-verify",
                          text: "2",
                          label: {
                            classes: "govuk-label--s"
                          },
                          hint: {
                            text: "XXXX."
                          },
                          checked: (data["disregards-types-all"] == "Yes")
                        },


                        {
                          value: "govuk-verify",
                          text: "3",
                          label: {
                            classes: "govuk-label--s"
                          },
                          hint: {
                            text: "XXXX."
                          },
                          checked: (data["disregards-types-all"] == "Yes")
                        },

                        {
                          value: "govuk-verify",
                          text: "4",
                          label: {
                            classes: "govuk-label--s"
                          },
                          hint: {
                            text: "XXXX."
                          },
                          checked: (data["disregards-types-all"] == "Yes")
                        },

                        {
                          value: "govuk-verify",
                          text: "5",
                          label: {
                            classes: "govuk-label--s"
                          },
                          hint: {
                            text: "XXXX."
                          },
                          checked: (data["disregards-types-all"] == "Yes")
                        },
                        {
                          value: "None",
                          text: "None",
                          label: {
                            classes: "govuk-label--s"
                          },
                          hint: {
                            text: "XXXX."
                          },
                          checked: (data["disregards-types-all"] == "None")
                        }

                      ]
                    }) }}


                    {% endif %}
        <!------------------------------------>
        {% if data["disregards-type-select"] == "disregards-type-7" %}

                          {{ govukRadios({
                            idPrefix: "disregards-types-all",
                            name: "disregards-types-all",
                            fieldset: {
                              legend: {
                                text: "Payments to help you if you have been involved in an inident or emergency",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--xl"
                              }
                            },
                            hint: {
                              text: "XXXX."
                            },
                            items: [
                            {
                              value: "govuk-verify",
                              text: "1",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },

                              {
                                value: "govuk-verify",
                                text: "2",
                                label: {
                                  classes: "govuk-label--s"
                                },
                                hint: {
                                  text: "XXXX."
                                },
                                checked: (data["disregards-types-all"] == "Yes")
                              },


                              {
                                value: "govuk-verify",
                                text: "3",
                                label: {
                                  classes: "govuk-label--s"
                                },
                                hint: {
                                  text: "XXXX."
                                },
                                checked: (data["disregards-types-all"] == "Yes")
                              },

                              {
                                value: "govuk-verify",
                                text: "4",
                                label: {
                                  classes: "govuk-label--s"
                                },
                                hint: {
                                  text: "XXXX."
                                },
                                checked: (data["disregards-types-all"] == "Yes")
                              },

                              {
                                value: "govuk-verify",
                                text: "5",
                                label: {
                                  classes: "govuk-label--s"
                                },
                                hint: {
                                  text: "XXXX."
                                },
                                checked: (data["disregards-types-all"] == "Yes")
                              },
                              {
                                value: "None",
                                text: "None",
                                label: {
                                  classes: "govuk-label--s"
                                },
                                hint: {
                                  text: "XXXX."
                                },
                                checked: (data["disregards-types-all"] == "None")
                              }

                            ]
                          }) }}


                          {% endif %}
              <!------------------------------------>
              {% if data["disregards-type-select"] == "disregards-type-8" %}

                        {{ govukRadios({
                          idPrefix: "disregards-types-all",
                          name: "disregards-types-all",
                          fieldset: {
                            legend: {
                              text: "Windrush",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--xl"
                            }
                          },
                          hint: {
                            text: "XXXX."
                          },
                          items: [
                          {
                            value: "govuk-verify",
                            text: "1",
                            label: {
                              classes: "govuk-label--s"
                            },
                            hint: {
                              text: "XXXX."
                            },
                            checked: (data["disregards-types-all"] == "Yes")
                          },

                            {
                              value: "govuk-verify",
                              text: "2",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },


                            {
                              value: "govuk-verify",
                              text: "3",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },

                            {
                              value: "govuk-verify",
                              text: "4",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },

                            {
                              value: "govuk-verify",
                              text: "5",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },
                            {
                              value: "None",
                              text: "None",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "None")
                            }

                          ]
                        }) }}


                        {% endif %}
            <!------------------------------------>
            {% if data["disregards-type-select"] == "disregards-type-9" %}

                        {{ govukRadios({
                          idPrefix: "disregards-types-all",
                          name: "disregards-types-all",
                          fieldset: {
                            legend: {
                              text: "Money paid to you for blood infection or CJD",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--xl"
                            }
                          },
                          hint: {
                            text: "XXXX."
                          },
                          items: [
                          {
                            value: "govuk-verify",
                            text: "1",
                            label: {
                              classes: "govuk-label--s"
                            },
                            hint: {
                              text: "XXXX."
                            },
                            checked: (data["disregards-types-all"] == "Yes")
                          },

                            {
                              value: "govuk-verify",
                              text: "2",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },


                            {
                              value: "govuk-verify",
                              text: "3",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },

                            {
                              value: "govuk-verify",
                              text: "4",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },

                            {
                              value: "govuk-verify",
                              text: "5",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },
                            {
                              value: "None",
                              text: "None",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "None")
                            }

                          ]
                        }) }}

                        {% endif %}
            <!------------------------------------>
            {% if data["disregards-type-select"] == "disregards-type-10" %}

                        {{ govukRadios({
                          idPrefix: "disregards-types-all",
                          name: "disregards-types-all",
                          fieldset: {
                            legend: {
                              text: "Money paid to you for blood infection or CJD",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--xl"
                            }
                          },
                          hint: {
                            text: "XXXX."
                          },
                          items: [
                          {
                            value: "govuk-verify",
                            text: "1",
                            label: {
                              classes: "govuk-label--s"
                            },
                            hint: {
                              text: "XXXX."
                            },
                            checked: (data["disregards-types-all"] == "Yes")
                          },

                            {
                              value: "govuk-verify",
                              text: "2",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },


                            {
                              value: "govuk-verify",
                              text: "3",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },

                            {
                              value: "govuk-verify",
                              text: "4",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },

                            {
                              value: "govuk-verify",
                              text: "5",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "Yes")
                            },
                            {
                              value: "None",
                              text: "None",
                              label: {
                                classes: "govuk-label--s"
                              },
                              hint: {
                                text: "XXXX."
                              },
                              checked: (data["disregards-types-all"] == "None")
                            }

                          ]
                        }) }}

                        {% endif %}

        <!------------------------------------>


  <br>


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

    </div>
  </div>
{% endblock %}
