{% extends "layout.html" %}

{% block pageTitle %}
  Add bulding society current account - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-missing-account-summary" method="post" class="form">
      <h1 class="govuk-heading-xl">
        Money held in other countries
      </h1>

      {{ govukInput({
        label: {
          text: "Name or type of account"
        },
        id: "msic-cash-other-abroad-name",
        name: "msic-cash-other-abroad-name",
        classes: "govuk-input--width-20"
      }) }}


          {{ govukInput({
        label: {
          html: "Total amount in this account, from <strong>Today</strong>"
        },
        id: "msic-cash-other-abroad-amount",
        name: "msic-cash-other-abroad-amount",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Currency of this"
        },
        id: "msic-cash-other-abroad-currency",
        name: "msic-cash-other-abroad-currency",
        classes: "govuk-input--width-20"
      }) }}



      {% set percentageField %}
        {{ govukInput({
          label: {
            text: "Percentage stake"
          },
          id: "msic-cash-other-abroad-stake",
          name: "msic-cash-other-abroad-stake",
          classes: "govuk-input--width-5"
        }) }}
      {% endset %}

      {{ govukRadios({
        idPrefix: "msic-cash-other-abroad-owner",
        name: "msic-cash-other-abroad-owner",
        fieldset: {
          legend: {
            text: "Who does this account belong to?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "You",
            text: "You"
          },
          {
            value: "Joint account",
            text: "Joint account (joint account)",
            conditional: {
              html: percentageField
            }
          }
        ]
      }) }}

      <p class="govuk-body"></p>

      {{ govukTextarea({
        label: {
        html: "Because this wan't on our list give more details if possible"
        },
        name: "msic-cash-other-abroad-detail",
        id: "msic-cash-other-abroad-detail",

        value: data["msic-cash-other-abroad-detail"]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
