{% extends "layout.html" %}

{% block pageTitle %}
  Do you have a current account? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-second-property-value" method="post" class="form">
      <h1 class="govuk-heading-xl">
        Add in the Niall Address Module here
      </h1>
Questions Is this a UK address?

UK or other <br>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
