{% extends "layout.html" %}

{% block pageTitle %}
  other-income-equity-release-yes - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="other-income-everything-else-yes" method="post" class="form">

      <input type="hidden" name="disregards-summary-complete" value="in-progress"/>

      <h1 class="govuk-heading-xl"><span class="agent-action">Details of income from an equity release scheme</h1>



        {% set homeIncomePlanYes %}

        {{ govukRadios({
          idPrefix: "other-income-home-income-plan-yes",
          name: "other-income-home-income-plan-yes",
          fieldset: {
            legend: {
              html: "<strong>Used to buy annuity?</strong>",
              isPageHeading: true,
              classes: "<!--govuk-fieldset__legend--s-->"
            }
          },
          hint: {
            text: "I think we need a better understanding of this"
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data["other-income-home-income-plan-yes"] == "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: (data["other-income-home-income-plan-yes"] == "No")
            }
          ]
        }) }}
        {% endset -%}


        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "other-income-home-income-plan-yn",
          name: "other-income-home-income-plan-yn",
          fieldset: {
            legend: {
              html: "Was this a home income plan?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data["other-income-home-income-plan-yn"] == "Yes"),
              conditional: {
                html: homeIncomePlanYes
              }
            },
              {
                value: "No",
                text: "No",
                checked: (data["other-income-home-income-plan-yn"] == "No")
              }
            ]
          }) }}










<br>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

  </div>
</div>
{% endblock %}
