{% extends "layout.html" %}

{% block pageTitle %}
  Are you in paid employment? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="other-income-employment-type-router" method="post" class="form">

      <input type="hidden" name="employment-complete" value="in-progress"/>


        <div class="govuk-panel--agent">
          <h1 class="govuk-heading-m"><span class="agent-action">Agent: Check in SearchLight and give an overview of their earnings and income</h1>
          </div>

      {{ govukRadios({
        idPrefix: "other-income-employment-type-yn",
        name: "other-income-employment-type-yn",
        fieldset: {
          legend: {
            html: "Where you doing any paid work between Day Month Year and today in this country or aboard?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "This country or aboard"
        },
        items: [
        {
            value: "All employment visabile SeachLight & other systems",
            text: "All employment visabile SeachLight & other systems",
            checked: (data["other-income-employment-type-yn"] == "All employment visabile SeachLight & other systems")
          },
          {
            value: "Self-employed",
            text: "Self-employed (Including royalties)",
            checked: (data["other-income-employment-type-yn"] == "Self-employed")
          },
          {
            value: "Both employed and self-employed",
            text: "Both employed and self-employed",
            checked: (data["other-income-employment-type-yn"] == "Both employed and self-employed")
          },
          {
            value: "Other paid work",
            text: "Other paid work",
            checked: (data["other-income-employment-type-yn"] == "Other paid work")
          },

          {
            value: "Not employed within this period",
            text: "Not employed within this period",
            checked: (data["other-income-employment-type-yn"] == "Not employed within this period")
          }
        ]
      }) }}
<!--            text: "Were you self-employed between Monday, 15 April 2019 and Today? " + tamDate,-->

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
