{% extends "layout.html" %}

{% block pageTitle %}
  Are you in paid employment? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="other-income-employment-type-router" method="post" class="form">

      <input type="hidden" name="employment-complete" value="in-progress"/>


        <div class="govuk-panel--agent">
          <h1 class="govuk-heading-m"><span class="agent-action">Agent: Check Searchlight and discuss the earnings and income shown. Establish whether Searchlight shows the correct income and earnings from this country and overseas since  {{data['claim-date-cam-date-entry-day'] + ' ' + (data['claim-date-cam-date-entry-month'] | getMonth) + ' ' + data['claim-date-cam-date-entry-year']}}.</h1>


      {{ govukRadios({
        idPrefix: "other-income-employment-type-yn",
        name: "other-income-employment-type-yn",
        fieldset: {
          legend: {
            html: "Can you use the income shown on Searchlight in the claimant’s Pension Credit calculation?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: ""
        },
        items: [
        {
            value: "All employment visible SeachLight & other systems",
            text: "Yes - Searchlight matches the claimant's understanding",
            checked: (data["other-income-employment-type-yn"] == "All employment visible SeachLight & other systems")
          },
          {
            value: "Self-employed",
            text: "No - The claimant has more income from self-employment or royalties",
            checked: (data["other-income-employment-type-yn"] == "Self-employed")
          },
          {
            value: "Both Other paid work and self-employed",
            text: "No - The claimant has more income from both employment and self-employment",
            checked: (data["other-income-employment-type-yn"] == "Both Other paid work and self-employed")
          },
          {
            value: "Other paid work",
            text: "No – The claimant has income from employment",
            checked: (data["other-income-employment-type-yn"] == "Other paid work")
          },
          {
            divider: "or"
          },
          {
            value: "SearchLight doesnt match",
            text: "No – The income Searchlight shows is wrong",
            checked: (data["other-income-employment-type-yn"] == "SearchLight doesnt match")
          }
        ]
      }) }}

                </div>
<!--            text: "Were you self-employed between Monday, 15 April 2019 and Today? " + tamDate,-->

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
