{% extends "layout.html" %}

{% block pageTitle %}
  Pensions - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="pensions-summary" method="post" class="form">

        <input type="hidden" name="disregards-summary-complete" value="in-progress"/>

        <h1 class="govuk-heading-xl">Do you have any other pensions or annuities that you don't have in payment or have taken a lump sum from?</h1>





  {% set pensionsOtherYes %}
    {{ govukTextarea({
      label: {
        html: "<strong>Name</strong> XXX<br><br><strong>LumpSum or regular</strong> XXX<br><br><strong>Date of payment</strong> XXX<br><br><strong>Value</strong> XXX<br><br><strong>PPR1 form may be needed</strong> XXX<br><br><strong>Evidence may be needed</strong> XXX"            },
      hint: {
        text: ""
      },
      id: "pensions-foreign-yes",
      name: "pensions-foreign-yes",
      classes: "govuk-input--width-30",
      attributes: {
        maxlength: 200
      }
    }) }}
  {% endset %}


  {{ govukCheckboxes({
    idPrefix: "pensions-other-yn",
    name: "pensions-other-yn",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: ""
    },

    items: [
      {
        value: "Other Pensions",
        html: "Other Pensions",
        conditional: {
          html: pensionsOtherYes
        }
      }
    ]
  }) }}



    <!-------------- Check ---------------------->
    {% set pensionsForeignYes %}
      {{ govukTextarea({
        label: {
          html: "<strong>Name</strong> XXX<br><br><strong>LumpSum or regular</strong> XXX<br><br><strong>Date of payment</strong> XXX<br><br><strong>Value</strong> XXX<br><br><strong>PPR1 form may be needed</strong> XXX<br><br><strong>Evidence may be needed</strong> XXX"            },
        hint: {
          text: ""
        },
        id: "pensions-foreign-yes",
        name: "pensions-foreign-yes",
        classes: "govuk-input--width-30",
        attributes: {
          maxlength: 200
        }
      }) }}
    {% endset %}


    {{ govukCheckboxes({
      idPrefix: "pensions-foreign-yn",
      name: "pensions-foreign-yn",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: ""
      },

      items: [
        {
          value: "Foreign Pensions",
          html: "Foreign Pensions",
          conditional: {
            html: pensionsForeignYes
          }
        }
      ]
    }) }}



<!-------------- Check ---------------------->


            {% set annuitiesYes %}
              {{ govukTextarea({
                label: {
                  html: "<strong>Name</strong> XXX<br><br><strong>LumpSum or regular</strong> XXX<br><br><strong>Date of payment</strong> XXX<br><br><strong>Value</strong> XXX<br><br><strong>PPR1 form may be needed</strong> XXX<br><br><strong>Evidence may be needed</strong> XXX"            },
                hint: {
                  text: ""
                },
                id: "pensions-anuities-yes",
                name: "pensions-anuities-yes",
                classes: "govuk-input--width-30",
                attributes: {
                  maxlength: 200
                }
              }) }}
            {% endset %}


            {{ govukCheckboxes({
              idPrefix: "pensions-annuities-yn",
              name: "pensions-anuities-yn",
              fieldset: {
                legend: {
                  text: "",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: ""
              },

              items: [
                {
                  value: "Annuities",
                  html: "Annuities",
                  conditional: {
                    html: annuitiesYes
                  }
                }
              ]
            }) }}

  <!------------------------------------>


  <br>


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

    </div>
  </div>
{% endblock %}
