{% extends "layout.html" %}

{% block pageTitle %}
  Disregard types - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="pensions-summary" method="post" class="form">

        <input type="hidden" name="disregards-summary-complete" value="in-progress"/>

      <div class="govuk-panel--agent">
         <h1 class="govuk-heading-xl">Agent: Ask the claimant about these </h1>
       </div>

        {% set foreignPensionsYes %}
        {% set foreignPensionsHint %}
        <p class=govuk-hint>XXXX:</p>
        <ul class="govuk-hint govuk-list govuk-list--bullet">
          <li>In payment ( Y / N )</li>
          <li>Provider name</li>
          <li>Type of NSP ( private / works / annuity / other)</li>
          <li>Net amount</li>
          <li>Start date</li>
          <li>Frequency of payment</li>
          <li>Type of increase ( RPI / Fixed / Other)</li>
        </ul>
      {% endset %}
          {{ govukTextarea({
            label: {
              classes: "govuk-label--s",
              html: "XX XX XX"
            },
            hint: {
              html: foreignPensionsHint},
            id: "foreign-pensions-yes",
            name: "foreign-pensions-yes",
            classes: "govuk-input--width-100",
            attributes: {
              maxlength: 200
            }
          }) }}
        {% endset %}

        <!-------------------------------------->

        {% set foreignPrivatePensionYes %}
        {% set foreignPensionsHint %}
        <p class=govuk-hint>XXXX:</p>
        <ul class="govuk-hint govuk-list govuk-list--bullet">
          <li>In payment ( Y / N )</li>
          <li>Provider name</li>
          <li>Type of NSP ( private / works / annuity / other)</li>
          <li>Net amount</li>
          <li>Start date</li>
          <li>Frequency of payment</li>
          <li>Type of increase ( RPI / Fixed / Other)</li>
        </ul>
      {% endset %}
          {{ govukTextarea({
            label: {
              classes: "govuk-label--s",
              html: "XX XX XX"
            },
            hint: {
              html: foreignPensionsHint},
            id: "foreign-private-pension-yes",
            name: "foreign-private-pension-yes",
            classes: "govuk-input--width-100",
            attributes: {
              maxlength: 200
            }
          }) }}
        {% endset %}

        <!-------------------------------------->

        {% set foreignStatePensionYes %}
        {% set foreignStatePensionHint %}
        <p class=govuk-hint>XXXX:</p>
        <ul class="govuk-hint govuk-list govuk-list--bullet">
          <li>In payment ( Y / N )</li>
          <li>Provider name</li>
          <li>Type of NSP ( private / works / annuity / other)</li>
          <li>Net amount</li>
          <li>Start date</li>
          <li>Frequency of payment</li>
          <li>Type of increase ( RPI / Fixed / Other)</li>
        </ul>
      {% endset %}
          {{ govukTextarea({
            label: {
              classes: "govuk-label--s",
              html: "XX XX XX"
            },
            hint: {
              html: foreignStatePensionHint},
            id: "foreign-state-pension-yes",
            name: "foreign-state-pension-yes",
            classes: "govuk-input--width-100",
            attributes: {
              maxlength: 200
            }
          }) }}
        {% endset %}

        <!-------------------------------------->

        {% set pensionNotClaimedYes %}
        {% set pensionNotClaimedHint %}
        <p class=govuk-hint>XXXX:</p>
        <ul class="govuk-hint govuk-list govuk-list--bullet">
          <li>In payment ( Y / N )</li>
          <li>Provider name</li>
          <li>Type of NSP ( private / works / annuity / other)</li>
          <li>Net amount</li>
          <li>Start date</li>
          <li>Frequency of payment</li>
          <li>Type of increase ( RPI / Fixed / Other)</li>
        </ul>
      {% endset %}
          {{ govukTextarea({
            label: {
              classes: "govuk-label--s",
              html: "XX XX XX"
            },
            hint: {
              html: pensionNotClaimedHint},
            id: "pension-not-claimed-yes",
            name: "pension-not-claimed-yes",
            classes: "govuk-input--width-100",
            attributes: {
              maxlength: 200
            }
          }) }}
        {% endset %}

        <!-------------------------------------->

        {% set otherPensionYes %}
        {% set otherPensionHint %}
        <p class=govuk-hint>XXXX:</p>
        <ul class="govuk-hint govuk-list govuk-list--bullet">
          <li>In payment ( Y / N )</li>
          <li>Provider name</li>
          <li>Type of NSP ( private / works / annuity / other)</li>
          <li>Net amount</li>
          <li>Start date</li>
          <li>Frequency of payment</li>
          <li>Type of increase ( RPI / Fixed / Other)</li>
        </ul>
      {% endset %}
          {{ govukTextarea({
            label: {
              classes: "govuk-label--s",
              html: "XX XX XX"
            },
            hint: {
              html: foreignPensionsHint},
            id: "other-pension-yes",
            name: "other-pension-yes",
            classes: "govuk-input--width-100",
            attributes: {
              maxlength: 200
            }
          }) }}
        {% endset %}

        <!-------------------------------------->

        {% set annuitiesYes %}
        {% set annuitiesHint %}
        <p class=govuk-hint>@Pete this one is TBC / (Only collect if it's not part of a Home Income Plan) Dan Metcalfe Nick Valentine Can we clarify this please:</p>
        <ul class="govuk-hint govuk-list govuk-list--bullet">
          <li>In payment ( Y / N )</li>
          <li>Provider name</li>
          <li>Type of NSP ( private / works / annuity / other)</li>
          <li>Net amount</li>
          <li>Start date</li>
          <li>Frequency of payment</li>
          <li>Type of increase ( RPI / Fixed / Other)</li>
          <li>Type of increase ( RPI / Fixed / Other)</li>
        </ul>
      {% endset %}
          {{ govukTextarea({
            label: {
              classes: "govuk-label--s",
              html: "XX XX XX"
            },
            hint: {
              html: annuitiesHint},
            id: "annuities-yes",
            name: "annuities-yes",
            classes: "govuk-input--width-100",
            attributes: {
              maxlength: 200
            }
          }) }}
        {% endset %}


        <!-------------------------------------->

        {{ govukCheckboxes({
          name: "pensions-monolith",
          fieldset: {
            legend: {
              text: "This is some stufff",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
          {
              name: 'foreign-pensions-yn',
              value: "foreign-pensions-yn",
              html: "foreign-pensions-yn",
              conditional: {
                html: foreignPensionsYes
              }
            },
            {
                name: 'foreign-private-pension-yn',
                value: "foreign-private-pension-yn",
                html: "foreign-private-pension-yn",
                conditional: {
                  html: foreignPrivatePensionYes
                }
              },
              {
                  name: 'foreign-state-pension-yn',
                  value: "foreign-state-pension-yn",
                  html: "foreign-state-pension-yn",
                  conditional: {
                    html: foreignStatePensionYes
                  }
                },
                {
                    name: 'pension-not-claimed-yn',
                    value: "pension-not-claimed-yn",
                    html: "pension-not-claimed-yn",
                    conditional: {
                      html: pensionNotClaimedYes
                    }
                  },
                  {
                      name: 'other-pension-yn',
                      value: "other-pension-yn",
                      html: "other-pension-yn",
                      conditional: {
                        html: otherPensionYes
                      }
                    },
              {
                  name: 'annuities-yn',
                  value: "annuities-yn",
                  html: "annuities-yn",
                  conditional: {
                    html: annuitiesYes
                  }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

    </div>
  </div>
{% endblock %}
