{% extends "layout.html" %}

{% block pageTitle %}
  Post Pension Credit index - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}




<!----------------------------------------------------------------------------------->

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="start" method="post" class="form">

      <input type="hidden" name="contact-complete" value="in-progress"/>

      <div class="govuk-panel--agent">


    <h1 class="govuk-heading-xl">
      Agent: What to do next
    </h1>




{% if data["msic-second-property-yn"] == "yes" %}

<h2 class="govuk-heading-m">Complete form A64a</h2>

<p class="govuk-body">(Name) told you they own property or land other than their home.</p>
<p class="govuk-body">Complete form <a href="https://intranet.dwp.gov.uk/manual/single-source-guidance/telephone-completion-form-a64apc-valuation-property-uk-or-abroad">A64a (opens in a new window or tab)</a> and upload the PDF to PTPCAM or DRS.</p>

{% endif %}

<!----------------------------------------------------------------------------------->
{% if data["rent-housing-benefit-apply"] == "Yes" %}

<h2 class="govuk-heading-m govuk-!-padding-top-6">Take Housing Benefit application</h2>

<p class="govuk-body">(Name) told you they want to apply for Housing Benefit.</p>
<p class="govuk-body">This will take around 20 minutes and their claim will be sent to their local authority.</p>
<p class="govuk-body">Complete the <a href="#">Housing Benefit claim (opens in a new window or tab)<a/> and upload it to PTP CAM or DRS.</p>


{% endif %}

<!----------------------------------------------------------------------------------->
{% if (data["rent-council-tax-apply"] == "Yes") or (data["own-council-tax-apply"] == "Yes") %}

<h2 class="govuk-heading-m govuk-!-padding-top-6">Sign post to Council Tax Reduction (Rent and owns)</h2>

<p class="govuk-body">XXXX</p>
<p class="govuk-body">XXXX</p>
<p class="govuk-body">XXXX</p>


{% endif %}

<!----------------------------------------------------------------------------------->
{% if data["own-mortgage-home-loan-yes"] == "Yes" %}

<h2 class="govuk-heading-m govuk-!-padding-top-6">Sign post to SMI</h2>

<p class="govuk-body">XXXX</p>
<p class="govuk-body">XXXX</p>
<p class="govuk-body">XXXX</p>


{% endif %}

<!----------------------------------------------------------------------------------->


        <h2 class="govuk-heading-m govuk-!-padding-top-6">Ask about Carer's Allowance</h2>

          <p class="govuk-body">If (Name) cares for someone for more that 35 hours a week, give them the details of how to claim <a href="https://www.gov.uk/carers-allowance">Carer's Allowance (Opens in a new window or tab)<a/>.</p>
          <ul class="govuk-list govuk-list">
          <li>Telephone: 0800 731 0297</li>
          <li>Textphone: 0800 731 0317</li>
          <li><a href="https://www.ngts.org.uk/" class="govuk-link govuk-link--no-visited-state">Next Generation Text (NGT)</a> text relay (if you cannot hear or speak on the phone): 18001 then 0800 731 0297</li>
              <li>Monday to Friday, 8am to 6pm</li>
              <li><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state">Find out about call charges  (Opens in new window)</a></li>
          </ul>


        </div>

<!----------------------------------------------------------------------------------->








<!----------------------------------------------------------------------------------->

<br><br>

      {{ govukButton({
        text: "Finish and close"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
