{% extends "layout.html" %}

{% block pageTitle %}
  Contact formats - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="contact-summary" method="post" class="form">

      <input type="hidden" name="contact-formats-complete" value="in-progress"/>


<div class="govuk-panel--agent">


            <h2 class="govuk-heading-xl govuk-!-margin-bottom-2">Risks around email</h2>

            <p class="govuk-body govuk-!-margin-bottom-2">We can only use email if a disability means that you are not able to read letters. If they have any of these disability, X, Y and Z: </p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
               <!--<li>previous Pension Credit claims</li>-->
                <li>@BA / @pete: Risk A</li>
                <li>@BA / @pete: Risk B</li>
                <li>@BA / @pete: Risk C</li>
                <li>@BA / @pete: Risk D</li>
                </ul>

      {% set hasEmail %}
      {{ govukInput({
    label: {
      html: "Email address"
    },
    id: "contact-formats-email-yes",
    name: "contact-formats-email-yes",
    classes: "govuk-input--width-20"
  }) }}
      {% endset -%}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "contact-formats-email-yn",
        name: "contact-formats-email-yn",
        fieldset: {
          legend: {
            html: "Is the claimant happy with the risks and would like us to email?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["contact-formats-email-yn"] == "Yes"),
          conditional: {
            html: hasEmail
          }
        },
        {
          value: "No",
          text: "No",
          checked: (data["contact-formats-email-yn"] == "No")
        }

        ]
      }) }}



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
    <p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>


  </div>
</div>
{% endblock %}
