{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Housing benefit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="home-rent-housing-benefit-router" method="post" class="form">


      {% set legendHint %}

      <p></p>
      <p class="govuk-!-font-size-24">If you are already getting Housing Benefit, your claim will continue. If you are getting a housing 
        payment from Universal Credit, this will stop if you move to Pension Credit.</p>


      <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Do you want to apply for Housing Benefit if you are not getting it already?</p>


      {% endset -%}

      {{ govukRadios({
        idPrefix: "home-rent-housing-benefit",
        name: "home-rent-housing-benefit",
        fieldset: {
          legend: {
            text: "If your Pension Credit application is successful you could also get Housing Benefit",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: legendHint
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["home-rent-housing-benefit-check"] == "Yes")

            },
          {
            value: "No",
            text: "No",
            checked: (data["home-rent-housing-benefit-check"] == "No")
          }
        ]
      }) }}




      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
