{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Have you spent any time in hospital recently? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="state-pension-status-router" method="post" class="form">

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="hospitals-complete" value="true"/>


      {{ govukRadios({
        idPrefix: "state-pension-status",
        name: "state-pension-status",
        fieldset: {
          legend: {
            text: "Have you claimed your State Pension?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }

        },
        hint: {
          text: ""


        },
        classes: "govuk-radios",
        items: [
          {
            value: "Yes",
            text: "Yes, I claimed my State Pension and it is in payment",
            checked: (data["state-pension-status"] == "Yes")
          },
          {
            value: "Yes",
            text: "Yes, I claimed my State Pension but I am waiting for the first payment",
            checked: (data["state-pension-status"] == "Yes")
          },
          {
            value: "NoBank",
            text: "Yes, I made a claim for a State Pension but I am not entitled to one",
            checked: (data["state-pension-status"] == "NoBank")
          },
          {
            value: "NoSP",
            text: "No, I have not claimed my State Pension yet",
            checked: (data["state-pension-status"] == "NoSP")
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
