{% extends "layout.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  <!-- {% include "includes/internal-header.html" %} -->
  {% include "explore-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="process-b-nil-task-list" method="post" class="form">

        {% include "agent-service-1-1/agent/record-id.html" %}


      <p class="govuk-heading-xl govuk-!-margin-bottom-8">[Task 4] Future contact</p>

      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Cross referece citizens provided details using AfPC with what was found in CIZ</p> -->

    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <!------------Legend------------>

  {% set legendCheck1 %}

{{ govukCheckboxes({
  idPrefix: "process-b-nil-task-4-check-1",
  name: "process-b-nil-task-4-check-1",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s govuk-!-padding-top-0 govuk-!-margin-top-0"
    }
  },
  items: [
    {
      classes: "govuk-!-padding-top-0 govuk-!-margin-top-0",
      value: "Pass",
      text: " ",
      checked: data['process-b-nil-task-4-check-1'] == "Pass"
    }
  ]
}) }}

{% endset %}

{% set legendCheck2 %}

{{ govukCheckboxes({
idPrefix: "process-b-nil-task-4-check-2",
name: "process-b-nil-task-4-check-2",
classes: "govuk-checkboxes--small",
fieldset: {
  legend: {
    text: "",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--s govuk-!-padding-top-0 govuk-!-margin-top-0"
  }
},
items: [
  {
    classes: "govuk-!-padding-top-0 govuk-!-margin-top-0",
    value: "Pass",
    text: " ",
    checked: data['process-b-nil-task-4-check-2'] == "Pass"
  }
]
}) }}

{% endset %}

{% set legendCheck3 %}

{{ govukCheckboxes({
idPrefix: "process-b-nil-task-4-check-3",
name: "process-b-nil-task-4-check-3",
classes: "govuk-checkboxes--small",
fieldset: {
  legend: {
    text: "",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--s govuk-!-padding-top-0 govuk-!-margin-top-0"
  }
},
items: [
  {
    classes: "govuk-!-padding-top-0 govuk-!-margin-top-0",
    value: "Pass",
    text: " ",
    checked: data['process-b-nil-task-4-check-3'] == "Pass"
  }
]
}) }}

{% endset %}

      <!------------Legend------------>
        {% set tagSL %}

        {{govukTag({
           text: "SEARCHLIGHT",
           classes: "govuk-tag--blue"
         })}}

      {% endset %}

        {% set tagCPS %}

        {{govukTag({
           text: "CPS",
           classes: "govuk-tag--yellow"
         })}}

      {% endset %}

      {% set tagCAM %}

      {{govukTag({
         text: "CAM",
         classes: "govuk-tag--red"
       })}}

    {% endset %}
    <!------------Legend------------>



        {{ govukTable({
          caption: "",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            {
              text: "Information to check",
              classes: 'govuk-30-percent'
            },
            {
              html: "Citizen supplied [AfPC]",
              classes: 'govuk-30-percent'
            },
            {
              html: "DWP data / Source",
              classes: 'govuk-30-percent'
            },
            {
              text: "Correct",
              classes: 'govuk-20-percent'
            }
          ],
          rows: [
                [
                  {
                    text: "Registered blind or severely sight impaired"
                  },
                  {
                    text: "No"
                  },
                  {
                    html: tagCAM
                  },
                  {
                    html: legendCheck1
                  }
                ],
                [
                  {
                    text: "Commnication needs"
                  },
                  {
                    text: "None"
                  },
                  {
                    html: tagSL
                  },
                  {
                    html: legendCheck2
                  }
                ],
                [
                  {
                    text: "Delegated authorities"
                  },
                  {
                    text: "None"
                  },
                  {
                    html: tagSL
                  },
                  {
                    html: legendCheck3
                  }
                ]
          ]
        }) }}



        <!------------ ––– ------------>

    </div>
  </div>

  {{ govukRadios({
    idPrefix: "process-b-nil-task-4",
    name: "process-b-nil-task-4",
    fieldset: {
      legend: {
        text: "What happened?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m govuk-!-padding-top-4"
      }
    },
    hint: {
      html: hintLegend
    },
    classes: "govuk-radios govuk-!-padding-bottom-0",
    items: [
    {
      value: "Passed",
      text: "Passed",
      checked: (data["process-b-nil-task-4"] == "Passed")
    },
      {
        value: "Failed",
        text: "Failed",
        checked: (data["process-b-nil-task-4"] == "Failed")
      },
      {
        value: "unfinished",
        text: "I can't complete",
        checked: (data["process-b-nil-task-4"] == "unfinished")
      }
    ]
  }) }}

    {{ govukButton({
      text: "Submit"
    }) }}
  </form>

{% endblock %}
