{% extends "layout.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  <!-- {% include "includes/internal-header.html" %} -->
  {% include "explore-header.html" %}
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="process-2-nil-task-3-more" method="post" class="form">
        <input type="hidden" name="nil-task-2-passed" value="passed">

      <p class="govuk-heading-xl govuk-!-margin-bottom-8">You are about to exit the process early</p>

      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-1">Supplied from CAM/SL:</p>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6"><strong>data item to check</strong></p> -->


    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukRadios({
          idPrefix: "process-2-nil-task-3-1",
          name: "process-2-nil-task-3-1",
          fieldset: {
            legend: {
              text: "What happened?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-0"
            }
          },
          hint: {
            html: hintLegend
          },
          classes: "govuk-radios",
          items: [
            {
              value: "Couln't make contact, need to try again later",
              text: "Couln't make contact, need to try again later",
              checked: (data["process-2-nil-task-3-1"] == "Couln't make contact")
            },
            {
              value: "I need to push this to BAU",
              text: "I need to push this to BAU",
              checked: (data["process-2-nil-task-3-1"] == "I need to push this to BAU")
            },
            {
              value: "Something else",
              text: "Something else",
              checked: (data["process-2-nil-task-3-1"] == "Something else")
            }
          ]
        }) }}



        <!------------ ––– ------------>

    </div>
  </div>



    {{ govukButton({
      text: "Contine"
    }) }}
  </form>

{% endblock %}
