{% extends "layout.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  <!-- {% include "includes/internal-header.html" %} -->
  {% include "explore-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="process-b-nil-task-list" method="post" class="form">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Jeff Bridges</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">NA 11 22 33 c</p>

      <p class="govuk-heading-xl govuk-!-margin-bottom-8">[Task 1] Identity</p>

      <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">Cross referece citizens provided details using AfPC with what was found in CIZ</p> -->

    </div>
  </div>


    <!------------ ––– ------------>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <!------------Legend------------>
          {% set legendCheck1 %}

        {{ govukCheckboxes({
          idPrefix: "process-b-nil-task-1-check-1",
          name: "process-b-nil-task-1-check-1",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s govuk-!-padding-top-0 govuk-!-margin-top-0"
            }
          },
          items: [
            {
              classes: "govuk-!-padding-top-0 govuk-!-margin-top-0",
              value: "Pass",
              text: " ",
              checked: data['process-b-nil-task-1-check-1'] == "Pass"
            }
          ]
        }) }}

        {% endset %}

        {% set legendCheck2 %}

      {{ govukCheckboxes({
        idPrefix: "process-b-nil-task-1-check-2",
        name: "process-b-nil-task-1-check-2",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s govuk-!-padding-top-0 govuk-!-margin-top-0"
          }
        },
        items: [
          {
            classes: "govuk-!-padding-top-0 govuk-!-margin-top-0",
            value: "Pass",
            text: " ",
            checked: data['process-b-nil-task-1-check-2'] == "Pass"
          }
        ]
      }) }}

      {% endset %}

      {% set legendCheck3 %}

    {{ govukCheckboxes({
      idPrefix: "process-b-nil-task-1-check-3",
      name: "process-b-nil-task-1-check-3",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s govuk-!-padding-top-0 govuk-!-margin-top-0"
        }
      },
      items: [
        {
          classes: "govuk-!-padding-top-0 govuk-!-margin-top-0",
          value: "Pass",
          text: " ",
          checked: data['process-b-nil-task-1-check-3'] == "Pass"
        }
      ]
    }) }}

    {% endset %}

    {% set legendCheck4 %}

  {{ govukCheckboxes({
    idPrefix: "process-b-nil-task-1-check-4",
    name: "process-b-nil-task-1-check-4",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s govuk-!-padding-top-0 govuk-!-margin-top-0"
      }
    },
    items: [
      {
        classes: "govuk-!-padding-top-0 govuk-!-margin-top-0",
        value: "Pass",
        text: " ",
        checked: data['process-b-nil-task-1-check-4'] == "Pass"
      }
    ]
  }) }}

  {% endset %}

  {% set legendCheck5 %}

{{ govukCheckboxes({
  idPrefix: "process-b-nil-task-1-check-5",
  name: "process-b-nil-task-1-check-5",
  classes: "govuk-checkboxes--small",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s govuk-!-padding-top-0 govuk-!-margin-top-0"
    }
  },
  items: [
    {
      classes: "govuk-!-padding-top-0 govuk-!-margin-top-0",
      value: "Pass",
      text: " ",
      checked: data['process-b-nil-task-1-check-5'] == "Pass"
    }
  ]
}) }}

{% endset %}

{% set legendCheck6 %}

      {% if data["process-b-nil-task-1-check-6"]%}

            {{ govukCheckboxes({
            idPrefix: "process-b-nil-task-1-check-6",
            name: "process-b-nil-task-1-check-6",
            classes: "govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s govuk-!-padding-top-0 govuk-!-margin-top-0"
              }
            },
            items: [
              {
                classes: "govuk-!-padding-top-0 govuk-!-margin-top-0",
                value: "Pass",
                text: " ",
                checked: data['process-b-nil-task-1-check-6'] == "Pass"
              }
            ]
            }) }}

      {% else %}

            {{ govukCheckboxes({
            idPrefix: "process-b-nil-task-1-check-6",
            name: "process-b-nil-task-1-check-6",
            classes: "govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s govuk-!-padding-top-0 govuk-!-margin-top-0"
              }
            },
            items: [
              {
                classes: "govuk-!-padding-top-0 govuk-!-margin-top-0",
                value: "Pass",
                text: " ",
                checked: data['process-b-nil-task-1-check-6'] == "Pass"
              }
            ]
            }) }}

      {% endif %}


{% endset %}
      <!------------Legend------------>

        {% set legendAddress %}

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Address line one</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-0">Address line one</p>
        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Address line one</p>
        <p class="govuk-body govuk-!-font-size-19">POST CODE</p>

      {% endset %}

      <!------------Legend------------>
        {% set tagSL %}

        {{govukTag({
           text: "SEARCHLIGHT",
           classes: "govuk-tag--blue"
         })}}

      {% endset %}

        {% set tagCPS %}

        {{govukTag({
           text: "CPS",
           classes: "govuk-tag--yellow"
         })}}

      {% endset %}

      {% set tagCAM %}

      {{govukTag({
         text: "CAM",
         classes: "govuk-tag--red"
       })}}

    {% endset %}
    <!------------Legend------------>



        {{ govukTable({
          caption: "",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
          {
            text: "Information to check",
            classes: 'govuk-30-percent'
          },
          {
            html: "Citizen supplied [AfPC]",
            classes: 'govuk-30-percent'
          },
          {
            html: "DWP data / Source",
            classes: 'govuk-30-percent'
          },
          {
            text: "Correct",
            classes: 'govuk-20-percent'
          }
        ],
          rows: [
            [
              {
                text: "Applicant Name"
              },
              {
                text: "Name A"
              },
              {
                html: tagSL
              },
              {
                html: legendCheck1
              }
            ],
            [
              {
                text: "Applicant DOB/age"
              },
              {
                text: "DD/MM/YYYY [Age]"
              },
              {
                html: tagSL
              },
              {
                html: legendCheck2             }
            ],
            [
              {
                text: "Telephone"
              },
              {
                text: "07960 009 014"
              },
              {
                html: tagSL
              },
              {
                html: legendCheck3             }
                ],
                [
                  {
                    text: "Address"
                  },
                  {
                    html: legendAddress
                  },
                  {
                    html: tagSL
                  },
                  {
                    html: legendCheck4
                  }
                  ],
                  [
                    {
                      text: "Marital status"
                    },
                    {
                      html: "Single"
                    },
                    {
                      html: tagSL
                    },
                    {
                      html: legendCheck5
                    }
                  ],
                [
                  {
                    text: "Bank details"
                  },
                  {
                    text: "Bank name"
                  },
                  {
                    html: tagCPS
                  },
                  {
                    html: legendCheck6
                  }
                ]
          ]
        }) }}



        <!------------ ––– ------------>

    </div>
  </div>


  {{ govukRadios({
    idPrefix: "process-b-nil-task-1",
    name: "process-b-nil-task-1",
    fieldset: {
      legend: {
        text: "What happened?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m govuk-!-padding-top-4"
      }
    },
    hint: {
      html: hintLegend
    },
    classes: "govuk-radios govuk-!-padding-bottom-0",
    items: [
    {
      value: "Passed",
      text: "Passed",
      checked: (data["process-b-nil-task-1"] == "Passed")
    },
      {
        value: "Failed",
        text: "Failed",
        checked: (data["process-b-nil-task-1"] == "Failed")
      },
      {
        value: "unfinished",
        text: "I can't complete",
        checked: (data["process-b-nil-task-1"] == "unfinished")
      }
    ]
  }) }}


  <div class="govuk-button-group">
    {{ govukButton({
      text: "Confirm"
    }) }}

  </div>

{% endblock %}
