{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Post Pension Credit index - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}




<!----------------------------------------------------------------------------------->

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="index-ctr-check" method="post" class="form">

      <input type="hidden" name="contact-complete" value="in-progress"/>

      <div class="govuk-panel--agent">

    <h2 class="govuk-heading-m">(Name) told you they want to apply for Support for Mortgage Interest. Tell them they will be sent an information pack and application form.</h2>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Adviser: Send Support for Mortgage Interest (SMI) information pack
    </h1>

    <!----------------------------------------------------------------------------------->
<div class="govuk-!-margin-bottom-8">

      <p class="govuk-body govuk-!-margin-bottom-2">Open the claimant's file in PTP CAM and select the:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li> <strong>Open Case</strong> tab</li>
        <li> <strong>Customer cases</strong> tab</li>
        <li><strong>Housing costs</strong> tab</li>
        <li><strong>Home Loan</strong> tab</li>
        </ul>

        <p class=govuk-body>Select <strong>Send correspondence</strong> to issue form MI12</p>

      <p class=govuk-body>Set <strong>PTP CAM</strong> task for outbound correspondence (task type) <strong>MI12</strong> (sub type)</p>
      <p class=govuk-body>Assign task to housing costs team queue in the relevant pension centre. The pension centre will be displayed as the owing office in the <strong>more info</strong> view.</p>
</div>


</div> <!--Agent end-->


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
