{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full govuk-!-margin-bottom-8">

    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Overview',
        href: 'query-overview-b',
        active: true
      }, {
        text: 'History',
        href: 'query-history'
      }, {
        text: 'Tasks',
        href: 'query-tasks'
      }, {
        text: 'Correspondence',
        href: 'query-correspondence'
      }, {
        text: 'Help',
        href: 'query-help'
      }]
    }) }}

  </div>

</div>
