{% extends "layout-work-list-id-bar.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="case-next-claim" method="post" class="form">

      {% if data["user-full-name"] == "Admin" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Pension Credit claims manager</h1>
      {% endif %}

      {% if data["user-full-name"] !== "Admin" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Pension Credit claims</h1>
      {% endif %}



  </div>


        </div>

      {% if data["user-full-name"] !== "Admin" %}
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">There are <strong>0</strong> claims to be downloaded.</p>

        <!-- {{ govukButton({
          classes: "govuk-!-margin-top-4",
          text: "Download next claim"
        }) }} -->

        </form>

      {% endif %}







</div>
</div>
{% endblock %}
