{% extends "layout-work-list-id-bar.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="case-next-claim" method="post" class="form">

      {% if data["user-full-name"] == "Admin" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Pension Credit claims manager</h1>
      {% endif %}

      {% if data["user-full-name"] !== "Admin" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Pension Credit claims</h1>
      {% endif %}

  </div>
</div>

      {% if data["user-full-name"] !== "Admin" %}
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">There are <strong>0</strong> claims to be downloaded.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-2">

      <p class="govuk-!-font-weight-bold govuk-!-font-size-27 govuk-!-padding-top-6 govuk-!-margin-bottom-1">Find a claim</p>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-2 govuk-!-margin-bottom-2">(AutoComplete) Start typing a name or National Insurance number and select the case from the list</p>


                      {{ govukInput({
                        label: {
                          html: legendName
                        },
                        hint: {
                          text: ""
                        },
                        id: "user-full-name",
                        name: "user-full-name",
                        classes: "govuk-input--width-30 govuk-!-margin-bottom-0",
                        value: data["full-name"]
                      }) }}

                      {{ govukButton({
                        text: "Search",
                        classes: "govuk-button--secondary govuk-!-margin-bottom-6"
                      }) }}


                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><table class="govuk-table">
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-20-percent">NI number</td>
                            <td class="govuk-table__cell govuk-40-percent">Name</td>
                            <td class="govuk-table__cell govuk-15-percent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="govuk-table__cell govuk-15-percent">Received</td>
                            <td class="govuk-table__cell govuk-10-percent">Age (days)</td>
                          </tr>
                          </thead>


                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__cell">NA 11 22 33 c</th>
                            <td class="govuk-table__cell">Mel Gibson</td>
                            <td class="govuk-table__cell"></td>

                            <td class="govuk-table__cell">DD Sept 2020</td>
                            <td class="govuk-table__cell">102</td>

                          </tr>

                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__cell">NA 11 22 33 c</th>
                            <td class="govuk-table__cell">Mellon Adamson</td>
                            <td class="govuk-table__cell"></td>

                            <td class="govuk-table__cell">DD Sept 2020</td>
                            <td class="govuk-table__cell">100</td>

                          </tr>

                          </table>

      {% endif %}







</div>
</div>
{% endblock %}
