{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Do you have a current account? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="start" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Are you sure you wish to leave the service?</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">Go back, or leave</p>


      {{ govukButton({
        text: "End session",
        classes: "govuk-button--warning"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
