{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Do you have a current account? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/index" method="post" class="form">

    <div class="govuk-panel--agent">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Adviser: Are you sure you want to leave the service?</h1>

          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Go back or you can <a href=eject-pension-credit-summary>save the claim and exit</a> with all the information you have collected.</p>

          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">@Alt pete: For privacyPolicy declaration and Who are you claimaing for we don't use Save claim and exit. 260 was old ticket. "Go back?, does the H1 say enough for these three?</p>


    </div>
    {{ govukButton({
      text: "Finish and close",
      classes: "govuk-button--warning govuk-!-margin-bottom-1 "
    }) }}

    </form>
  </div>
</div>
{% endblock %}
