{% extends "layout-id-bar-temp.html" %}

{% block pageTitle %}
  PC relationship or in payment - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <form action="national-insurance-return-previous-PC-router" method="post" class="form">

        <div class="govuk-panel--agent">

        <!------------HEADLINE------------>
        {% if data["nino"] == "NN 11 22 33 R" %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Adviser: Claimant is getting PC</h1>
        {% endif %}

        {% if data["nino"] == "NN 11 22 33 T" %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Adviser: Claimant is getting PC via a partner</h1>

        {% endif %}
            <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">GAV: "why are you trying to claim when you’re already named on a claim/have an existing claim?’, and use their judgement to decide whether it’s appropriate to proceed or kick out"
            @pate: basically what do they need to know to contiune</p>

<br>
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "national-insurance-return-previous-PC",
          name: "national-insurance-return-previous-PC",
          fieldset: {
            legend: {
              html: "Are you happy to continue based on what you know??",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            html: ""
          },
          items: [
          {
              value: "Yes",
              text: "Yes",
              checked: (data["national-insurance-return-previous-PC"] == "Yes")
            },
              {
                value: "No",
                text: "No",
                checked: (data["national-insurance-return-previous-PC"] == "No")
              }
            ]
          }) }}

          </div>

          {{ govukButton({
            classes: "govuk-!-margin-bottom-0",
            text: "Continue"
          }) }}




      </form>
      <!-- <p class="govuk-body govuk-!-padding-top-8"><a href="eject-error-reason">Save claim and exit</a></p> -->


    </div>
  </div>
{% endblock %}
