{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Disregard types - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  {% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="benefit-UC" method="post" class="form">

        <input type="hidden" name="disregards-summary-complete" value="in-progress"/>

         <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Tell us the name of anyone else that lives with you their relationship to you and whether they are dependent on you.</h1>

         <!------------Legend------------>
           {% set legendMemberDetials %}
           <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-2"><strong>What we need to know:</strong></p>
           <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-2">Name</p>
           <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-2">Relationship</p>
           <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-2">?</p>

           {% endset %}
         <!------------Legend------------>

           {{ govukTextarea({
             label: {
               classes: "govuk-label--s",
               html: ""
                    },
             hint: {
               html: legendMemberDetials
             },
             id: "home-living-with-you-yes-details",
             name: "home-living-with-you-yes-details",
             classes: "govuk-input--width-100",
             attributes: {
               maxlength: 1000
             }
           }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

    </div>
  </div>
{% endblock %}
