{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check your answers.
    </h1>

    <h2 class="govuk-heading-m">
      Address
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Residence
        </dt>
        <dd class="app-check-your-answers__answer">
          221B Baker Street<br>
          Marylebone<br>
          London<br>
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="address-choice">
            Change
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Postcode
        </dt>
        <dd class="app-check-your-answers__answer">
          NW1 5RT
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="postcode-lookup">
            Change
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Home ownership
        </dt>
        <dd class="app-check-your-answers__answer">
          {{ data["home-ownership"] }}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="home-ownership">
            Change
          </a>
        </dd>
      </div>
      {% if data["home-ownership"] == "Owns" %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Ground rent
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data["ground-rent"] or "None "}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="ground-rent">
              Change
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Service charges
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data["service-charges"] or "None "}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="service-charges">
              Change
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Has mortgage
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data["has-mortgage"] or "No "}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="mortgage-yn">
              Change
            </a>
          </dd>
        </div>
      {% endif %}
    </dl>

    <form action="task-list" method="post">
      <input type="hidden" name="address-complete" value="true"/>
      <p>
        {{ govukButton({
          text: "Confirm"
        }) }}
      </p>
    </form>

  </div>
</div>
{% endblock %}
