{% extends "layout.html" %}

{% block pageTitle %}
  Benefits - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}
{% if data["benefit-name"] %}
  <h1 class="govuk-heading-xl">
    Benefit details for Alex Smith
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">
        In payment
      </h3>
    </div>

    <div class="govuk-grid-column-two-thirds">

  <table class="govuk-table">
  <caption class="govuk-table__caption"> </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header my-custom-class" scope="col">Attendance allowance (AA)</th>
      <th class="govuk-table__header my-custom-class" scope="col"><strong></strong></th>
      <th class="govuk-table__header my-custom-class" scope="col"><regular>Change</regular></th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Value</th>
      <td class="govuk-table__cell">{{ data["benefit-value"] | formatMoney }}</td>
      <td class="govuk-table__cell"></td>

    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Rate</th>
      <td class="govuk-table__cell">Lower</td>
      <td class="govuk-table__cell"></td>

    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Payment day / frequency</th>
      <td class="govuk-table__cell">{{ data["benefit-day"] }} / {{ data["benefit-frequency"] }}</td>
      <td class="govuk-table__cell"></td>

    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Start date / end date</th>
      <td class="govuk-table__cell">01 01 2018 -</td>
      <td class="govuk-table__cell"></td>


    </tr>
  </tbody>
</table>
{% endif %}

    </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-m">Any other benefit missing?</h2>
  <p class="govuk-body">
    <a href="add-benefit" class="govuk-link">
      Add benefit
    </a>
  </p>

  <form action="task-list" method="post">
    <input type="hidden" name="benefits-complete" value="true"/>
    <p>
      {{ govukButton({
        text: "Confirm"
      }) }}
    </p>
  </form>
  {% endblock %}
