{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>


    <h2 class="govuk-heading-m">
      Contact preference
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Telephone
        </dt>
        <dd class="app-check-your-answers__answer">
          Yes
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="uk-national">
            Change
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Residency
        </dt>
        <dd class="app-check-your-answers__answer">
          UK
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="reside-in-uk">
            Change
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Lived abroad
        </dt>
        <dd class="app-check-your-answers__answer">
          No
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="lived-abroad">
            Change
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      Claim date
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Date
        </dt>
        <dd class="app-check-your-answers__answer">
          10 October 2018
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="claim-date">
            Change
          </a>
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m">
      About claimant
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Who is caller
        </dt>
        <dd class="app-check-your-answers__answer">
          Claimant
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="who-is-caller">
            Change
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Full name
        </dt>
        <dd class="app-check-your-answers__answer">
          Alex Smith
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="name-and-nino">
            Change
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Sex
        </dt>
        <dd class="app-check-your-answers__answer">
          Male
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="over-spa">
            Change
          </a>
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Date of birth
        </dt>
        <dd class="app-check-your-answers__answer">
          20 October 1953
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="over-spa">
            Change
          </a>
        </dd>
      </div>
    </dl>


      <h2 class="govuk-heading-m">
        Security
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Passed security?
          </dt>
          <dd class="app-check-your-answers__answer">
            Yes
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="security">
              Change
            </a>
          </dd>
        </div>
      </dl>

    <form action="task-list" method="post">
      <p>
        {{ govukButton({
          text: "Confirm"
        }) }}
      </p>
    </form>

  </div>
</div>
{% endblock %}
