{% extends "layout.html" %}

{% block pageTitle %}
  Earnings - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Earnings and employment summary
  </h1>

  {% if data["work-name"] %}
    <h2 class="govuk-heading-m">
      {{ data["employment-type"] }}
    </h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s">
          {{ data["work-name"] }}
        </h3>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <dl class="app-check-your-answers app-check-your-answers--long">
          {% if data["work-payroll"] %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Payroll ID
            </dt>
            <dd class="app-check-your-answers__answer">
              {{ data["work-payroll"] }}
            </dd>
          </div>
          {% endif %}
          {% if data["work-start-day"] %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Start / End date
            </dt>
            <dd class="app-check-your-answers__answer">
              {{ data["work-start-day"] }}
              {{ data["work-start-month"] | getMonth }}
              {{ data["work-start-year"] }} —
              {{ data["work-end-day"] }}
              {{ data["work-end-month"] | getMonth }}
              {{ data["work-end-year"] }}
            </dd>
          </div>
          {% endif %}
          {% if data["work-gross"] %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Taxable pay (gross)
            </dt>
            <dd class="app-check-your-answers__answer">
              {{ data["work-gross"] | formatMoney }}
            </dd>
          </div>
          {% endif %}
          {% if data["work-frequency"] %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Payment day / frequency
            </dt>
            <dd class="app-check-your-answers__answer">
              {{ data["work-frequency"] }}
            </dd>
          </div>
          {% endif %}
          {% if data["work-tax"] %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Tax
            </dt>
            <dd class="app-check-your-answers__answer">
              {{ data["work-tax"] | formatMoney }}
            </dd>
          </div>
          {% endif %}
          {% if data["work-ni"] %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              National insurance contributions
            </dt>
            <dd class="app-check-your-answers__answer">
              {{ data["work-ni"] | formatMoney }}
            </dd>
          </div>
          {% endif %}
          {% if data["work-pensions"] %}
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Pensions
            </dt>
            <dd class="app-check-your-answers__answer">
              {{ data["work-pensions"] | formatMoney }}
            </dd>
          </div>
          {% endif %}
        </dl>
      </div>
    </div>
{% endif %}
{% if data["self-name"] %}
  <h2 class="govuk-heading-m">
    Self employment
  </h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">
        {{ data["self-name"] }}
      </h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <dl class="app-check-your-answers app-check-your-answers--long">
        {% if data["self-profit"] %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Profit
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data["self-profit"] | formatMoney }}
          </dd>
        </div>
        {% endif %}
        {% if data["self-loss"] %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Loss
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data["self-loss"] | formatMoney }}
          </dd>
        </div>
        {% endif %}
        {% if data["self-total"] %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Total amount in business account
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data["self-total"] | formatMoney }}
          </dd>
        </div>
        {% endif %}
      </dl>
    </div>
  </div>
{% endif %}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-m">Any other employment missing?</h2>
  <p class="govuk-body">
    <a href="add-earnings" class="govuk-link">
      Add an employment
    </a>
  </p>

  <form action="task-list" method="post">
    <input type="hidden" name="earnings-complete" value="true"/>
    <p>
      {{ govukButton({
        text: "Confirm"
      }) }}
    </p>
  </form>
{% endblock %}
