{% extends "layout.html" %}

{% block pageTitle %}
  Benefits - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

<p>
  {{ govukBackLink({
    href: "XXX"
  }) }}
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="home-ownership-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "homeownership",
        name: "home-ownership",
        fieldset: {
          legend: {
            text: "Which best describes the place where you live?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Rented",
            text: "You rent it",
            checked: (data["home-ownership"] == "Rented")
          },
          {
            value: "Owns",
            text: "You own it",
            checked: (data["home-ownership"] == "Owns")
          },
          {
            value: "Care home",
            text: "You live in a care home",
            checked: (data["home-ownership"] == "Care home")
          },
          {
            value: "Neither",
            text: "You live in someone else's house without paying rent",
            checked: (data["home-ownership"] == "Neither")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
