{% extends "layout.html" %}

{% block pageTitle %}
  Benefits - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

<p>
  {{ govukBackLink({
    href: "XXX"
  }) }}
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="home-ownership-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "homeownership",
        name: "home-ownership",
        fieldset: {
          legend: {
            text: "Check home ownership type",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Please describe your living arrangements: @Pete"
        },
        items: [
          {
            value: "Rented",
            text: "Is this property rented?",
            checked: (data["home-ownership"] == "Rented")
          },
          {
            value: "Owns",
            text: "Do you own this property?",
            checked: (data["home-ownership"] == "Owns")
          },
          {
            value: "Care home",
            text: "Is this a care home?",
            checked: (data["home-ownership"] == "Care home")
          },
          {
            value: "Neither",
            text: "Do you live with someone else? (For example a son or a daughter?)",
            checked: (data["home-ownership"] == "Neither")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
