
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}

<!-- Start / Back section -->


   <main class="govuk-main-wrapper">
<!------------ ---- ------------>
     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl">Retirement payments</h1>
       </div>
     </div>
<!------------ End / X section ------------>

     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
         <p class="govuk-body-l">Details about the benefits you get</p>

<!------------ ---- ------------>
<ol class="app-task-list">

<!------------ Section ------------ ------------>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">1. </span> Retirement Benefits
    </h2>
    <ul class="app-task-list__items">
<!------------ ---- ------------>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Payment date</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Payment(weekly)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">State pension</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">01.03.2018</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£125.95</td>
            </tr>
          </tbody>
        </table>
        <!------------ ---- ------------>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Previous payments
          </span>
        </summary>

     <li>
       <ul class="app-task-list__items">

 <!------------ Table test ------------>

       <table class="govuk-table">
         <thead class="govuk-table__head">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="col">Month</th>
             <th class="govuk-table__header govuk-table__header--numeric" scope="col">Date</th>
             <th class="govuk-table__header govuk-table__header--numeric" scope="col">Payment (weekly)</th>
           </tr>
         </thead>
         <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="row">January</th>
             <td class="govuk-table__cell govuk-table__cell--numeric">00.00.00</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">£125.95</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="row"></th>
             <td class="govuk-table__cell govuk-table__cell--numeric">00.00.00</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">£125.95</td>
           </tr>
           <tr class="govuk-table__row">
             <th class="govuk-table__header" scope="row">February</th>
             <td class="govuk-table__cell govuk-table__cell--numeric">00.00.00</td>
             <td class="govuk-table__cell govuk-table__cell--numeric">£125.95</td>
           </tr>
         </tbody>
       </table>
       <!------------ ---- ------------>
  </ul>
  </li>
  </details>
  </ul>
  </li>
  <!------------ Section ------------ ------------>
    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">2. </span> Disability benefit
      </h2>
      <ul class="app-task-list__items">
  <!------------ ---- ------------>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"></th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Payment date</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Payment (weekly)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">State pension</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">01.03.2018</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£125.95</td>
              </tr>
            </tbody>
          </table>


          <!------------ ---- ------------>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Previous payments
            </span>
          </summary>

       <li>
         <ul class="app-task-list__items">

   <!------------ Table test ------------>

         <table class="govuk-table">
           <thead class="govuk-table__head">
             <tr class="govuk-table__row">
               <th class="govuk-table__header" scope="col">Month</th>
               <th class="govuk-table__header govuk-table__header--numeric" scope="col">Date</th>
               <th class="govuk-table__header govuk-table__header--numeric" scope="col">Payment (weekly)</th>
             </tr>
           </thead>
           <tbody class="govuk-table__body">
             <tr class="govuk-table__row">
               <th class="govuk-table__header" scope="row">January</th>
               <td class="govuk-table__cell govuk-table__cell--numeric">00.00.00</td>
               <td class="govuk-table__cell govuk-table__cell--numeric">£125.95</td>
             </tr>
             <tr class="govuk-table__row">
               <th class="govuk-table__header" scope="row"></th>
               <td class="govuk-table__cell govuk-table__cell--numeric">00.00.00</td>
               <td class="govuk-table__cell govuk-table__cell--numeric">£125.95</td>
             </tr>
             <tr class="govuk-table__row">
               <th class="govuk-table__header" scope="row">February</th>
               <td class="govuk-table__cell govuk-table__cell--numeric">00.00.00</td>
               <td class="govuk-table__cell govuk-table__cell--numeric">£125.95</td>
             </tr>
           </tbody>
         </table>
         <!------------ ---- ------------>
    </ul>
    </li>
    </details>
    </ul>
    </li>


  <!------------ Section ------------ ------------>







  <!------------ Section ------------ ------------>

    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">. </span> Section
      </h2>
      <ul class="app-task-list__items">
  <!------------ ---- ------------>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="/#" aria-describedby="contact-details-completed">
            X
          </a>
          <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">XXXXXXXXXXX</strong>
        </li>
  <!------------ ---- ------------>

      </ul>
    </li>



    </ol>
    </div>

<!------------ End / Left column ------------>

<!------------ Start / Right column ------------>
       <div class="govuk-grid-column-one-third">
         <h3 class="govuk-heading-m">Links </h3>
         <p class="govuk-body">Design reference and other links</p>

         {% from "details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "Notes",
          text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post."
        }) }}

        {% from "details/macro.njk" import govukDetails %}
<!------------ End / Right column ------------>
       </div>
     </div>

   </main>
 </div>

{% endblock %}
