{% extends "layout.html" %}

{% block pageTitle %}
  NotePad - Money, savings and capital
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="msic-cash-summary" method="post">

        <span class="govuk-caption-m">Agent notes page</span>
        <h1 class="govuk-heading-l">Any other money held in this country or abroad @Pete / Talk to Dave</h1>


<p class="govuk-body govuk-!-font-size-19">Treat as the type of account it is, though we also need to know the currency. These are converty by using XE Currency converter (https://www.xe.com/currencyconverter/)</p>

        <p class="govuk-body govuk-!-font-size-19">For each type of money, saving or investment, ask the user for all relevant details, including:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the amount</li>
          <li>the name of the account holder</li>
          <li>the name on the bank or building society accounts</li>
          <li>the name of the bank, building society or investment company</li>
          <li>the last 4 digits of the account number</li>
          <li>the start and end dates of any investment vehicles</li>
          <li>any changes to amounts that the claimant expects during any backdating period</li>
          <li>any land or property the claimant owns</li>
          <li>any significant changes that the claimant expects over the next 12 months</li>
        </ul>

        {{ govukTextarea({
          name: "msic-cash-other-abroad-detail",
          id: "msic-cash-other-abroad-detail",
          value: data["msic-cash-other-abroad-detail"]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

    </div>
  </div>
{% endblock %}
