{% extends "layout.html" %}

{% block pageTitle %}
  NotePad - Money, savings and capital
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="msic-cash-summary" method="post">

        <span class="govuk-caption-m">Agent notes page</span>
        <h1 class="govuk-heading-l">Any other money as a lump sum @Pete / Talk to Dave</h1>


<p class="govuk-body govuk-!-font-size-19">Only the amount and when it was received matters, it is included with the balance of whatever account it is paid into.							</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>any significant changes that the claimant expects over the next 12 months</li>
        </ul>

        {{ govukTextarea({
          name: "msic-cash-lump-sum-detail",
          id: "msic-cash-lump-sum-detail",
          value: data["MoneyOver10k-more-detail"]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

    </div>
  </div>
{% endblock %}
