{% extends "layout.html" %}

{% block pageTitle %}
  Don't agree to declaration - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You didn't agree to the reuse of your data or pre-declaration
      </h1>

<p class="govuk-body"> @pete, all yours, tell me what you need here.</p>

<p class="govuk-body"> Call to action needed. Close page</p>


    </div>
  </div>
{% endblock %}
