{% extends "layout.html" %}

{% block pageTitle %}
  Pre-declaration - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="pre-declaration-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "pre-declaration",
        name: "pre-declaration",
        fieldset: {
          legend: {
            text: "Lets talk about the pre-declaration",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "@pete lets add something in here."
        },
        classes: "govuk-radios",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["preDeclaration"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["preDeclaration"] == "No")
          }
        ]
      }) }}

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="X" value="true"/>

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
