{% extends "layout.html" %}

{% block pageTitle %}
  Do you live in the UK? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="lived-abroad" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "resides-in-uk",
          name: "resides-in-uk",
          fieldset: {
            legend: {
              text: "Do you live in England, Scotland or Wales?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },

          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: data['resides-in-uk'] == "Yes"
            },
            {
              value: "No",
              text: "No",
              checked: data['resides-in-uk'] == "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body">Can't complete this page? <a href="task-list">Save and return later. (Mark as in-progress)</a></p>

    </div>
  </div>
{% endblock %}
