{% extends "layout.html" %}

{% block pageTitle %}
  Method of payment - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="msic-has-current-account-yn" method="post" class="form">
      <input type="hidden" name="msic-pc-payment-complete" value="in-progress"/>


      {{ govukRadios({
        idPrefix: "claim-filter",
        name: "claim-filter",
        fieldset: {
          legend: {
            text: "Type of claim",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
            }
            },
            hint: {
              html: "<p class=\"hint\">We know about the account your State Pension is paid into."
            },
        items: [
          {
            value: "Advanced or Today",
            text: "Advanced or Today",
            checked: (data["claim-filter"] == "Advanced or Today")
          },
          {
            value: "Backdating",
            text: "Backdating",
            checked: (data["claim-filter"] == "Backdating")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>

    </div>
    </div>
{% endblock %}
