{% extends "layout.html" %}

{% block pageTitle %}
Do you have more cash at home - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<form action="msic-has-second-property-yn" method="post" class="form">
  <input type="hidden" name="money-you-have-complete" value="in-progress"/>


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

  {{ govukRadios({
    idPrefix: "xxx",
    name: "xxx",
    fieldset: {
      legend: {
        text: "Do you have any other money abroad?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
        },
        hint: {

        },
    classes: "govuk-radios--inline",
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: (data["xxx"] == "yes")
      },
      {
        value: "no",
        text: "No",
        checked: (data["xxx"] == "no")
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

  </div></div><br><br>



http://localhost:3000/sprint-11/mvp/msic-has-current-account-yn

    <input type="hidden" name="money-complete" value="true"/>

  </form>


  <p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>


{% endblock %}
