{% extends "layout.html" %}

{% block pageTitle %}
Do you have any more Capital Bonds? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<form action="msic-has-shares-account-yn" method="post">
  <input type="hidden" name="money-you-have-complete" value="in-progress"/>


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "changed-name",
    name: "changed-name",
    fieldset: {
      legend: {
        text: "Do you have any more income or capital bonds?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: ""
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

  </div></div><br><br>


http://localhost:3000/sprint-11/mvp/msic-has-current-account-yn

    <input type="hidden" name="money-complete" value="true"/>

  </form>


  <p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>


{% endblock %}
