{% if data["msic-pc-payment"] == "An alternative account" %}
  {{ govukSummaryList({
    rows: [

    {
      key: {
        text: "Pension Credit payment account"
      },
      value: {
        text: data["msic-pc-payment"]
      },
      actions: {
        items: [
          {
            href: "msic-pc-payment",
            text: "Change",
            visuallyHiddenText: "type of account"
          }
        ]
      }
    },

      {
        key: {
          text: "Same account as State Pension or alternate"
        },
        value: {
          text: data["msic-pc-payment"]
        },
        actions: {
          items: [
            {
              href: "msic-pc-payment",
              text: "Change",
              visuallyHiddenText: "type of account"
            }
          ]
        }
      },

      {
        key: {
          text: "Name on account"
        },
        value: {
          text: data["name-on-account"]
        },
        actions: {
          items: [
            {
              href: "msic-pc-payment-alternative-account",
              text: "Change",
              visuallyHiddenText: "name on account"
            }
          ]
        }
      },

      {
        key: {
          text: "Sort code"
        },
        value: {
          text: data["sort-code"]
        },
        actions: {
          items: [
            {
              href: "msic-pc-payment-alternative-account",
              text: "Change",
              visuallyHiddenText: "sort code"
            }
          ]
        }
      },

      {
        key: {
          text: "Account number"
        },
        value: {
          text: data["Account number"]
        },
        actions: {
          items: [
            {
              href: "msic-pc-payment-alternative-account",
              text: "Change",
              visuallyHiddenText: "account number"
            }
          ]
        }
      },

      {
        key: {
          text: "Balance of account"
        },
        value: {
          text: data["msic-pc-payment-alternative-account-balance"]
        },
        actions: {
          items: [
            {
              href: "msic-pc-payment-alternative-account",
              text: "Change",
              visuallyHiddenText: "sort code"
            }
          ]
        }
      }
    ]
  }) }}
{% endif %}

<!------------------ Same as State Pension account------------------------->

{% if data["msic-pc-payment"] == "Same account as State Pension" %}
  {{ govukSummaryList({
    rows: [

      {
        key: {
          text: "Same account as State Pension or alternate"
        },
        value: {
          text: data["msic-pc-payment"]
        },
        actions: {
          items: [
            {
              href: "msic-pc-payment",
              text: "Change",
              visuallyHiddenText: "type of account"
            }
          ]
        }
      },

  {
        key: {
          text: "Balance of account"
        },
        value: {
          text: data["msic-pc-payment-alternative-account-balance"]
        },
        actions: {
          items: [
            {
              href: "msic-pc-payment-state-pension-account",
              text: "Change",
              visuallyHiddenText: "sort code"
            }
          ]
        }
      }
    ]
  }) }}
{% endif %}
