{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/session-clear-route">
        <input type="hidden" name="session-clear-redirect-url" value="/g4s-0-10/mvp/type-of-claim">

        <span class="govuk-caption-m">[7]</span>


        {% if data['bau-exit-1'] == 'NewClaim' %}

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Looks like its not been processed yet.</h1>
          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Usually it can take us up to X</p>
        {% else %}

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Because the application has been processed and an outcome should be with you soon</h1>
          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">I can hand you over to the changes line if you would like to make a change.</p>
        {% endif %}






      {{ govukButton({
      text: "Finish and close",
      classes: "govuk-button dont-print govuk-!-margin-top-6"
      }) }}

  </form>
    </div>
  </div>

{% endblock %}
