{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="bau-exit-2-pass-router">

        <span class="govuk-caption-m">[2 pass]</span>


          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "bau-exit-2-pass",
            name: "bau-exit-2-pass",
            fieldset: {
              legend: {
                text: "Did you find an IDOC in CAM?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },

            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: data['bau-exit-2-pass'] == "Yes"
              },
              {
                value: "No",
                text: "No",
                checked: data['bau-exit-2-pass'] == "No"
              }
            ]
          }) }}



      {{ govukButton({
      text: "Continue",
      classes: "govuk-button dont-print"
      }) }}

  </form>
    </div>
  </div>

{% endblock %}
