{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/session-clear-route">
        <input type="hidden" name="session-clear-redirect-url" value="/g4s-0-10/mvp/type-of-claim">

        <span class="govuk-caption-m">[1]</span>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Becauses you have been given an IDOC, I am going to pass you to the new claims department who will help you further</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">I will need your National Insurance number, if you have one.</p>


      {{ govukButton({
      text: "Finish and close",
      classes: "govuk-button dont-print govuk-!-margin-top-6"
      }) }}

  </form>
    </div>
  </div>

{% endblock %}
