{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" action="exit">


          <span class="govuk-caption-m">[7]</span>

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Other places that might help</h1>
            <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Something along these lines</p>


            <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><strong>Gov.uk</strong></p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Why</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">How: telephone</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">How: URL</p>

            <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><strong>Age UK</strong></p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Why</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">How: telephone</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">How: URL</p>

            <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2"><strong>Citizens advice</strong></p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Why</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">How: telephone</p>
            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">How: URL</p>




            {{ govukButton({
            text: "Finish and close",
            classes: "govuk-button dont-print govuk-!-margin-top-6"
            }) }}






    </form>
      </div>
    </div>




{% endblock %}
