{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="type-of-claim-router" method="post" class="form">
      <p class="govuk-body govuk--version-control govuk-!-padding-top-4">G4s version 0.10 / MVP</p>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 govuk-!-padding-top-4">Hello, you have reached Pension Credit</h1>


    {{ govukRadios({
      idPrefix: "type-of-claim",
      name: "type-of-claim",
      fieldset: {
        legend: {
          text: "What is the reason for your call today?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m "
        }
      },
      classes: "govuk-radios",
      hint: {
        html: ""
      },
      items: [
      {
          value: "eligibility",
          text: "Check eligibility for Pension Credit",
          checked: (data["type-of-claim"] == "eligibility")
        },
        {
          value: "bau-exit-1",
          text: "Check progress of a claim",
          checked: (data["type-of-claim"] == "bau-exit-1")
        },
        {
          value: "bau-exit-2",
          text: "I was given an IDOC",
          checked: (data["type-of-claim"] == "bau-exit-2")
        },
        {
          value: "bau-exit-3",
          text: "I was asked by DWP to call",
          checked: (data["type-of-claim"] == "bau-exit-3")
        },
        {
          value: "bau-exit-4",
          text: "I want to edit or change my Pension Credit application",
          checked: (data["type-of-claim"] == "bau-exit-4")
        },
        {
          value: "bau-exit-8",
          text: "Nil award",
          checked: (data["type-of-claim"] == "bau-exit-8")
        },
        {
          value: "bau-exit-5",
          text: "Issue a new letter",
          checked: (data["type-of-claim"] == "bau-exit-5")
        },

        {
          value: "bau-exit-6",
          text: "Non-Pension Credit related",
          checked: (data["type-of-claim"] == "bau-exit-6")
        },
        {
          value: "bau-exit-7",
          text: "Something else",
          checked: (data["type-of-claim"] == "bau-exit-7")
        }
      ]
    }) }}

<!--
    {
      value: "A",
      text: "A",
      checked: (data["ab-check"] == "A")
    },
-->

      {{ govukButton({
       text: "Continue",
       classes: "govuk-!-margin-bottom-8"
     }) }}





</form>
</div>
{% endblock %}
