{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="money-total-eed" method="post" class="form">

      <!------------H1 LEGEND------------>
      {% if data["single-joint-check"] == "Joint" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Becasuse you or your partner have some of your money invested in accounts the can fux we need to check a few things with you</h1>
      {% else %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Becasuse you have some of your money invested in accounts the can fux we need to check a few things with you</h1>{% endif %}

           <!------------Legend--------------->

           <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">This is not a big deal, but its so that we can pay you the right amount. We could pay you too much or to little pesion credit</p>



      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
