{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="pension-foreign-check-router" method="post" class="form">

      <!------------H1 LEGEND------------>
      {% set dynamicH1 %}
 {% if data["single-joint-check"] == "Joint" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">pension-foreign-check  Do you or your partner</h1>
 {% else %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">pension-foreign-check</h1>{% endif %}
 {% endset %}
      <!------------Legend--------------->


      {% set dynamicHint %}

      <p class="govuk-hint govuk-!-margin-bottom-2">Generic hint if no dynamic hint needed</p>


      {% if data["single-joint-check"] == "Joint" %}
                  <p class="govuk-heading-s govuk-!-margin-bottom-2">Tell us about:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                  <li>Pensions you have take out privatly overseas</li>
                  <li>Overseas Penions with work</li>
                  <li>Overseas State Pensions </li>
            </ul>

      {% else %}
                  <p class="govuk-heading-s govuk-!-margin-bottom-2">Tell us about:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
              <li>Pensions you have take out privatly overseas</li>
              <li>Overseas Penions with work</li>
              <li>Overseas State Pensions </li>
            </ul>
      {% endif %}

                  <p class="govuk-heading-s govuk-!-margin-bottom-2">Do not tell us about:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
              <li>UK state pension</li>
              <li>UK Workplace pensions</li>
            </ul>

 {% endset %}


 {% set pensionForeignDetails %}
   {{ govukTextarea({
     label: {
       classes: "govuk-label--s",
       html: "For each pension you get, tell us who pays it, roughly how much it is/will be"
     },
     hint: {
       text: ""
     },
     id: "pension-foreign-drawdown-details",
     name: "pension-foreign-drawdown-details",
     classes: "govuk-input--width-100",
     attributes: {
       maxlength: 200
     }
   }) }}
 {% endset %}


      {{ govukRadios({
        name: "pension-foreign-check",
        fieldset: {
          legend: {
            html: dynamicH1,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: dynamicHint
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["pension-foreign-check"] == "Yes"),
                  conditional: {
                    html: pensionForeignDetails
           }
          },
          {
            value: "No",
            text: "No",
            checked: (data["pension-foreign-check"] == "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
