{% extends "layout-assisted-digital.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="pension-drawdown-router" method="post" class="form">

      <!------------H1 LEGEND------------>
      {% set dynamicH1 %}
 {% if data["single-joint-check"] == "Joint" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Do you / partner intend to claim this?</h1>
 {% else %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Do you intend to claim this?</h1>{% endif %}
 {% endset %}
      <!------------Legend--------------->


      {% set pensionDetails %}
        {{ govukTextarea({
          label: {
            classes: "govuk-label--s",
            html: "For each pension you get, tell us who pays it, how much it is and how often it is paid. "
          },
          hint: {
            text: "XXX"
          },
          id: "pension-drawdown-details",
          name: "pension-drawdown-details",
          classes: "govuk-input--width-100",
          attributes: {
            maxlength: 200
          }
        }) }}
      {% endset %}



      {{ govukRadios({
        name: "pension-drawdown",
        fieldset: {
          legend: {
            html: dynamicH1,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          html: "Something in here about what this means"
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["pension-drawdown"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["pension-drawdown"] == "No"),
                  conditional: {
                    html: pensionDetails
           }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
