{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="start-check-router" method="post" class="form">

    <p class="govuk-body govuk--version-control">Citizen version 2.7 / MVP</p>

    <!-- <h1 class="govuk-heading-xl ">Confirm you have the right information to hand</h1> -->

    <h1 class="govuk-heading-xl ">You need the right information to make an application</h1>


    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">We will ask for some personal and financial details while you make your application.</p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You will need this information for both you and your partner (if you have one).</p>

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-6">You will not be able to save your application and come back later.</p>


{{ govukCheckboxes({
  idPrefix: "start-check",
  name: "start-check",
  fieldset: {
    legend: {
      text: "Yes, I confirm I have this information ready:",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m govuk-!-padding-top-2"
    }
  },
  hint: {
    text: ""
  },
  items: [

    {
      value: "ni",
      text: "National Insurance number",
      checked: (data["start-check"] == "ni")

    },
    {
      value: "bank statements",
      text: "Bank statements for the last three months",
      checked: (data["start-check"] == "bank statements")
    },
    {
      value: "money",
      text: "Details of any income, pensions, savings or investments",
      checked: (data["start-check"] == "money")
    }
  ]
}) }}



      {{ govukButton({
       text: "Confirm and start now",
       classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8",
       isStartButton: true
     }) }}
<!--
     {{ govukButton({
       text: "Continue"
     }) }} -->



</form>
</div>
{% endblock %}
