{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="reside-in-uk" method="post" class="form">

    <p class="govuk-body govuk--version-control">Citizen version 2.7 / MVP</p>

    <h1 class="govuk-heading-xl ">To compete you will need x y</h1>

    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Some thing in here to help you compete</p>


{{ govukCheckboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "If you have dual nationality, select all options that are relevant to you."
  },
  errorMessage: {
    text: "Select if you are British, Irish or a citizen of a different country"
  },
  items: [
    {
      value: "british",
      text: "British",
      hint: {
        text: "including English, Scottish, Welsh and Northern Irish"
      }
    },
    {
      value: "irish",
      text: "Irish"
    },
    {
      value: "other",
      text: "Citizen of another country"
    }
  ]
}) }}





      {{ govukButton({
       text: "Start now",
       classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8",
       isStartButton: true
     }) }}
<!--
     {{ govukButton({
       text: "Continue"
     }) }} -->



</form>
</div>
{% endblock %}
