{% extends "layout.html" %}

{% block pageTitle %}
  When can the claim start from? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="name-and-nino" method="post">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "claim-date",
          name: "claim-date",
          fieldset: {
            legend: {
              text: "When do you want your claim to start?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Today",
              text: "Today (00.00.00)"
            },
            {
              value: "SPA Entitlement",
              text: " Backdated state to pension entitlement day (00.00.00)"
            },
            {
              value: "Backdated three months",
              text: "Backdated three months (00.00.00)"
            },
            {
              value: "Alternative date",
              text: "Alternative date (Drop down like 10k cash @Niall to add.)"
            }
          ]
        }) }}

        {% from "date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "dob",
          namePrefix: "dob",
          fieldset: {
            legend: {
              text: "Alternative date (Drop down like 10k cash @Niall to add.)"

                        }
          }
        }) }}




        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
