{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check your answers
    </h1>

    <dl class="app-check-your-answers app-check-your-answers--long">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Contact preferences
        </dt>
        <dd class="app-check-your-answers__answer">
          {% if data["contact-options"] %}
            {{ data["contact-options"].join(", ") }}
          {% else %}
            No means
          {% endif %}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="can-contact">
            Change
          </a>
        </dd>
      </div>
      {% if data["mobile"] %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Mobile phone number
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data["mobile"] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="mobile">
              Change
            </a>
          </dd>
        </div>
      {% endif %}
      {% if data["landline"] %}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Home phone number
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data["landline"] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="landline">
              Change
            </a>
          </dd>
        </div>
      {% endif %}
      {% if data["email"]%}
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Email address
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data["email"] }}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="email">
              Change
            </a>
          </dd>
        </div>
      {% endif %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Disabilities
        </dt>
        <dd class="app-check-your-answers__answer">
          {% if data["disabilities"] %}
            {{ data["disabilities"].join(", ") }}
          {% else %}
            None
          {% endif %}
        </dd>
        <dd class="app-check-your-answers__change">
          <a href="disability">
            Change
          </a>
        </dd>
      </div>
    </dl>

    <form action="task-list" method="post">
      <input type="hidden" name="contact-complete" value="true"/>
      <p>
        {{ govukButton({
          text: "Confirm"
        }) }}
      </p>
    </form>

  </div>
</div>
{% endblock %}
