{% extends "layout.html" %}

{% block pageTitle %}
  Establish eligibility - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="over-spa-router" method="post">
        <h1 class="govuk-heading-xl">
          What is your State Pension age, date of birth
        </h1>

        {{ govukDateInput({
          id: "dob",
          namePrefix: "dob",
          fieldset: {
            legend: {
              text: "@pete: do we need to have this twice? What is your date of birth?"
            }
          },
          hint: {
            text: "For example, 31 3 1948"
          }
        }) }}

<!------------      {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "sex",
          name: "sex",
          fieldset: {
            legend: {
              text: "Are you a man or a woman?"
            }
          },
          items: [
            {
              value: "Woman",
              text: "Woman"
            },
            {
              value: "Man",
              text: "Man"
            }
          ]
        }) }}  ---- ------------>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "changed-name",
          name: "changed-name",
          fieldset: {
            legend: {}
          },
          hint: {
            text: "If age is after X date show gender"
          },
          items: [
            {
              value: "Female",
              text: "Female"
            },
            {
              value: "Male",
              text: "Male"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
