{% extends "layout.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Done/Out - Done - Sorry you are too young</h1>


      <br>

      <h3 class="govuk-heading-m">This space is for the reason why you are not entitled.</h3>

      <p class="govuk-body">
        @Pete Unfortunately, due to X you will not be entitled to Pension Credit. You will be entiled at this age (DD/MM/YY)
        <br><strong>Your TAM DATE IS X</strong> .
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Tast item A</li>
        <li>Tast item B</li>
        <li>Tast item C</li>
        <li>Tast item D</li>
        <li>Tast item E</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <h3 class="govuk-heading-m">Further help...Where they go next</h3>

      <p class="govuk-body">
        The following services could help you with your current circumstances:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Tast item A</li>
        <li>Tast item B</li>
        <li>Tast item C</li>
        <li>Tast item D</li>
        <li>Tast item E</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m">Agent: Next steps what does an agent need to do, download PDF outcome</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Tast item A</li>
        <li>Tast item B</li>
        <li>Tast item C</li>
        <li>Tast item D</li>
        <li>Tast item E</li>
      </ul>


      <p class="govuk-body">Finish button locked until PDF sucessfully downloaded.<br>
        <a href="/get-eligibility-pdf" class="govuk-link">
           Download (PDF)
        </a>
      </p>
      <br>

      {{ govukButton({
        text: "Finish and close",
        href: "start"
      }) }}



    </div>
  </div>
{% endblock %}
