{% extends "layout.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Done/Out - Done - Sorry you are too young</h1>


      <br>

      <h3 class="govuk-heading-m">This space is for the reason why you are not entitled.</h3>

      <p class="govuk-body">
        @Pete Unfortunately, due to X you will not be entitled to Pension Credit. <br>You will be eligible to apply to Pension Creidt on <strong>Date Month Year</strong>.
      </p>

<br>

      <p class="govuk-body">
        <strong>Pension Credit claim line</strong><br>Monday to Friday, 8am to 6pm
        <br><br>
        <strong>Telephone</strong> 0800 99 1234<br>
        <strong>TextPhone</strong> 0800 169 0133
      </p>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <h3 class="govuk-heading-m">Further help...Where they go next</h3>

      <p class="govuk-body">
        Because you are too young, you can go and talk to UC. Here is their details. The following services could help you with your current circumstances:
      </p>

      <p class="govuk-body">
        <strong>Contact Univercial Credit</strong><br>Open Monday to Friday, 09.00 — 17.00
        <br><br>
        <strong>Telephone</strong> 0800 000 000<br>
        <strong>TextPhone</strong> 0800 000 001
      </p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m">Agent: Next steps what does an agent need to do, download PDF outcome</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Once all done close this page.</li>
      </ul>

      <br>

      {{ govukButton({
        text: "Finish and close",
        href: "start"
      }) }}



    </div>
  </div>
{% endblock %}
