{% extends "layout.html" %}

{% block pageTitle %}
  Are you ringing or applying on your own behalf? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="name-and-nino" method="post">

        {{ govukRadios({
          idPrefix: "claiming-for",
          name: "claiming-for",
          fieldset: {
            legend: {
              text: "Which of these best describes you? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yourself",
              text: "I am the claimant",
              checked: data['claiming-for'] == "Myself"
            },
            {
              divider: "or"
            },
            {
            value: "Power of attorney",
            text: "I have power of attorney to make decisions for the claimant"
          },
          {
            value: "Appointee",
            text: "I am an appointee of the claimant"
          },
          {
            value: "Charity",
            text: "I represent a charity that is helping the claimant"
          },
          {
            value: "Family member",
            text: "I am a family member of the claimant"
          },
          {
            value: "Friend",
            text: "I am a friend of the claimant"
          },
          {
            value: "SomeoneElse",
            text: "Someone else"
          }
          ]
        }) }}

<br>


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
