{% extends "layout-fake-searchlight.html" %}

{% block pageTitle %}
  SearchLight
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="sl-find-a-claim-router" method="post" class="form">

      <section class="key-details-bar" role="contentinfo" aria-label="Key details">
        <dl class="key-details-bar__key-details">
          <div class="key-details-bar__top-block">
            <dt class="visually-hidden">Name:</dt>
            <dd class="key-details-bar__name">Jane Doe</dd>

            <dt class="visually-hidden">National Insurance number:</dt>
            <dd class="key-details-bar__nino">QQ 12 34 56 X</dd>

            <dt class="visually-hidden">Claim status:</dt>
            <dd class="key-details-bar__status">Complete</dd>
          </div>

          <div class="key-details-bar__bottom-block">
            <dt>Date of birth:</dt>
            <dd>4 June 1972</dd>

            <dt>Mobile:</dt>
            <dd>07771 900 900</dd>

            <dt>Language:</dt>
            <dd>Welsh speaker</dd>
          </div>
        </dl>
      </section>

      <main id="content" role="main">
        <div class="grid-row">
          <div class="column-two-thirds">

            <h1 class="visually-hidden">Claim details: Jane Doe</h1>

          </div>
        </div>
      </main>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Look up a customer</h1>
      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-top-2 govuk-!-margin-bottom-0">Enter a National Insurance number.</p>
      <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-top-0 govuk-!-margin-bottom-2">For example, ‘QQ 12 34 56 C’</p>


                {{ govukInput({
                  label: {
                    html: legendName
                  },
                  hint: {
                    text: ""
                  },
                  id: "sl-find-a-claim",
                  name: "sl-find-a-claim",
                  classes: "govuk-input--width-10 govuk-!-margin-bottom-0",
                  value: data["sl-find-a-claim"]
                }) }}

                {{ govukButton({
                  text: "Find",
                  classes: "govuk-!-margin-right-1"
                }) }}

                {% set legendNI %}

                S1 11 22 33 A<br><br>
                S2 11 22 33 B<br><br>
                S3 11 22 33 C<br><br>
                S4 11 22 33 D<br><br>
                S5 11 22 33 E<br><br>
                S6 11 22 33 F

                <!--
                S1 11 22 33 A: Someone has MAX / OVER SP with no qualifying benefits<br><br>
                S2 11 22 33 B: Someone has Low SP, Qualifying benefits, but too much income via Private pension<br><br>
                S3 11 22 33 C: Someone has Low SP, Qualifying benefits, but too much income via Employment<br><br>
                S4 11 22 33 D: Service charges = Fast tracked to DWP<br><br>
                S5 11 22 33 E: Claimants scenario is massively complex, too much for G4s to handle = Handover to DWP<br><br>
                S6 11 22 33 F: Low SP, Low Pensions, zero income = Classic PC. (edited)
                -->
                {% endset -%}


            {{ govukDetails({
            summaryText: "NI scenarios",
            html: legendNI
            }) }}


                  </div>
                </div>




{% endblock %}
