{% extends "layout-work-list-id-bar-find.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="find-a-claim" method="post" class="form">

      <!-- {% include "citizen-version-1/work-list-1-2/admin-navigation.html" %} -->





                <p class="govuk-body govuk-!-font-size-48 govuk-!-margin-bottom-6"><strong>API claim archive</strong></p>
                <!-- <p class="govuk-body govuk-!-font-size-48 govuk-!-margin-top-2 govuk-!-margin-bottom-2">Claims found for: <strong>NA112233c</strong></p> -->

              </div>

                <div class="govuk-grid-column-one-quarter">
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Total claims<br>in test batch</p>
                  <p class="govuk-!-font-weight-bold govuk-!-font-size-48">1,000</p>
                </div>

                <div class="govuk-grid-column-one-quarter">
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Incorrect claims<br>found by advisers</p>
                  <p class="govuk-!-font-weight-bold govuk-!-font-size-48">250</p>
                </div>

                <div class="govuk-grid-column-one-half">
                  .
                </div></div>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                <div class="govuk-grid-row">

                  <div class="govuk-grid-column-one-quarter">

                  {{ govukInput({
                    label: {
                      html: "<strong>Filter claims by National insurance number</strong>"
                    },
                    classes: "govuk-input--width-10",
                    id: "width-5",
                    name: "width-5"
                  }) }}
                </div>

                <div class="govuk-grid-column-one-quarter">
.
              </div>

                <div class="govuk-grid-column-one-quarter">
                  {{ govukCheckboxes({
                    idPrefix: "organisation",
                    name: "organisation",
                    classes: "govuk-checkboxes--small",
                    fieldset: {
                      legend: {
                        text: "Filter claim",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--s"
                      }
                    },
                    items: [
                      {
                        value: "Correct",
                        text: "Correct"
                      },
                      {
                        value: "Incorrect",
                        text: "Incorrect"
                      }
                    ]
                  }) }}
                </div>


                <div class="govuk-grid-column-one-quarter">
.
                </div>

</div>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2"><table class="govuk-table">
                              <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell govuk-20-percent">NI number</td>
                                  <td class="govuk-table__cell govuk-35-percent">Name</td>
                                  <td class="govuk-table__cell govuk-30-percent">API outcome</td>
                                  <td class="govuk-table__cell govuk-15-percent">Agent outcome</td>
                                </tr>
                                </thead>

                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__cell table-spacer">NI 11 22 33 c</th>
                                  <td class="govuk-table__cell table-spacer"><a href="api-claim-review">Jeff Bridges</a></td>
                                  <td class="govuk-table__cell table-spacer">Nil: Max State pension</td>
                                  <td class="govuk-table__cell table-spacer">
                                    {% if data["api-claim-outcome"] == "Correct" %}
                                    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">Correct</strong>
                                    {% elif data["api-claim-outcome"] == "Incorrect" %}
                                    <strong class="govuk-tag govuk-tag--pink govuk-phase-banner__content__tag">Incorrect</strong>
                                    {% else %}
                                    {% endif %}</td>
                                  </tr>

                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__cell table-spacer">NI 44 55 66 a</th>
                                  <td class="govuk-table__cell table-spacer">Mel Gibson</td>
                                  <td class="govuk-table__cell table-spacer">Nil: Max State pension</td>
                                  <td class="govuk-table__cell table-spacer"><strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">Correct</strong> </tr>



                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__cell table-spacer">NI 44 55 66 a</th>
                                  <td class="govuk-table__cell table-spacer">Geoff Linton</td>
                                  <td class="govuk-table__cell table-spacer">Nil: Max State pension</td>
                                  <td class="govuk-table__cell table-spacer"><strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">Correct</strong> </tr>


                                </table>

                  </div>
                </div>




{% endblock %}
