{% extends "layout-work-list-api.html" %}

{% block pageTitle %}
  Selected claim - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="api-claims" method="post" class="form">


        <!------------HEADLINE------------>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><strong>Jeff Bridges</strong></h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">National insurance number: <strong>NA 11 22 33 c</strong></p>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">API outcome: <strong>Nil claim</strong></p>

        {{ govukSummaryList({
          classes: "govuk-!-padding-bottom-6",

          rows: [
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "5 January 1978"
              }
            },
            {
              key: {
                text: "State pension amount"
              },
              value: {
                html: "£175.5"
              }
            },
            {
              key: {
                text: "Affected benefits in payment"
              },
              value: {
                html: "None"
              }
            },
            {
              key: {
                text: "Total capital EED"
              },
              value: {
                html: "£1,00.00"
              }
            },
            {
              key: {
                text: "Total capital Now"
              },
              value: {
                html: "£6,00.00"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Download PDF claim",
          classes: "govuk-button--secondary govuk-!-margin-bottom-9"
        }) }}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "api-claim-outcome",
          name: "api-claim-outcome",
          fieldset: {
            legend: {
              text: "Was API outcome correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m "
            }
          },

          items: [
            {
              value: "Correct",
              text: "Yes — Correct",
              checked: data['api-claim-outcome'] == "Correct"
            },
            {
              value: "Incorrect",
              text: "No — Incorrect",
              checked: data['api-claim-outcome'] == "Incorrect"
            }
          ]
        }) }}

        {{ govukButton({
          classes: "govuk-!-margin-top-0",
          text: "Confirm outcome"
        }) }}

</form>
    </div>
  </div>
{% endblock %}
