{% extends "layout-work-list-id-bar-find.html" %}

{% block pageTitle %}
  WorkLlist - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="find-a-claim" method="post" class="form">

      <!-- {% include "citizen-version-1/work-list-1-2/admin-navigation.html" %} -->





                <p class="govuk-body govuk-!-font-size-48 govuk-!-margin-bottom-6"><strong>API claim archive</strong></p>
                <!-- <p class="govuk-body govuk-!-font-size-48 govuk-!-margin-top-2 govuk-!-margin-bottom-2">Claims found for: <strong>NA112233c</strong></p> -->



              </div>
                <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-2">
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Total claims<br>in test batch</p>
                  <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">1,000</p>
                </div>


                <div class="govuk-grid-column-one-quarter">
                  <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Incorrect claims<br>found by advisers</p>
                  <p class="govuk-!-font-weight-bold govuk-!-font-size-48 govuk-!-margin-bottom-2">250</p>
                </div>
              </div>



                            <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2"><table class="govuk-table">
                              <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell govuk-20-percent">NI number</td>
                                  <td class="govuk-table__cell govuk-45-percent">Name</td>
                                  <td class="govuk-table__cell govuk-25-percent">API outcome</td>
                                  <td class="govuk-table__cell govuk-20-percent">Agent outcome</td>
                                </tr>
                                </thead>

                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__cell table-spacer">NI 11 22 33 c</th>
                                  <td class="govuk-table__cell table-spacer"><a href="api-claim-review">Jeff Bridges</a></td>
                                  <td class="govuk-table__cell table-spacer">Nil: Max State pension</td>
                                  <td class="govuk-table__cell table-spacer">
                                    {% if data["api-claim-outcome"] == "Correct" %}
                                    <strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">Correct</strong>
                                    {% elif data["api-claim-outcome"] == "Incorrect" %}
                                    <strong class="govuk-tag govuk-tag--pink govuk-phase-banner__content__tag">Incorrect</strong>
                                    {% else %}
                                    {% endif %}</td>
                                  </tr>

                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__cell table-spacer">NI 44 55 66 a</th>
                                  <td class="govuk-table__cell table-spacer">Mel Gibson</td>
                                  <td class="govuk-table__cell table-spacer">Nil: Max State pension</td>
                                  <td class="govuk-table__cell table-spacer"><strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">Correct</strong> </tr>



                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__cell table-spacer">NI 44 55 66 a</th>
                                  <td class="govuk-table__cell table-spacer">Geoff Linton</td>
                                  <td class="govuk-table__cell table-spacer">Nil: Max State pension</td>
                                  <td class="govuk-table__cell table-spacer"><strong class="govuk-tag govuk-tag--green govuk-phase-banner__content__tag">Correct</strong> </tr>


                                </table>









                  </div>
                </div>




{% endblock %}
