{% extends "layout-work-list-api.html" %}

{% block pageTitle %}
  Selected claim - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="api-claims" method="post" class="form">


        <!------------HEADLINE------------>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><strong>Jeff Bridges</strong></h1>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">National insurance number: <strong>NA 11 22 33 c</strong></p>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">API outcome: <strong>Nil claim</strong></p>
        <!-- <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">API outcome reason found: <strong>Max State Pension no qualifying benefits</strong></p> -->

        <!------------Legend------------>
          {% set LegendList %}
        <p class="govuk-heading-s govuk-!-margin-bottom-2">APIs used for this claim</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">

        <li>Matched using Natioanl insurance and Date of birth</li>
        <li>Reached SPA on or after 6.4.2016</li>
        <li>Claimant(s) receiving full SP</li>
        <li>No other affected benefits in payment</li>
        <li>No open interest in affected benefits</li>
        <li>No underlying entitlement for Carers Allowance or Carer's element of UC</li>
        <li>No housing costs (service charges, ground rent, mortgage)</li>
        </ul>

          {% endset %}
        <!------------Legend------------>

        {{ govukDetails({
          summaryText: "API matching criteria",
          html: LegendList
        }) }}

        {{ govukSummaryList({
          classes: "govuk-!-padding-bottom-6",

          rows: [
            {
              key: {
                text: "Date of birth"
              },
              value: {
                text: "5 January 1978"
              }
            },
            {
              key: {
                text: "State pension amount"
              },
              value: {
                html: "£175.5"
              }
            },
            {
              key: {
                text: "Affected benefits in payment"
              },
              value: {
                html: "None"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "View / Download PDF claim",
          classes: "govuk-button--secondary govuk-!-margin-bottom-9"
        }) }}

        {% set outcomeDetails %}
          {{ govukTextarea({
            label: {
              classes: "govuk-label--s",
              html: "Tell me the details"
            },
            hint: {
              text: ""
            },
            id: "api-claim-outcome-details",
            name: "api-claim-outcome-details",
            classes: "govuk-input--width-30",
            attributes: {
              maxlength: 200
            }
          }) }}
          {% endset %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "api-claim-outcome",
          name: "api-claim-outcome",
          fieldset: {
            legend: {
              text: "Was API outcome correct?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m "
            }
          },

          items: [
            {
              value: "Correct",
              text: "Yes — Correct",
              checked: data['api-claim-outcome'] == "Correct"
            },
            {
              value: "Incorrect",
              text: "No — because of X",
              checked: data['api-claim-outcome'] == "Incorrect"
            },
            {
              value: "Incorrect",
              text: "No — because of Y",
              checked: data['api-claim-outcome'] == "Incorrect"
            },
            {
              value: "Incorrect",
              text: "No – something else [cr]",
              checked: data['api-claim-outcome'] == "Incorrect",
                    conditional: {
                      html: outcomeDetails
             }
            }
          ]
        }) }}

        {{ govukButton({
          classes: "govuk-!-margin-top-0",
          text: "Confirm outcome"
        }) }}

</form>
    </div>
  </div>
{% endblock %}
