{% extends "layout-nav.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="query-phone-log" method="post" class="form">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Jeff Bridges</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">{{ data ["search-query"]}}</p>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

                      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2 govuk-!-margin-top-2"><table class="govuk-table">

                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-30-percent">Date</td>
                            <td class="govuk-table__cell govuk-40-percent">Calim ID</td>
                            <td class="govuk-table__cell govuk-30-percent">Nil award outcome</td>
                          </tr>
                          </thead>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell table-spacer"> 19 / 03 / 2022</td>
                            <td class="govuk-table__cell table-spacer"><a href="task-2-award-0001">0001</a></td>

                          <td class="govuk-table__cell table-spacer">

                              <strong class="govuk-tag app-task-list__nil-case-failed" id="eligibility-completed">To do</strong>

                            </td>
                            </tr>

                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell table-spacer"> 10 / 01 / 2022</td>
                            <td class="govuk-table__cell table-spacer"><a href="#">0002</a></td>

                            <td class="govuk-table__cell table-spacer"><strong class="govuk-tag app-task-list__nil-case-passed" id="eligibility-completed">To do</strong>
                            </tr>

                          </table>





            </div>
          </div>

  </div>



    </form>
{% endblock %}
