{% extends "layout-nav.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "explore-header.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="query-phone-log" method="post" class="form">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Jeff Bridges</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">{{ data ["search-query"]}}</p>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <ul class="govuk-list govuk-list govuk-!-margin-bottom-4">
              <li>Applied online</li>
              <li>Award</li>
              <li>State Pension Ammount</li>
              <li>Backdating Period</li>
              <li>Timeline</li>
            </ul>
          </div>

          <div class="govuk-grid-column-two-third">
            <ul class="govuk-list govuk-list govuk-!-margin-bottom-4">
              <li>28 Feb 2022</li>
              <li>Nil</li>
              <li>£182</li>
              <li>10 Jan 2022 to 28 Feb 2022</li>
              <li>Award letter sent on 01 Mar 2022 <br><a href="case-timeline">View more</a> </li>
            </ul>
          </div>
        </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-quarters">

      <ol class="app-task-list">
      <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">1.</span>Check nil award
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="case-benefits" aria-describedby="task-1">
            Benefits
          </a>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="process-b-nil-task-1" aria-describedby="task-1">
            Household composition
          </a>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="process-b-nil-task-1" aria-describedby="task-1">
            Housing
          </a>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="process-b-nil-task-1" aria-describedby="task-1">
            State Pension
          </a>
        </li>

      </ul>
      </li>

      </ol>

      <ol class="app-task-list">
      <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">2.</span>Check documents
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="process-b-nil-task-1" aria-describedby="task-1">
            Application
          </a>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="process-b-nil-task-1" aria-describedby="task-1">
            Award letter
          </a>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="process-b-nil-task-1" aria-describedby="task-1">
            Emails and letters from customer
          </a>
        </li>

      </ul>
      </li>

      </ol>

    </div>
  </div>



    </form>
{% endblock %}
