{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "global-nav-a.html" %}
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="qd-summary" method="post" class="form">

      {% include "agent-service-1-11/agent/qd-name-nino.html" %}


    <div class="govuk-!-margin-bottom-8">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">I can see that you have more than one claim, which claim is your question for?</h1>

        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-0">Use the details below to identify the claim you need to access</p>


        {{ govukRadios({
          classes: "",
          idPrefix: "qd-claims",
          name: "qd-claims",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [

            {
              value: "One",
              text: "1. To be processed",
              hint: {
                text: "Application submitted today at 7:00am"
              },
              checked: (data["qd-claims"] == "exit")
            },
            {
              value: "Two",
              text: "2. Award letter sent 28 February 2022 at 3:00pm",
              hint: {
                html: "First application submitted on 28 January 2022 at 8:00am <br> Second application submitted on 28 January 2022 at 10:00am"
              },
              checked: (data["qd-claims"] == "record")
            },
            {
              value: "three",
              text: "3. Award letter sent 9 January 2022 at 4:00pm",
              hint: {
                text: "Application submitted on 9 January 2022 at 11:00am"
              },
              checked: (data["qd-claims"] == "exit")
            }
          ]
        }) }}



        {{ govukButton({
        text: "Continue"
        }) }}



    </div>

    </div>



  </div>




    </form>
{% endblock %}
