{% extends "layout-ur-2022.html" %}

{% block pageTitle %}
  PC: Name Name

{% endblock %}

{% block header %}
 {% include "global-nav-a.html" %}
{% endblock %}


{% if data['qd-start'] === 'changes' %}
  {% set securityRoute = 'changes' %}
{% else %}
  {% set securityRoute = 'explain' %}
{% endif %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="home-user-0" method="post" class="form">

    <div class="govuk-!-margin-bottom-8">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Security not passed</h1>

      <p class="govuk-body govuk-!-font-size-24 ">Tell the claimant you are ending the call and to ring back when they have the correct information.</p>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">
        If they do not want to call back, they can write to:</p>

      <ul class="govuk-list govuk-body govuk-!-font-size-24">
        <li>Freepost RTEY-GLCE-EGYE</li>
        <li>The Pension Service 4</li>
        <li>Mail Handling Site A</li>
        <li>Wolverhampton</li>
        <li>WV98 1AG</li>
      </ul>



      {{ govukButton({
        text: "Exit"
      }) }}


    </div>

    </div>



  </div>




    </form>
{% endblock %}
