{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Date of birth - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="claimant-dob-router" method="post">



          {% if data['partner-check-yn'] == 'Yes, we live together' %}

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">As you live with a partner we need to make the application using the oldest persons date of birth</h1>

          <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">XXX</p>


          {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
              legend: {
                text: "Enter oldest persons date of birth",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 31 3 1948"
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data["dob-day"]
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data["dob-month"]
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data["dob-year"]
              }
            ]
          }) }}

            {% else %}



            {{ govukDateInput({
              id: "dob",
              namePrefix: "dob",
              fieldset: {
                legend: {
                  text: "What is your date of birth?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--xl"
                }
              },
              hint: {
                text: "For example, 31 3 1948"
              },
              items: [
                {
                  name: "day",
                  classes: "govuk-input--width-2",
                  value: data["dob-day"]
                },
                {
                  name: "month",
                  classes: "govuk-input--width-2",
                  value: data["dob-month"]
                },
                {
                  name: "year",
                  classes: "govuk-input--width-4",
                  value: data["dob-year"]
                }
              ]
            }) }}

              {% endif %}


        {{ govukButton({
          text: "Continue"
        }) }}


        <p class="govuk-body"><a href="claimant-gender">DOB is between 1951 and 1953</a></p>
        <p class="govuk-body"><a href="done-too-young">Out too young</a></p>
        <!-- <p class="govuk-body"><a href="done-advanced">Advanced claim</a></p> -->


      </form>
      <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
    </div>
  </div>
{% endblock %}
