{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Done, not getting SP - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/session-clear-route">
        <input type="hidden" name="session-clear-redirect-url" value="/g4s-0-7/mvp/type-of-claim">



    <!---- NORTHERN IRELAND ---->
    {% if data['partner-check-yn'] == 'Yes' %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">[Partner] You both need to claim your state Pension</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">You need to <a href="https://www.nidirect.gov.uk/articles/ways-claim-state-pension">get your State Pension</a> before you can apply online for Pension Credit.</p>



      <!---- Partner ---->
      {% else %}

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">[Single] You need to claim your state Pension</h1>

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">You need to <a href="https://www.gov.uk/get-state-pension">get your State Pension</a> before you can apply online for Pension Credit.</p>



        {% endif %}

        {{ govukButton({
        text: "Finish and close",
        classes: "govuk-button dont-print govuk-!-margin-top-6"
        }) }}

    </div>
  </div>
{% endblock %}
