{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Application complete - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

{% include "includes/js-back-link.html" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="XXX" method="post" class="form">

A few @petes on here

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">You will need to call the Northern Ireland Pension Centre</h1>

      <ul class="govuk-list govuk-list govuk-!-margin-bottom-4">
        <li>Telephone: 0808 100 6165</li>
        <li>Textphone (Text Relay): 0808 100 2198</li>
      </ul>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Monday to Friday, 9:00am to 4:00pm (closed on bank holidays).<br><a href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Contacting 08 and 03 numbers</a></p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">If you need more information on Pension Credit you can also use <a href="https://www.nidirect.gov.uk/">nidirect.gov.uk</a></p>

      <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">If you need to email the Northern Ireland Pension centre <a href="pensionservice@nissa.gsi.gov.uk">pensionservice@nissa.gsi.gov.uk</a></p>

@pete this is what Roberta sent me back. I'll cc you the chain. 
You will need to contact the Northern Ireland Pension Centre
You can check your eligibility and apply for Pension Credit online by visiting the NI Direct website www.nidirect.gov.uk and search for Pension Credit. It is quick, easy and secure.

If you cannot go online telephone: 0808 100 6165
Text phone: 0808 100 2198 (Freephone) (for deaf or hard of hearing users and customers with speech difficulties).
Opening hours Monday to Friday, 9.00am to 4.00pm (closed Public and Bank holidays). Contacting 08 and 03 numbers

If you need to email the Northern Ireland Pension Centre: pensionservice@dfcni.gov.uk







      {{ govukButton({
        text: "Finish and close",
        classes: "dont-print"
      }) }}

    </form>
    </div>
    </div>

{% endblock %}
