{% extends "layout-g4s.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data["system-outcome-selector"] == "housing-costs" %}
    <form action="outcome-housing-costs-router" method="post" class="form">

      {% elif data["system-outcome-selector"] == "mac" or data["system-outcome-selector"] == "sp-not-claimed" or data["system-outcome-selector"] == "joint-sp-not-claimed" %}

      <form action="exit" method="post" class="form">

    {% else %}

    <form action="outcome-radios-router" method="post" class="form">
    {% endif %}


    <!------------H1 LEGEND------------>

    {% if data["system-outcome-selector"] == "Unlikely" %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Based on your income, it doesn't look like you meet the criteria for Pension Credit</h1>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Would you like to find out what other help might be available with your living or housing costs?</p>


    {% elif data["system-outcome-selector"] == "housing-costs" %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Because you pay towards your housing, Pension Credit might be able to help you</h1>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Would you like me to hand you over to a colleague to make a full phone application now?</p>


    {% elif data["system-outcome-selector"] == "Likley" %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Based on what we know, it looks like you meet the criteria for Pension Credit</h1>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">Would you like me to hand you over to a colleague to make a full phone application now?</p>

    {% elif data['system-outcome-selector'] == 'children-handover'%}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">@pete Because you have children I need to send you to CAT</h1>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">XXX</p>

    {% elif data['system-outcome-selector'] == 'mac'%}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">@pete You are a mixed age couple</h1>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-2">XXX</p>

    {{ govukButton({
    text: "Finish and close",
    classes: "govuk-button dont-print govuk-!-margin-top-6"
    }) }}

    {% elif data['system-outcome-selector'] == 'sp-not-claimed'%}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">[Single] You need to claim your state Pension</h1>
    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">You need to <a href="https://www.gov.uk/get-state-pension">get your State Pension</a> before you can apply online for Pension Credit.</p>

    {{ govukButton({
    text: "Finish and close",
    classes: "govuk-button dont-print govuk-!-margin-top-6"
    }) }}


    {% elif data['system-outcome-selector'] == 'joint-sp-not-claimed'%}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">[Partner] You both need to claim your state Pension</h1>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-0">You need to <a href="https://www.nidirect.gov.uk/articles/ways-claim-state-pension">get your State Pension</a> before you can apply online for Pension Credit.</p>


      {{ govukButton({
      text: "Finish and close",
      classes: "govuk-button dont-print govuk-!-margin-top-6"
      }) }}


    {% else %}
    No scenario selected
    {% endif %}




                {% if data["system-outcome-selector"] == "mac" or data["system-outcome-selector"] == "sp-not-claimed" or data["system-outcome-selector"] == "joint-sp-not-claimed" %}

                {% else %}
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                          Select the next action
                        </h1>
                      </legend>
                      <div id="outcome-radios" class="govuk-hint">

                      </div>
                      <div class="govuk-radios">



                        {% if data["system-outcome-selector"] == "Likley" %}

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="outcome-radios" name="outcome-radios" type="radio" value="housing-costs">
                          <label class="govuk-label govuk-radios__label" for="changed-name-2">
                            <!--[HOUSING COSTS]--> Applicant likley - put them through to DWP <!-- - route to handover-early.html-->
                          </label>
                        </div>


                     {% elif data["system-outcome-selector"] == "housing-costs" %}

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="outcome-radios" name="outcome-radios" type="radio" value="housing-costs">
                          <label class="govuk-label govuk-radios__label" for="changed-name-2">
                            <!--[HOUSING COSTS]--> Applicant has housing costs - put them through to DWP <!-- - route to handover-early.html-->
                          </label>
                        </div>

                        {% elif data["system-outcome-selector"] == "Unlikely" %}
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="outcome-radios" name="outcome-radios" type="radio" value="help">
                          <label class="govuk-label govuk-radios__label" for="changed-name-2">
                             <!--[OTHER HELP]--> Other help that is available <!-- - route to more-help.html-->
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="outcome-radios" name="outcome-radios" type="radio" value="handover">
                          <label class="govuk-label govuk-radios__label" for="changed-name-2">
                            <!--[HANDOVER TO DWP]--> Handover to DWP regardless of outcome <!-- - route to handover-user-request.html-->
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input"
                          id="outcome-radios"
                          name="outcome-radios"
                          type="radio"
                          value="challenge">
                          <label class="govuk-label govuk-radios__label" for="changed-name-2">
                            <!--[END CALL]--> Applicant asked for details of the information we used <!--- route to exit.html-->
                          </label>
                        </div>


                      {% elif data['system-outcome-selector'] == 'children-handover'%}

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="outcome-radios" name="outcome-radios" type="radio" value="children">
                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                          <!--[HOUSING COSTS]--> Applicant has children - put them through to DWP <!-- - route to handover-early.html-->
                        </label>
                      </div>


                     {% endif %}


                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input"
                      id="outcome-radios"
                      name="outcome-radios"
                      type="radio"
                      value="exit">
                      <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        <!--[END CALL]--> Applicant wants to end the call <!--- route to exit.html-->
                      </label>
                    </div>




                    </fieldset>
                  </div>

                  {{ govukButton({
                    text: "Continue",
                    classes: "govuk-!-margin-top-6"
                  }) }}

      {% endif %}










</form>
</div>
{% endblock %}
