{% extends "layout-g4s.html" %}

{% block pageTitle %}
  claimant-national-insurance - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="partner-benefit-check" method="post" class="form">

      <input type="hidden" name="hospitals-complete" value="true"/>

<!--
      <div class="moj-banner">
      <div class="moj-banner__message">
      <h2 class="govuk-heading-m govuk-!-margin-top-0">Use SearchLight, do not ask caller.</h2>
      </div>
      </div>
-->


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        How much is your partner's State Pension each week?
      </h1>


      {{ govukInput({
        id: "partner-state-pension-amount",
        name: "partner-state-pension-amount",
        label: {
          html: "Enter the partner's weekly amount for State Pension",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: "Enter an amount in pounds and pence, for example 150.00"
        },
        prefix: {
          text: "£"
        },
        value: data["partner-state-pension-amount"],
        classes: "govuk-input--width-10 govuk-!-margin-bottom-0",
        spellcheck: false
      }) }}

      <p class="govuk-body govuk-!-padding-bottom-2"><a href="handover-early-sp">No State Pension shown in SearchLight</a></p>



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

<br>
<br>
<!-- Pretend max SP = 175.00 -->

  </div>
</div>
{% endblock %}
