{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Check for previous Pension Credit cliam - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <form action="claimant-details" method="post">




          {% set claimdate %}
          <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-2">You can backdate your claim for up to 3 months if you are eligible. You can claim up to 4 months in advance if you have not yet reached State Pension age.</p>
          <p class="govuk-hint govuk-!-font-size-19 govuk-!-margin-bottom-2">Things that might affect your eligibility are:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>previous claims for Pension Credit or other benefits </li>
            <li>changes to whether you live with a partner or anyone else</li>
            <li>changes to the amount of money you have, your income or employment status</li>
            <li>whether you have spent longer than 4 weeks outside the UK in the period you are claiming for, unless it was connected to medical treatment, convalescence or the death of a partner or child</li>
              </ul>
          {% endset %}


  <p class='govuk-body govuk-!-font-size-24 govuk-!-padding-bottom-0'>

        <br>

        {{ govukDateInput({
        id: "claim-date-cam-date-entry",
        namePrefix: "claim-date-cam-date-entry",
        fieldset: {
        legend: {
        html: "What date do you want your Pension Credit claim to start?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
        },
        hint: {
        html: claimdate
        }
        }) }}





        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
        <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
    </div>
  </div>
{% endblock %}
