{% extends "layout.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="pension-check" method="post" class="form">

      <!------------H1 LEGEND------------>
        {% set dynamicH1 %}
        {% if data["single-joint-check"] == "Single" %}  <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">"Single person H1</h1>{% endif %}
        {% if data["single-joint-check"] == "Joint" %}<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">""x4 H1 for this page /// Do you share the rent or mortgage for the place where you live with anyone other than your partner?"</h1>{% endif %}
        {% endset %}
      <!------------Legend--------------->

      {{ govukRadios({
        name: "pensions-check",
        fieldset: {
          legend: {
            html: dynamicH1,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["pensions-check"] == "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: (data["pensions-check"] == "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
