{% extends "layout-id-bar.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="home-ownership-router" method="post" class="form">

      {% set otherAccommodationDetails %}
        {{ govukTextarea({
          label: {
            classes: "govuk-label--s",
            html: "Details of this"
          },
          hint: {
            text: "????"
          },
          id: "other-details-yes",
          name: "other-details-yes",
          classes: "govuk-input--width-100",
          attributes: {
            maxlength: 200
          }
        }) }}
      {% endset %}

      {{ govukRadios({
        name: "home-ownership",
        fieldset: {
          legend: {
            text: "Which best describes the place where you live?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "You own it",
            text: "You own it",
            checked: (data["home-ownership"] == "You own it")
          },
          {
            value: "You rent it",
            text: "You rent it",
            checked: (data["home-ownership"] == "You rent it")
          },
          {
            value: "Other accommodation",
            text: "Other accommodation",
            checked: (data["home-ownership"] == "Other accommodation"),
                  conditional: {
                    html: otherAccommodationDetails
        }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
