{% extends "layout.html" %}

{% block pageTitle %}
  Partner details - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="home-care-home-check" method="post" class="form">

      <!-- Hidden input to set task to complete on task-list -->
      <input type="hidden" name="hospitals-complete" value="true"/>


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        About your partner
      </h1>

      {{ govukInput({
        label: {
          text: "What is your partners full name?"
        },
        hint: {
          text: "Include any middle names."
        },
        id: "partner-full-name",
        name: "partner-full-name",
        classes: "govuk-input--width-20",
        value: data["full-name"]
      }) }}

      {{ govukInput({
        label: {
          text: "Other names your partner has been known by (optional)"
        },
        hint: {
          text: "For example, maiden names or previous married names."
        },
        id: "partner-other-full-name",
        name: "partner-other-full-name",
        classes: "govuk-input--width-20",
        value: data["full-name"]
      }) }}


      {{ govukInput({
        label: {
          text: "What is the your partners National Insurance number?"
        },
          hint: {
            text: "It’s on their National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
          },
        id: "partner-nino",
        name: "partner-nino",
        classes: "govuk-input--width-10",
        value: data["partner-nino"]
      }) }}



      {{ govukRadios({
        idPrefix: "contact-partner-blind-check",
        name: "contact-partner-blind-check",
        fieldset: {
          legend: {
            text: "Is your partner registered blind or severely sight impaired?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        classes: "govuk-radios",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["contact-partner-blind-check"] == "Yes")
                    },
          {
            value: "No",
            text: "No",
            checked: (data["contact-partner-blind-check"] == "No")
          }
        ]
      }) }}

            {{ govukButton({
              text: "Continue"
            }) }}
          </form>
          <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->
        </div>
      </div>
      {% endblock %}
