{% extends "layout.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

{% include "includes/js-back-link.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="benefit-check" method="post" class="form">

      {% set pensionDetails %}
        {{ govukTextarea({
          label: {
            classes: "govuk-label--s",
            html: "Details of this"
          },
          hint: {
            text: "Who pays the pension? <br> How much is paid? <br> How often is it paid?"
          },
          id: "pension-check-details",
          name: "pension-check-details",
          classes: "govuk-input--width-100",
          attributes: {
            maxlength: 200
          }
        }) }}
      {% endset %}

      {{ govukRadios({
        name: "pension-check",
        fieldset: {
          legend: {
            text: "Do you or your partner get a private pension, money from a place where you used to work or any other pension? Y/N",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: (data["pension-check"] == "Yes"),
                  conditional: {
                    html: pensionDetails
        }
          },
          {
            value: "No",
            text: "No",
            checked: (data["pension-check"] == "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
