{% extends "layout.html" %}

{% block pageTitle %}
  Pension Credit — Alpha phase
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


<!----Headline---->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Alpha</span>
        <p class="govuk-body"> </p>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Pension Credit: New claims design development</h1>
      </div></div>

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body"> </p>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body-l"><strong>Current status: Passed assessment.</strong> <br>Awaiting approval to continue into private beta. <br><br>In Alpha we explored 4 ways of capturing data. <br><br>Our main exploration centered around looking at how the service would work if it was agent and citizen facing, and where else we could get data to increase accuracy.</p><br>
      </div></div>

<!----Main---->


<!------------ Version ------------>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <h2 class="govuk-heading-m"><strong>A.1.0</strong></h2>
          <p class="govuk-body"> </p>
        </div> <!------------ govuk-grid-column-one-quarter ------------>

        <div class="govuk-grid-column-three-quarters">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="li-pc">
          <ul class="app-task-list__items app-task-list-pc">

            <a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="company-information-completed">Start Prototype: New claim / End-to-end journey<br></a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">Hold</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">

            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and module order and shortcuts
            </span>
            </summary>

            <div class="govuk-grid-row"> <!------------ Details colum ------------>
            <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
            <br>
            <strong>Discription:</strong><br>Explored alternative ordering of questions attempting to eliminate any questions that were not needed for a claim.

            Questions were asked in a completely linear fashion (one questions per page.)

            We designed with the assumption that this would work for both agents and citizens.


          </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
          </div> <!------------ Details colum / Grid row close ------------>

            <div class="govuk-grid-row"> <!------------ Details colum ------------>
            <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">
            <strong>Tested in Dundee 8.10.2018 / Five participants.</strong><br><br>
            <strong>What we tested:</strong>
            <br>How would this work as a linear journey?
            <br>Does the order of the questions make sense?
            <br>What questions can we remove?
            <br>What other tools would an agent need to use to process a claim?
            <br><br>
            <strong>Outcome:</strong>
            <br>Agents were able to navigate through the prototype, although 2 thought they’d reached the end a step early due the label of the CTA on the page.
            <br>Agents commented that the order of the questions around where the user lives didn’t make sense as they weren’t all grouped together.
            <br>Agents mentioned being able to use a lot of other tools to double check information users provided, searchlight, CIS, RTI.
            <br>Agents were concerned users might not understand all the information we need, particularly financial.
            <br>
            <br>
            <strong>Next steps:</strong>
            <br>Investigate how we could use data from other systems, instead of having to ask the user for the information.
            <br>Test the questions with users to see what they do / don’t understand.
            <br>Test alternative ways of grouping the questions.
            <br>
            <br><br></p><br>
            </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

            <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <strong>Tested in Blaydon job centre 18.12.2018</strong>
              <br><br>
              <strong>What we tested:</strong>
              <br>What are users expectations of how they apply for Pension Credit and the process?
              <br>Would these users be more likely to use a digital service?
              <br>Test users understanding of the questions we are asking.
              <br>Understand what information users would know vs not know (What would they have to go away and check).
              <br>
              <br>
              <strong>Outcome:</strong>
              <br>3 / 5 users not comfortable using the digital service to apply for Pension Credit, this was mostly due to the length of the form and the fear of completing it incorrectly.
              <br>Users liked being able to see the information in front of them, which was something they didn’t like about the applying on the phone.
              <br>Some of the terminology confused users, household composition, state, P60.
              <br>3 user answered the question ‘Have you lived outside the UK in the last 2 years’ incorrectly, ticking ‘yes’ when they should have selected ‘No’.
              <br>The question of ‘when do you want to claim’ confused users, they were unsure when they could claim from.
              <br>2 user did not realise the next step was to click on the text links, insteading expecting to click on the ‘continue’ button at the bottom of the page.
              <br>2 users expressed concern after reading the declaration. Worrying that if they’d made a mistake they might be prosecuted.
              <br>
              <br>
              <strong>Next steps:</strong>
              <br>Revisit wording on residency ‘Q’
              <br>Reword content such as ‘Household composition’
              <br>Add some content / guidance to help users understand the date they need to enter.
              <br>Test with citizens and their ‘helpers’ as a lot of the users have said they’d normally have seeked help with this type of application
              <br><br><br><br>
            </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
            </div> <!------------ Details colum / Grid row close ------------>

            <div class="govuk-grid-row"> <!------------ Details colum ------------>
            <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

            <ul class="app-task-list__items app-task-list-pc">
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="contact-details-completed">About you</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/care-home" aria-describedby="contact-details-completed">Care Homes</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-partner" aria-describedby="contact-details-completed">Partner</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/other-people-you-live-with" aria-describedby="contact-details-completed">Household Composition</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/benefits" aria-describedby="contact-details-completed">Benefits</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/money-you-have" aria-describedby="contact-details-completed">Money / Capital</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-private-pension" aria-describedby="contact-details-completed">Pensions</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-work" aria-describedby="contact-details-completed">Employment</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/uk-account" aria-describedby="contact-details-completed">Bank Details</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/contact-preference" aria-describedby="contact-details-completed">Future Contact / Contact preference</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/done" aria-describedby="contact-details-completed">Done </a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/check-your-answers" aria-describedby="contact-details-completed">Check your answers</a></li>
            </ul>

          </div> <!------------ Details colum / govuk-grid-column-full ------------>
          </div> <!------------ Details colum / Grid row close ------------>

</details> <!------------ govuk-details ------------>
</li> <!------------ app-task-list__item ------------>

</li> <!------------ li-pc ------------>
</ul> <!------------ app-task-list__items app-task-list-pc ------------>

        </div> <!------------ govuk-grid-column-one-quarter ------------>
      </div> <!------------ Grid row close ------------>

      <!------------ Version ------------>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h2 class="govuk-heading-m"><strong>A.1.0</strong></h2>
                <p class="govuk-body"> </p>
              </div> <!------------ govuk-grid-column-one-quarter ------------>

              <div class="govuk-grid-column-three-quarters">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <li class="li-pc">
                <ul class="app-task-list__items app-task-list-pc">

                  <a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="company-information-completed">Start Prototype: New claim / End-to-end journey<br></a>
                  <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">Hold</strong><br><br>
                  <li class="app-task-list__item app-task-list-pc">

                <details class="govuk-details">

                  <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  Version notes and module order and shortcuts
                  </span>
                  </summary>

                  <div class="govuk-grid-row"> <!------------ Details colum ------------>
                  <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
                  <br>
                  <strong>Discription:</strong><br>Explored alternative ordering of questions attempting to eliminate any questions that were not needed for a claim.

                  Questions were asked in a completely linear fashion (one questions per page.)

                  We designed with the assumption that this would work for both agents and citizens.


                </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
                </div> <!------------ Details colum / Grid row close ------------>

                  <div class="govuk-grid-row"> <!------------ Details colum ------------>
                  <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                  <p class="govuk-body">
                  <strong>Tested in Dundee 8.10.2018 / Five participants.</strong><br><br>
                  <strong>What we tested:</strong>
                  <br>How would this work as a linear journey?
                  <br>Does the order of the questions make sense?
                  <br>What questions can we remove?
                  <br>What other tools would an agent need to use to process a claim?
                  <br><br>
                  <strong>Outcome:</strong>
                  <br>Agents were able to navigate through the prototype, although 2 thought they’d reached the end a step early due the label of the CTA on the page.
                  <br>Agents commented that the order of the questions around where the user lives didn’t make sense as they weren’t all grouped together.
                  <br>Agents mentioned being able to use a lot of other tools to double check information users provided, searchlight, CIS, RTI.
                  <br>Agents were concerned users might not understand all the information we need, particularly financial.
                  <br>
                  <br>
                  <strong>Next steps:</strong>
                  <br>Investigate how we could use data from other systems, instead of having to ask the user for the information.
                  <br>Test the questions with users to see what they do / don’t understand.
                  <br>Test alternative ways of grouping the questions.
                  <br>
                  <br><br></p><br>
                  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

                  <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <strong>Tested in Blaydon job centre 18.12.2018</strong>
                    <br><br>
                    <strong>What we tested:</strong>
                    <br>What are users expectations of how they apply for Pension Credit and the process?
                    <br>Would these users be more likely to use a digital service?
                    <br>Test users understanding of the questions we are asking.
                    <br>Understand what information users would know vs not know (What would they have to go away and check).
                    <br>
                    <br>
                    <strong>Outcome:</strong>
                    <br>3 / 5 users not comfortable using the digital service to apply for Pension Credit, this was mostly due to the length of the form and the fear of completing it incorrectly.
                    <br>Users liked being able to see the information in front of them, which was something they didn’t like about the applying on the phone.
                    <br>Some of the terminology confused users, household composition, state, P60.
                    <br>3 user answered the question ‘Have you lived outside the UK in the last 2 years’ incorrectly, ticking ‘yes’ when they should have selected ‘No’.
                    <br>The question of ‘when do you want to claim’ confused users, they were unsure when they could claim from.
                    <br>2 user did not realise the next step was to click on the text links, insteading expecting to click on the ‘continue’ button at the bottom of the page.
                    <br>2 users expressed concern after reading the declaration. Worrying that if they’d made a mistake they might be prosecuted.
                    <br>
                    <br>
                    <strong>Next steps:</strong>
                    <br>Revisit wording on residency ‘Q’
                    <br>Reword content such as ‘Household composition’
                    <br>Add some content / guidance to help users understand the date they need to enter.
                    <br>Test with citizens and their ‘helpers’ as a lot of the users have said they’d normally have seeked help with this type of application
                    <br><br><br><br>
                  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
                  </div> <!------------ Details colum / Grid row close ------------>

                  <div class="govuk-grid-row"> <!------------ Details colum ------------>
                  <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

                  <ul class="app-task-list__items app-task-list-pc">
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="contact-details-completed">About you</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/care-home" aria-describedby="contact-details-completed">Care Homes</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-partner" aria-describedby="contact-details-completed">Partner</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/other-people-you-live-with" aria-describedby="contact-details-completed">Household Composition</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/benefits" aria-describedby="contact-details-completed">Benefits</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/money-you-have" aria-describedby="contact-details-completed">Money / Capital</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-private-pension" aria-describedby="contact-details-completed">Pensions</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-work" aria-describedby="contact-details-completed">Employment</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/uk-account" aria-describedby="contact-details-completed">Bank Details</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/contact-preference" aria-describedby="contact-details-completed">Future Contact / Contact preference</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/done" aria-describedby="contact-details-completed">Done </a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/check-your-answers" aria-describedby="contact-details-completed">Check your answers</a></li>
                  </ul>

                </div> <!------------ Details colum / govuk-grid-column-full ------------>
                </div> <!------------ Details colum / Grid row close ------------>

      </details> <!------------ govuk-details ------------>
      </li> <!------------ app-task-list__item ------------>

      </li> <!------------ li-pc ------------>
      </ul> <!------------ app-task-list__items app-task-list-pc ------------>

              </div> <!------------ govuk-grid-column-one-quarter ------------>
            </div> <!------------ Grid row close ------------>

            <!------------ Version ------------>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h2 class="govuk-heading-m"><strong>A.1.0</strong></h2>
                <p class="govuk-body"> </p>
              </div> <!------------ govuk-grid-column-one-quarter ------------>

              <div class="govuk-grid-column-three-quarters">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <li class="li-pc">
                <ul class="app-task-list__items app-task-list-pc">

                  <a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="company-information-completed">Start Prototype: New claim / End-to-end journey<br></a>
                  <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">A.1.0</strong><br><br>
                  <li class="app-task-list__item app-task-list-pc">

                <details class="govuk-details">

                  <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  Version notes and module order and shortcuts
                  </span>
                  </summary>

                  <div class="govuk-grid-row"> <!------------ Details colum ------------>
                  <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
                  <br>
                  <strong>Discription:</strong><br>Explored alternative ordering of questions attempting to eliminate any questions that were not needed for a claim.

                  Questions were asked in a completely linear fashion (one questions per page.)

                  We designed with the assumption that this would work for both agents and citizens.


                </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
                </div> <!------------ Details colum / Grid row close ------------>

                  <div class="govuk-grid-row"> <!------------ Details colum ------------>
                  <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                  <p class="govuk-body">
                  <strong>Tested in Dundee 8.10.2018 / Five participants.</strong><br><br>
                  <strong>What we tested:</strong>
                  <br>How would this work as a linear journey?
                  <br>Does the order of the questions make sense?
                  <br>What questions can we remove?
                  <br>What other tools would an agent need to use to process a claim?
                  <br><br>
                  <strong>Outcome:</strong>
                  <br>Agents were able to navigate through the prototype, although 2 thought they’d reached the end a step early due the label of the CTA on the page.
                  <br>Agents commented that the order of the questions around where the user lives didn’t make sense as they weren’t all grouped together.
                  <br>Agents mentioned being able to use a lot of other tools to double check information users provided, searchlight, CIS, RTI.
                  <br>Agents were concerned users might not understand all the information we need, particularly financial.
                  <br>
                  <br>
                  <strong>Next steps:</strong>
                  <br>Investigate how we could use data from other systems, instead of having to ask the user for the information.
                  <br>Test the questions with users to see what they do / don’t understand.
                  <br>Test alternative ways of grouping the questions.
                  <br>
                  <br><br></p><br>
                  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

                  <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <strong>Tested in Blaydon job centre 18.12.2018</strong>
                    <br><br>
                    <strong>What we tested:</strong>
                    <br>What are users expectations of how they apply for Pension Credit and the process?
                    <br>Would these users be more likely to use a digital service?
                    <br>Test users understanding of the questions we are asking.
                    <br>Understand what information users would know vs not know (What would they have to go away and check).
                    <br>
                    <br>
                    <strong>Outcome:</strong>
                    <br>3 / 5 users not comfortable using the digital service to apply for Pension Credit, this was mostly due to the length of the form and the fear of completing it incorrectly.
                    <br>Users liked being able to see the information in front of them, which was something they didn’t like about the applying on the phone.
                    <br>Some of the terminology confused users, household composition, state, P60.
                    <br>3 user answered the question ‘Have you lived outside the UK in the last 2 years’ incorrectly, ticking ‘yes’ when they should have selected ‘No’.
                    <br>The question of ‘when do you want to claim’ confused users, they were unsure when they could claim from.
                    <br>2 user did not realise the next step was to click on the text links, insteading expecting to click on the ‘continue’ button at the bottom of the page.
                    <br>2 users expressed concern after reading the declaration. Worrying that if they’d made a mistake they might be prosecuted.
                    <br>
                    <br>
                    <strong>Next steps:</strong>
                    <br>Revisit wording on residency ‘Q’
                    <br>Reword content such as ‘Household composition’
                    <br>Add some content / guidance to help users understand the date they need to enter.
                    <br>Test with citizens and their ‘helpers’ as a lot of the users have said they’d normally have seeked help with this type of application
                    <br><br><br><br>
                  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
                  </div> <!------------ Details colum / Grid row close ------------>

                  <div class="govuk-grid-row"> <!------------ Details colum ------------>
                  <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

                  <ul class="app-task-list__items app-task-list-pc">
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="contact-details-completed">About you</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/care-home" aria-describedby="contact-details-completed">Care Homes</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-partner" aria-describedby="contact-details-completed">Partner</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/other-people-you-live-with" aria-describedby="contact-details-completed">Household Composition</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/benefits" aria-describedby="contact-details-completed">Benefits</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/money-you-have" aria-describedby="contact-details-completed">Money / Capital</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-private-pension" aria-describedby="contact-details-completed">Pensions</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-work" aria-describedby="contact-details-completed">Employment</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/uk-account" aria-describedby="contact-details-completed">Bank Details</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/contact-preference" aria-describedby="contact-details-completed">Future Contact / Contact preference</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/done" aria-describedby="contact-details-completed">Done </a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/check-your-answers" aria-describedby="contact-details-completed">Check your answers</a></li>
                  </ul>

                </div> <!------------ Details colum / govuk-grid-column-full ------------>
                </div> <!------------ Details colum / Grid row close ------------>

      </details> <!------------ govuk-details ------------>
      </li> <!------------ app-task-list__item ------------>

      </li> <!------------ li-pc ------------>
      </ul> <!------------ app-task-list__items app-task-list-pc ------------>

              </div> <!------------ govuk-grid-column-one-quarter ------------>
            </div> <!------------ Grid row close ------------>

            <!------------ Version ------------>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <h2 class="govuk-heading-m"><strong>MVP 1.1</strong></h2>
                <p class="govuk-body"> </p>
              </div> <!------------ govuk-grid-column-one-quarter ------------>

              <div class="govuk-grid-column-three-quarters">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <li class="li-pc">
                <ul class="app-task-list__items app-task-list-pc">

                  <a class="app-task-list__task-name" href="/sprint-4/mvp/start.html" aria-describedby="company-information-completed">Start Prototype<br></a>
                  <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">MVP.1.1</strong><br><br>
                  <li class="app-task-list__item app-task-list-pc">

                <details class="govuk-details">

                  <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  Version notes and module order and shortcuts
                  </span>
                  </summary>

                  <div class="govuk-grid-row"> <!------------ Details colum ------------>
                  <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                  <p class="govuk-body">Introduction</p><br>
                  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

                  <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <strong>Headline</strong><br>Body.
                    <br><br>
                    <strong>Headline</strong><br>Body.
                    <br><br><br>
                  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
                  </div> <!------------ Details colum / Grid row close ------------>

                  <div class="govuk-grid-row"> <!------------ Details colum ------------>
                  <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

                  <ul class="app-task-list__items app-task-list-pc">
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-5/mvp/start.html" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-5/mvp/task-list.html" aria-describedby="contact-details-completed">Task list</a></li>
                    <!------------ ---- ------------>
                  </ul>

                </div> <!------------ Details colum / govuk-grid-column-full ------------>
                </div> <!------------ Details colum / Grid row close ------------>

      </details> <!------------ govuk-details ------------>
      </li> <!------------ app-task-list__item ------------>

      </li> <!------------ li-pc ------------>
      </ul> <!------------ app-task-list__items app-task-list-pc ------------>

              </div> <!------------ govuk-grid-column-one-quarter ------------>
            </div> <!------------ Grid row close ------------>

            <!------------ Version ------------>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <h2 class="govuk-heading-m"><strong>A.1.0</strong></h2>
          <p class="govuk-body"> </p>
        </div> <!------------ govuk-grid-column-one-quarter ------------>

        <div class="govuk-grid-column-three-quarters">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="li-pc">
          <ul class="app-task-list__items app-task-list-pc">

            <a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="company-information-completed">Start Prototype: New claim / End-to-end journey<br></a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">A.1.0</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">

            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and module order and shortcuts
            </span>
            </summary>

            <div class="govuk-grid-row"> <!------------ Details colum ------------>
            <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
            <br>
            <strong>Discription:</strong><br>Explored alternative ordering of questions attempting to eliminate any questions that were not needed for a claim.

            Questions were asked in a completely linear fashion (one questions per page.)

            We designed with the assumption that this would work for both agents and citizens.


          </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
          </div> <!------------ Details colum / Grid row close ------------>

            <div class="govuk-grid-row"> <!------------ Details colum ------------>
            <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">
            <strong>Tested in Dundee 8.10.2018 / Five participants.</strong><br><br>
            <strong>What we tested:</strong>
            <br>How would this work as a linear journey?
            <br>Does the order of the questions make sense?
            <br>What questions can we remove?
            <br>What other tools would an agent need to use to process a claim?
            <br><br>
            <strong>Outcome:</strong>
            <br>Agents were able to navigate through the prototype, although 2 thought they’d reached the end a step early due the label of the CTA on the page.
            <br>Agents commented that the order of the questions around where the user lives didn’t make sense as they weren’t all grouped together.
            <br>Agents mentioned being able to use a lot of other tools to double check information users provided, searchlight, CIS, RTI.
            <br>Agents were concerned users might not understand all the information we need, particularly financial.
            <br>
            <br>
            <strong>Next steps:</strong>
            <br>Investigate how we could use data from other systems, instead of having to ask the user for the information.
            <br>Test the questions with users to see what they do / don’t understand.
            <br>Test alternative ways of grouping the questions.
            <br>
            <br><br></p><br>
            </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

            <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <strong>Tested in Blaydon job centre 18.12.2018</strong>
              <br><br>
              <strong>What we tested:</strong>
              <br>What are users expectations of how they apply for Pension Credit and the process?
              <br>Would these users be more likely to use a digital service?
              <br>Test users understanding of the questions we are asking.
              <br>Understand what information users would know vs not know (What would they have to go away and check).
              <br>
              <br>
              <strong>Outcome:</strong>
              <br>3 / 5 users not comfortable using the digital service to apply for Pension Credit, this was mostly due to the length of the form and the fear of completing it incorrectly.
              <br>Users liked being able to see the information in front of them, which was something they didn’t like about the applying on the phone.
              <br>Some of the terminology confused users, household composition, state, P60.
              <br>3 user answered the question ‘Have you lived outside the UK in the last 2 years’ incorrectly, ticking ‘yes’ when they should have selected ‘No’.
              <br>The question of ‘when do you want to claim’ confused users, they were unsure when they could claim from.
              <br>2 user did not realise the next step was to click on the text links, insteading expecting to click on the ‘continue’ button at the bottom of the page.
              <br>2 users expressed concern after reading the declaration. Worrying that if they’d made a mistake they might be prosecuted.
              <br>
              <br>
              <strong>Next steps:</strong>
              <br>Revisit wording on residency ‘Q’
              <br>Reword content such as ‘Household composition’
              <br>Add some content / guidance to help users understand the date they need to enter.
              <br>Test with citizens and their ‘helpers’ as a lot of the users have said they’d normally have seeked help with this type of application
              <br><br><br><br>
            </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
            </div> <!------------ Details colum / Grid row close ------------>

            <div class="govuk-grid-row"> <!------------ Details colum ------------>
            <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

            <ul class="app-task-list__items app-task-list-pc">
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="contact-details-completed">About you</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/care-home" aria-describedby="contact-details-completed">Care Homes</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-partner" aria-describedby="contact-details-completed">Partner</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/other-people-you-live-with" aria-describedby="contact-details-completed">Household Composition</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/benefits" aria-describedby="contact-details-completed">Benefits</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/money-you-have" aria-describedby="contact-details-completed">Money / Capital</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-private-pension" aria-describedby="contact-details-completed">Pensions</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/has-work" aria-describedby="contact-details-completed">Employment</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/uk-account" aria-describedby="contact-details-completed">Bank Details</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/contact-preference" aria-describedby="contact-details-completed">Future Contact / Contact preference</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/done" aria-describedby="contact-details-completed">Done </a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-1/new-claims/check-your-answers" aria-describedby="contact-details-completed">Check your answers</a></li>
            </ul>

          </div> <!------------ Details colum / govuk-grid-column-full ------------>
          </div> <!------------ Details colum / Grid row close ------------>

</details> <!------------ govuk-details ------------>
</li> <!------------ app-task-list__item ------------>

</li> <!------------ li-pc ------------>
</ul> <!------------ app-task-list__items app-task-list-pc ------------>

        </div> <!------------ govuk-grid-column-one-quarter ------------>
      </div> <!------------ Grid row close ------------>

      <!------------ Version ------------>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <h2 class="govuk-heading-m"><strong>MVP 1.1</strong></h2>
          <p class="govuk-body"> </p>
        </div> <!------------ govuk-grid-column-one-quarter ------------>

        <div class="govuk-grid-column-three-quarters">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="li-pc">
          <ul class="app-task-list__items app-task-list-pc">

            <a class="app-task-list__task-name" href="/sprint-4/mvp/start.html" aria-describedby="company-information-completed">Start Prototype<br></a>
            <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">MVP.1.1</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">

            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and module order and shortcuts
            </span>
            </summary>

            <div class="govuk-grid-row"> <!------------ Details colum ------------>
            <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body">Introduction</p><br>
            </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

            <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <strong>Headline</strong><br>Body.
              <br><br>
              <strong>Headline</strong><br>Body.
              <br><br><br>
            </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
            </div> <!------------ Details colum / Grid row close ------------>

            <div class="govuk-grid-row"> <!------------ Details colum ------------>
            <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

            <ul class="app-task-list__items app-task-list-pc">
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-5/mvp/start.html" aria-describedby="contact-details-completed">Start</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-5/mvp/task-list.html" aria-describedby="contact-details-completed">Task list</a></li>
              <!------------ ---- ------------>
            </ul>

          </div> <!------------ Details colum / govuk-grid-column-full ------------>
          </div> <!------------ Details colum / Grid row close ------------>

</details> <!------------ govuk-details ------------>
</li> <!------------ app-task-list__item ------------>

</li> <!------------ li-pc ------------>
</ul> <!------------ app-task-list__items app-task-list-pc ------------>

        </div> <!------------ govuk-grid-column-one-quarter ------------>
      </div> <!------------ Grid row close ------------>

      <!------------ Version ------------>

        </main>
        </div>


<!----

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

---->



{% endblock %}
