
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
    {{ govukHeader({ serviceName: "Pension Credit" }) }}
{% endblock %}

{% block content %}

<!-- Start / Back section -->


   <main class="govuk-main-wrapper">
<!------------ ---- ------------>
     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl">Pension Credit design development</h1>
       </div>
     </div>
<!------------ End / X section ------------>

     <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">
         <p class="govuk-body-l">Prototype and design index</p>

<!------------ ---- ------------>
<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">. </span> Development
    </h2>
    <ul class="app-task-list__items">
     <!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/task-list#" aria-describedby="eligibility-completed">
          PIFM
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Hold</strong>
      </li>
      <!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/development/find_a_claimant/case-management.html" aria-describedby="contact-details-completed">
          Case management
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
      </li>
      <!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/development/claimant_index/cliamantIndex.html" aria-describedby="contact-details-completed">
          Claimant index
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
      </li>
      <!------------ ---- ------------>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/task-list#" aria-describedby="company-information-completed">
                Initial eligibility
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">X</strong>
            </li>
      <!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/development/find_a_claimant/find_a_claimant.html" aria-describedby="contact-details-completed">
          Find a claimant
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
      </li>
      <!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/development/find_a_claimant/claimant_found.html" aria-describedby="contact-details-completed">
          Claimant found
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
      </li>
      <!------------ ---- ------------>
    </ul>
  </li>
<!------------ Section ------------ ------------>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">A. </span> Pension credit / End-to-end journeys
    </h2>
    <ul class="app-task-list__items">
<!------------ ---- ------------>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="company-information-completed">
          Sprint one / New claim A
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">1.0</strong>


      </li> <br>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version: 1.0 / Module shortcuts
          </span>
        </summary>
        <div class="govuk-details__text">
          Tested in Dundee 8.10.2018 / Five participants.
        </div>


     <li>
       <ul class="app-task-list__items">

         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="contact-details-completed">
             About you
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/care-home" aria-describedby="contact-details-completed">
             Care Homes
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/has-partner" aria-describedby="contact-details-completed">
             Partner
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/other-people-you-live-with" aria-describedby="contact-details-completed">
             Household Composition
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/benefits" aria-describedby="contact-details-completed">
             Benefits
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/money-you-have" aria-describedby="contact-details-completed">
             Money / Capital
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/has-private-pension" aria-describedby="contact-details-completed">
             Pensions
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/has-work" aria-describedby="contact-details-completed">
             Employment
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/uk-account" aria-describedby="contact-details-completed">
             Bank Details
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/contact-preference" aria-describedby="contact-details-completed">
             Future Contact / Contact preference
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/done" aria-describedby="contact-details-completed">
             Done
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>
         <li class="app-task-list__item">
           <a class="app-task-list__task-name" href="/sprint-1/new-claims/check-your-answers" aria-describedby="contact-details-completed">
             Check your answers
           </a>
           <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
         </li>
         <!------------ ---- ------------>

</ul>
</li>
</details>

  <!------------ ---- ------------>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="/sprint-2/new-claims/about-you.html" aria-describedby="company-information-completed">
            Sprint two / New claim A
          </a>
          <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">1.1</strong>


        </li> <br>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version: 1.1 / Module shortcuts
            </span>
          </summary>
          <div class="govuk-details__text">
            Notes in here about 1.1
          </div>


       <li>
         <ul class="app-task-list__items">

           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/about-you.html" aria-describedby="contact-details-completed">
               About you
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/care-home" aria-describedby="contact-details-completed">
               Care Homes
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/has-partner" aria-describedby="contact-details-completed">
               Partner
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/other-people-you-live-with" aria-describedby="contact-details-completed">
               Household Composition
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/benefits" aria-describedby="contact-details-completed">
               Benefits
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/money-you-have" aria-describedby="contact-details-completed">
               Money / Capital
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/has-private-pension" aria-describedby="contact-details-completed">
               Pensions
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/has-work" aria-describedby="contact-details-completed">
               Employment
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/uk-account" aria-describedby="contact-details-completed">
               Bank Details
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/contact-preference" aria-describedby="contact-details-completed">
               Future Contact / Contact preference
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/done" aria-describedby="contact-details-completed">
               Done
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/sprint-2/new-claims/check-your-answers" aria-describedby="contact-details-completed">
               Check your answers
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>

  </ul>
  </li>
  </details>
  </ul>
  </li>
  <!------------ ---- ------------>

  <!------------ Section ------------ ------------>
    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">B. </span> Pension credit / End-to-end journeys
      </h2>
      <ul class="app-task-list__items">
  <!------------ ---- ------------>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="/sprint-1/new-claims/about-you" aria-describedby="company-information-completed">
            Sprint two / New claim B
          </a>
          <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">1.0</strong>


        </li> <br>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Version: 1.0 / Module shortcuts
            </span>
          </summary>
          <div class="govuk-details__text">
          XXX.
          </div>


       <li>
         <ul class="app-task-list__items">

           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/" aria-describedby="contact-details-completed">
               XXX
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>
           <li class="app-task-list__item">
             <a class="app-task-list__task-name" href="/" aria-describedby="contact-details-completed">
               XXX
             </a>
             <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">X</strong>
           </li>
           <!------------ ---- ------------>

    </ul>
    </li>
    </details>
    </ul>
    </li>
    <!------------ ---- ------------>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">. </span> Change of circumanstances
        </h2>
        <ul class="app-task-list__items">
    <!------------ ---- ------------>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="/development/claimant_index/cliamantIndex.html" aria-describedby="contact-details-completed">
              (Claimant index) Change of circumanstances
            </a>
            <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">X</strong>
          </li>
    <!------------ ---- ------------>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="https://govuk-prototype-kit.herokuapp.com/docs/templates/task-list#" aria-describedby="company-information-completed">
              ..
            </a>
            <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">X</strong>
          </li>
    <!------------ ---- ------------>

        </ul>
      </li>
      <!------------ Section ------------ ------------>

    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">. </span> Section
      </h2>
      <ul class="app-task-list__items">
  <!------------ ---- ------------>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="/#" aria-describedby="contact-details-completed">
            X
          </a>
          <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">X</strong>
        </li>
  <!------------ ---- ------------>

      </ul>
    </li>

    <!------------ Section ------------ ------------>

    </ol>
    </div>

<!------------ End / Left column ------------>

<!------------ Start / Right column ------------>
       <div class="govuk-grid-column-one-third">
         <h3 class="govuk-heading-m">Links </h3>
         <p class="govuk-body">Design reference and other links</p>

         {% from "details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "Notes",
          text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post."
        }) }}

        {% from "details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "Notes B",
          text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post."
        }) }}

        {% from "details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "Notes C",
          text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post."
        }) }}
<!------------ End / Right column ------------>
       </div>
     </div>

   </main>
 </div>

{% endblock %}
