{% extends "layout.html" %}

{% block pageTitle %}
  Pension Credit — Private beta phase
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


<!----Headline---->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
        <span class="govuk-caption-l">Private beta</span>
        <p class="govuk-body"> </p>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Pension Credit: New claims design development</h1>
      </div></div>

      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <p class="govuk-body"> </p>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body-l"><strong>Current status: Passed assessment.</strong> <br>Awaiting approval to continue into private beta. <br><br>Index's show prototype and design index, iteration notes and module shortcuts within each version.<br>
          <br>Data fields have been to the prototype have different needs, from a business or a CAM point of view but also for our own learning. <br><br>A log of that has been added to MVP:  <a class="link" href="https://confluence.service.dwpcloud.uk/display/MYPC/2.+Alpha" aria-describedby="contact-details-completed">feature notes</a></p>
      </div></div>

<!----Main---->


<!------------ Version ------------>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m"><strong>MVP 1.5</strong></h2>
    <p class="govuk-body"> </p>
  </div> <!------------ govuk-grid-column-one-quarter ------------>

  <div class="govuk-grid-column-three-quarters">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <li class="li-pc">
    <ul class="app-task-list__items app-task-list-pc">

      <a class="app-task-list__task-name" href="/sprint-9/mvp/start" aria-describedby="company-information-completed">Start prototype<br></a>
      <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">Testing needed</strong><br><br>
      <li class="app-task-list__item app-task-list-pc">

    <details class="govuk-details">

      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Version notes and module order and shortcuts
      </span>
    </summary>

    <div class="govuk-grid-row"> <!------------ Details colum ------------>
    <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
      <p class="govuk-body">
      <br><strong>Introduction</strong> Added in a bunch of new stuff, but maily tidy MSIC
      <br><br><br></p>
  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
  </div> <!------------ Details colum / Grid row close ------------>

      <div class="govuk-grid-row"> <!------------ Details colum ------------>
      <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body">
        <strong>Changes: </strong>A global update of how we illustrate an AGENT action vs USER question, also the structure of the pages.
        <br>
            <ul class="govuk-list">
              <li><a href="/mvp/done-privacy-policy">/mvp/done-privacy-policy</a></li>
              <li><a href="/sprint-9/mvp/pre-declaration">/sprint-9/mvp/pre-declaration</a></li>
              <li><a href="/sprint-9/mvp/done-declaration">/sprint-9/mvp/done-declaration</a></li>
              <li><a href="/sprint-9/mvp/done-too-young">/sprint-9/mvp/done-too-young</a></li>
              <li><a href="/sprint-9/mvp/done-none-uk">/done-none-uk</a></li>
              <li><a href="/sprint-9/mvp/done-lived-abroad-hrt">/sprint-9/mvp/done-lived-abroad-hrt</a></li>
              <li><a href="/sprint-9/mvp/done-has-someone-else-living-with-them">/sprint-9/mvp/done-has-someone-else-living-with-them</a></li>
              <li><a href="/sprint-9/mvp/mvp-eligibility-summary">/sprint-9/mvp/mvp-eligibility-summary</a></li>


              </li></ul>

      </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

      </div> <!------------ Details colum / Grid row close ------------>

      <div class="govuk-grid-row"> <!------------ Details colum ------------>
      <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

        <ul class="app-task-list__items app-task-list-pc">
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/start.html" aria-describedby="contact-details-completed">Start</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/claim-date-options.html" aria-describedby="contact-details-completed">Date of Claim</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/task-list.html" aria-describedby="contact-details-completed">Task list</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/task-list-light" aria-describedby="contact-details-completed">Task list (light)</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/contact-text-yn.html" aria-describedby="contact-details-completed">Contact</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/address-correspondence-yn" aria-describedby="contact-details-completed">About where you live</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/pensions-overview" aria-describedby="contact-details-completed">Pension overview</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/benefit-overview" aria-describedby="contact-details-completed">Benefits overview</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/msic-pc-payment" aria-describedby="contact-details-completed">How your Pension Credit is to be paid</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/msic-has-current-account-yn" aria-describedby="contact-details-completed">Money, Savings, investments & Capital</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/disregards-capital-total-yn" aria-describedby="contact-details-completed">Capital disregards</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/earnings-overview" aria-describedby="contact-details-completed">Earnings overview</a></li>
            <!------------ ---- ------------>
            <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-9/mvp/other-income-benefits-aboard-yn" aria-describedby="contact-details-completed">Other income</a></li>
            <!------------ ---- ------------>
            <!------------ app-task-list__item ------------>

          <!------------ ---- ------------>
        </ul>

    </div> <!------------ Details colum / govuk-grid-column-full ------------>
    </div> <!------------ Details colum / Grid row close ------------>

</details> <!------------ govuk-details ------------>
</li> <!------------ app-task-list__item ------------>

</li> <!------------ li-pc ------------>

  </div> <!------------ govuk-grid-column-one-quarter ------------>
</div> <!------------ Grid row close ------------>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m"><strong>MVP 1.4</strong></h2>
    <p class="govuk-body"> </p>
  </div> <!------------ govuk-grid-column-one-quarter ------------>

  <div class="govuk-grid-column-three-quarters">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <li class="li-pc">
    <ul class="app-task-list__items app-task-list-pc">

      <a class="app-task-list__task-name" href="/sprint-8/mvp/start.html" aria-describedby="company-information-completed">Start Prototype, (A)(C) merge<br></a>
      <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
      <li class="app-task-list__item app-task-list-pc">

    <details class="govuk-details">

      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Version notes and module order and shortcuts
      </span>
    </summary>

    <div class="govuk-grid-row"> <!------------ Details colum ------------>
    <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
    <br>
    <strong>About</strong><br>Outcome of MSIC (A)(C) testing was added to this version.
    <br><br>
    <strong>Changes:</strong>
    <br>— MSIC / Investigation into backdating input
    <br>— XXXX




  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
  </div> <!------------ Details colum / Grid row close ------------>

      <div class="govuk-grid-row"> <!------------ Details colum ------------>
      <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <strong>What we tested:</strong>.
        <br><br>
        <strong>Outcome:</strong>.
        <br><br>
        <strong>Next steps:</strong>.
        <br><br><br>
      </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

      <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <strong>What we tested:</strong>.
        <br><br>
        <strong>Outcome:</strong>.
        <br><br>
        <strong>Next steps:</strong>.
        <br><br><br>
      </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
      </div> <!------------ Details colum / Grid row close ------------>

      <div class="govuk-grid-row"> <!------------ Details colum ------------>
      <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

      <ul class="app-task-list__items app-task-list-pc">
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-8/mvp/start.html" aria-describedby="contact-details-completed">Start</a></li>
        <!------------ ---- ------------>
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-8/mvp/claim-date-options.html" aria-describedby="contact-details-completed">Date of Claim</a></li>
        <!------------ ---- ------------>
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-8/mvp/task-list.html" aria-describedby="contact-details-completed">Task list</a></li>
        <!------------ ---- ------------>
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-8/mvp/post-code-lookup" aria-describedby="contact-details-completed">About where you live</a></li>
        <!------------ ---- ------------>
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-8/mvp/msic-pc-payment" aria-describedby="contact-details-completed">How your Pension Credit is to be paid</a></li>
        <!------------ ---- ------------>
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-8/mvp/msic-has-current-account-yn" aria-describedby="contact-details-completed">Money, Savings, investments & Capital</a></li>
        <!------------ ---- ------------>
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-8/mvp/msic-bank-current-account-backdating" aria-describedby="contact-details-completed">Back dating investigation</a></li>
      </ul> <!------------ app-task-list__items app-task-list-pc ------------>

    </div> <!------------ Details colum / govuk-grid-column-full ------------>
    </div> <!------------ Details colum / Grid row close ------------>

</details> <!------------ govuk-details ------------>
</li> <!------------ app-task-list__item ------------>

</li> <!------------ li-pc ------------>

  </div> <!------------ govuk-grid-column-one-quarter ------------>
</div> <!------------ Grid row close ------------>











<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m"><strong>MVP 1.3</strong></h2>
    <p class="govuk-body"> </p>
  </div> <!------------ govuk-grid-column-one-quarter ------------>

  <div class="govuk-grid-column-three-quarters">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <li class="li-pc">
    <ul class="app-task-list__items app-task-list-pc">

      <a class="app-task-list__task-name" href="/sprint-7/mvp/start.html" aria-describedby="company-information-completed">Start Prototype<br></a>
      <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">Part tested</strong><br><br>
      <li class="app-task-list__item app-task-list-pc">

    <details class="govuk-details">

      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Version notes and module order and shortcuts
      </span>
    </summary>

    <div class="govuk-grid-row"> <!------------ Details colum ------------>
    <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
    <br>
    <strong>About</strong><br>TBC.
    <br><br>
    <strong>Changes:</strong><br>

        <ul class="govuk-list govuk-list--bullet">
          <li>Eligibility / Overview: All pages have been through the design process, more UR is needed in the future.</li>
          <li>Eligibility / Who is calling has become a single page: This is due to the removal of the PC1 radio and the 'other' for someonese. (This is a team decision due to the removal of items)</li>
          <li>Eligibility / Number you are calling from: Unsure if this will be removed.</li>
          <li>Eligibility / Negative done pages: These have been combined as a summary and done in some cases, added and (!) for agent notes. (Team disision; thought it was over kill for pages.)</li>
          <li>MSIC / Awaiting A&C testing outcome</li>
          <li>About where you live / Added a page for missing or manaual address entry</li>


          </li></ul>

  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
  </div>
  <!------------------------>

      <div class="govuk-grid-row"> <!------------ Details colum ------------>
      <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <strong>What we tested:</strong>.
        <br><br>
        <strong>Outcome:</strong>.
        <br><br>
        <strong>Next steps:</strong>.
        <br><br><br>
      </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

      <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <strong>What we tested:</strong>.
        <br><br>
        <strong>Outcome:</strong>.
        <br><br>
        <strong>Next steps:</strong>.
        <br><br><br>
      </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
      </div> <!------------ Details colum / Grid row close ------------>

      <div class="govuk-grid-row"> <!------------ Details colum ------------>
      <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

      <ul class="app-task-list__items app-task-list-pc">
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-7/mvp/start.html" aria-describedby="contact-details-completed">Start</a></li>
        <!------------ ---- ------------>
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-7/mvp/task-list.html" aria-describedby="contact-details-completed">Task list</a></li>
        <!------------ ---- ------------>
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-7/mvp/post-code-lookup" aria-describedby="contact-details-completed">About where you live</a></li>
        <!------------ ---- ------------>

        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-7/mvp/msic-has-bank-current-account-yn" aria-describedby="contact-details-completed">Money, saving, investment & capital</a></li>

      </ul> <!------------ app-task-list__items app-task-list-pc ------------>

    </div> <!------------ Details colum / govuk-grid-column-full ------------>
    </div> <!------------ Details colum / Grid row close ------------>

  </div> <!------------ govuk-grid-column-one-quarter ------------>
</div> <!------------ Grid row close ------------>

<!------------ Version ------------>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m"><strong>MVP 1.2</strong></h2>
    <p class="govuk-body"> </p>
  </div> <!------------ govuk-grid-column-one-quarter ------------>

  <div class="govuk-grid-column-three-quarters">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <li class="li-pc">
    <ul class="app-task-list__items app-task-list-pc">

      <a class="app-task-list__task-name" href="/sprint-6/mvp/start.html" aria-describedby="company-information-completed">Start Prototype (With MSIC)<br></a>
      <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">Part tested</strong><br><br>
      <li class="app-task-list__item app-task-list-pc">

    <details class="govuk-details">

      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Version notes and module order and shortcuts
      </span>
    </summary>

    <div class="govuk-grid-row"> <!------------ Details colum ------------>
    <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
    <br>
    <strong>About</strong><br>TBC.
    <br><br>
    <strong>Changes:</strong>
    <br>— Money Savings and investments: added 'A-Single' based on user testing.
    <br>— Removal of the 10,000 question. Became " "




  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
  </div> <!------------ Details colum / Grid row close ------------>

      <div class="govuk-grid-row"> <!------------ Details colum ------------>
      <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <strong>What we tested:</strong>.
        <br><br>
        <strong>Outcome:</strong>.
        <br><br>
        <strong>Next steps:</strong>.
        <br><br><br>
      </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

      <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <strong>What we tested:</strong>.
        <br><br>
        <strong>Outcome:</strong>.
        <br><br>
        <strong>Next steps:</strong>.
        <br><br><br>
      </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
      </div> <!------------ Details colum / Grid row close ------------>

      <div class="govuk-grid-row"> <!------------ Details colum ------------>
      <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

      <ul class="app-task-list__items app-task-list-pc">
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-6/mvp/start.html" aria-describedby="contact-details-completed">Start</a></li>
        <!------------ ---- ------------>
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-6/mvp/task-list.html" aria-describedby="contact-details-completed">Task list</a></li>
        <!------------ ---- ------------>
      </ul> <!------------ app-task-list__items app-task-list-pc ------------>

    </div> <!------------ Details colum / govuk-grid-column-full ------------>
    </div> <!------------ Details colum / Grid row close ------------>

</details> <!------------ govuk-details ------------>
</li> <!------------ app-task-list__item ------------>

</li> <!------------ li-pc ------------>

  </div> <!------------ govuk-grid-column-one-quarter ------------>
</div> <!------------ Grid row close ------------>

<!------------ Version ------------>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m"><strong>MVP 1.1</strong></h2>
    <p class="govuk-body"> </p>
  </div> <!------------ govuk-grid-column-one-quarter ------------>

  <div class="govuk-grid-column-three-quarters">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <li class="li-pc">
    <ul class="app-task-list__items app-task-list-pc">

      <a class="app-task-list__task-name" href="/sprint-5/mvp/start.html" aria-describedby="company-information-completed">Start Prototype (Stripped back with NotePads)<br></a>
      <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
      <li class="app-task-list__item app-task-list-pc">

    <details class="govuk-details">

      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Version notes and module order and shortcuts
      </span>
    </summary>

    <div class="govuk-grid-row"> <!------------ Details colum ------------>
    <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
    <br>
    <strong>About</strong><br>TBC.
    <br><br>
    <strong>Changes:</strong>
    <br>— Investigating how we add multiple date and value entries for bank accounts.
    <br>— General fixes.
    <br>— Added missing summaries and done pages in eligibility section.
    <br>— Added in services charges within the rent journey.
    <br>— Added (Pre privacy policy and declaration) in more information about keep up to date with their changes.
    <br>— Updated content for private and workplace pensions.
    <br>— Reduced start page information.
    <br>— (PDF download) Indicators to show 'further action' is needed for HRT and mortage.
    <br>— If Pension Credit text is clicked got to 'clear-data-yn'.




  </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
  </div> <!------------ Details colum / Grid row close ------------>

      <div class="govuk-grid-row"> <!------------ Details colum ------------>
      <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <strong>What we tested:</strong>.
        <br><br>
        <strong>Outcome:</strong>.
        <br><br>
        <strong>Next steps:</strong>.
        <br><br><br>
      </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

      <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <strong>What we tested:</strong>.
        <br><br>
        <strong>Outcome:</strong>.
        <br><br>
        <strong>Next steps:</strong>.
        <br><br><br>
      </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
      </div> <!------------ Details colum / Grid row close ------------>

      <div class="govuk-grid-row"> <!------------ Details colum ------------>
      <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

      <ul class="app-task-list__items app-task-list-pc">
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-5/mvp/start.html" aria-describedby="contact-details-completed">Start</a></li>
        <!------------ ---- ------------>
        <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-5/mvp/task-list.html" aria-describedby="contact-details-completed">Task list</a></li>
        <!------------ ---- ------------>
      </ul> <!------------ app-task-list__items app-task-list-pc ------------>

    </div> <!------------ Details colum / govuk-grid-column-full ------------>
    </div> <!------------ Details colum / Grid row close ------------>

</details> <!------------ govuk-details ------------>
</li> <!------------ app-task-list__item ------------>

</li> <!------------ li-pc ------------>

  </div> <!------------ govuk-grid-column-one-quarter ------------>
</div> <!------------ Grid row close ------------>

<!------------ Version ------------>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <h2 class="govuk-heading-m"><strong>MVP 1.0</strong></h2>
          <p class="govuk-body"> </p>
        </div> <!------------ govuk-grid-column-one-quarter ------------>

        <div class="govuk-grid-column-three-quarters">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <li class="li-pc">
          <ul class="app-task-list__items app-task-list-pc">

            <a class="app-task-list__task-name" href="/sprint-4/mvp/start.html" aria-describedby="company-information-completed">Start Prototype (Stripped back with NotePads)<br></a>
            <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">Tested with PC1s</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">

            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and module order and shortcuts
            </span>
          </summary>

          <div class="govuk-grid-row"> <!------------ Details colum ------------>
          <div class="govuk-grid-column-full"> <!------------ Details colum ------------>
            <strong>Introduction</strong>.
            <br>
            Prototype of the first release for MVP. An initial eligibility gather, which would then dictate which tool would be used to complete the claim.
            <br><br>
            <strong>Claim via our tool</strong> Our tool would then gather all the information, minus the items we already know within the DWP.
Following the completion of the claim a PDF will be generated and then entered into PTP Cam, all other internal data will be sourced and entered to enable the ability to calculate and pay.
            <br><br>
            <strong>PTP Cam / BAU</strong> Based on what was answered within our tool, an agent would only use PTP Cam to make the the full claim if the failed our initial screening.
            <br><br><br>
        </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
        </div> <!------------ Details colum / Grid row close ------------>

            <div class="govuk-grid-row"> <!------------ Details colum ------------>
            <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <strong>What we tested:</strong>Tested with our SMEs
              <br><br>
              <strong>Outcome:</strong>.
              <br><br>
              <strong>Next steps:</strong>.
              <br><br><br>
            </div> <!------------ Details colum / govuk-grid-column-one-half ------------>

            <div class="govuk-grid-column-one-half"> <!------------ Details colum ------------>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <strong>What we tested:</strong>.
              <br><br>
              <strong>Outcome:</strong>.
              <br><br>
              <strong>Next steps:</strong>.
              <br><br><br>
            </div> <!------------ Details colum / govuk-grid-column-one-half ------------>
            </div> <!------------ Details colum / Grid row close ------------>

            <div class="govuk-grid-row"> <!------------ Details colum ------------>
            <div class="govuk-grid-column-full"> <!------------ Details colum ------------>

            <ul class="app-task-list__items app-task-list-pc">
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-4/mvp/start.html" aria-describedby="contact-details-completed">Start</a></li>
              <!------------ ---- ------------>
              <li class="app-task-list__item"><a class="app-task-list__task-name" href="/sprint-4/mvp/task-list.html" aria-describedby="contact-details-completed">Task list</a></li>
              <!------------ ---- ------------>
            </ul> <!------------ app-task-list__items app-task-list-pc ------------>

          </div> <!------------ Details colum / govuk-grid-column-full ------------>
          </div> <!------------ Details colum / Grid row close ------------>

    </details> <!------------ govuk-details ------------>
    </li> <!------------ app-task-list__item ------------>

    </li> <!------------ li-pc ------------>

        </div> <!------------ govuk-grid-column-one-quarter ------------>
      </div> <!------------ Grid row close ------------>

      <!------------ Version ------------>

        </main>
        </div>


<!----

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

---->



{% endblock %}
