{% extends "layout.html" %}

{% block pageTitle %}
Pension Credit / Beta index
{% endblock %}

{% block content %}


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <span class="govuk-caption-l">April 2020 — </span>
        </div>

        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">Citizen: New claims</h1>
          <p class="govuk-body-l govuk-!-margin-bottom-2"><strong>Current status: Live</strong> <br>Links to user research undertaken within each iteration. <br>Iterations list changes made from one version to another.</p>
            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="https://confluence.service.dwpcloud.uk/display/MYPC/Citizen+new+claim+process+maps">Service map archive [Confluence]</a>

        </div>
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">V2.5</h2>
          <p class="govuk-body">Design development</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-2-5/mvp/gov-uk-start">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: X</li>
                    <li>Merge: X</li>
                    <li>Removed: X</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/citizen-version-2-5/mvp/gov-uk-start" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-2-5/mvp/task-list" aria-describedby="contact-details-completed">Task list</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->
      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">V2.5 (UR)</h2>
          <p class="govuk-body">Fixed scenario</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-2-5-ur/mvp/gov-uk-start">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Test due Oct 2020</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Test scenario</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Backdated claim: Max</li>
                    <li>Single</li>
                    <li>Removed: X</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: X</li>
                    <li>Merge: X</li>
                    <li>Removed: X</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">

                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/citizen-version-2-5-ur/mvp/uk-claim-setup" aria-describedby="contact-details-completed">UR Claim set up</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/citizen-version-2-5-ur/mvp/gov-uk-start" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-2-5-ur/mvp/task-list" aria-describedby="contact-details-completed">Task list</a></li>
                    <!------------ ---- ------------>

                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">V2.4</h2>
          <p class="govuk-body">Date of claim and more</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-2-4/mvp/gov-uk-start">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tesed in live</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: Date of claim</li>
                    <li>Added: Assisted Digital</li>
                    <li>Added: Capital bonds</li>
                    <li>Added: Universal Credit checker</li>
                    <li>Added: Other money journey</li>
                    <li>Added: Pension Hidden</li>
                    <li>Added: Print a copy of claim</li>
                    <li>Added: Print a copy of the Application sent</li>
                    <li>Added: CallBack reasons listed</li>
                    <li>Merge: Partner question extended</li>
                    <li>Merge: Employment address</li>
                    <li>Merge: None Deps</li>
                    <li>Merge: Delegated authorities</li>
                    <li>Removed: Pensions (Hidden)</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/citizen-version-2-4/mvp/gov-uk-start" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-2-4/mvp/task-list" aria-describedby="contact-details-completed">Task list</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">V2.3</h2>
          <p class="govuk-body">Employment address</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-2-3/mvp/start-gov">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untesed</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Changes: Employment address</li>
                    <li>Changes: XXX</li>
                    <li>Changes: XXX</li>

                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="/citizen-version-2-2/mvp/gov-uk-start" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-2-2/mvp/task-list" aria-describedby="contact-details-completed">Task list</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">V2.2</h2>
          <p class="govuk-body">Delegated authorities <br> Non-Deps</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-2-2/mvp/start-gov">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tesed in live</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Changes: 'Who is making the claim' (Delegated authorities) expanded</li>
                    <li>Changes: Non dependents added to the service</li>
                    <li>Changes: XXX</li>

                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-2-2/mvp/start-gov" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-2-2/mvp/task-list" aria-describedby="contact-details-completed">Task list</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">V2.1</h2>
          <p class="govuk-body">One question per page + Housing costs</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-2-1/mvp/start-gov">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tesed in live</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Moved: Changes to question orders</li>
                    <li>Changes: Housing costs + 21 years question</li>
                    <li>Changes: Personal details for claimant and partner split over several pages</li>

                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-2-1/mvp/start-gov" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-2-1/mvp/task-list" aria-describedby="contact-details-completed">Task list</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">V2.0</h2>
          <p class="govuk-body">Northern Ireland</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-2/mvp/start-gov">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Moved: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-2/mvp/start-gov" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-2/mvp/task-list" aria-describedby="contact-details-completed">Task list</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">V1.0</h2>
          <p class="govuk-body">Day one</p>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-1/mvp/start-gov">Start prototype</a>
            <strong class="govuk-tag govuk-tag--untested app-task-list__task-completed" id="company-information-completed">Untested: Build</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/mvp/start-gov" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1/mvp/task-list" aria-describedby="contact-details-completed">Task list</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">UR.1</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="citizen-version-1-1/mvp/start-gov">Start prototype</a>
            <strong class="govuk-tag govuk-tag--tested app-task-list__task-completed" id="company-information-completed">Tested: 00.00.00</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong> XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                    <li>Added: XXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1-1/mvp/start-gov" aria-describedby="contact-details-completed">Start</a></li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item"><a class="app-task-list__task-name" href="citizen-version-1-1/mvp/task-list" aria-describedby="contact-details-completed">Task list</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-m">Template</h2>
        </div>

        <div class="govuk-grid-column-three-quarters">

          <ul class="app-task-list__items pc-index">

            <a class="govuk-body govuk-!-font-size-24 app-task-list__task-name" href="/XXX">Start prototype</a>
            <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">Testing 00.00.00</strong><br><br>
            <li class="app-task-list__item app-task-list-pc">

          <details class="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version notes and shortcuts
            </span>
          </summary>

          <br><strong>Introduction: </strong>XXXX
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <p class="govuk-body govuk-!-font-weight-bold">Changes, About the testing & What we tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold">Assumptions tested:</p>
                  <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                    <li>XXXXX</li>
                  </ul>

              <p class="govuk-body govuk-!-font-weight-bold ">ShortCuts:</p>
                  <ul class="govuk-list govuk-!-margin-bottom-6">
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                    <li><a href="/sprint-10/XXXX" aria-describedby="contact-details-completed">XXX</a></li>
                    <!------------ ---- ------------>
                  </ul>

                  <p class="govuk-body govuk-!-font-weight-bold">Outcome:</p>
                      <ul class="govuk-list--bullet govuk-!-margin-bottom-6">
                        <li>XXXXX</li>
                      </ul>

        </div> <!--DETAILS END-->
      </div> <!--GRID ROW END-->

      <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


{% endblock %}
