{% extends "layout.html" %}

{% block pageTitle %}
  Earnings, self-employed and other income - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


<!----Headline---->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Phase: Beta (private)</span>
        <h1 class="govuk-heading-xl">Pension Credit: Private beta new claims design development</h1>
      </div></div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l"><strong>Current status: Passed assessment.</strong> <br>Awaiting approval to continue into private beta. <br><br>Index's show prototype and design index, iteration notes and module shortcuts within each version.</p>
      </div></div>

<!----Main---->


<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m"><strong>MVP 1.1</strong></h2>
    <p class="govuk-body"> </p>
  </div>

  <!---- ---->


  <div class="govuk-grid-column-three-quarters">
      <li class="li-pc">
        <ul class="app-task-list__items app-task-list-pc">
      <!------------ Version ------------>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="/sprint-5/mvp/start.html" aria-describedby="company-information-completed">
              Start Prototype: MVP <br>
            </a>
            <strong class="govuk-tag govuk-tag--current app-task-list__task-completed" id="company-information-completed">MVP.1.1</strong><br><br>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Version notes and module order and shortcuts
              </span>
            </summary>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                  <h2 class="govuk-heading-s"><strong>XXXX</strong></h2>
                  <p class="govuk-body">XXXX</p>
                </div>

                <div class="govuk-grid-column-one-half">
                  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                  <h2 class="govuk-heading-s"><strong>XXXX</strong></h2>
                  <p class="govuk-body">XXXX</p>
                </div>
              </div>

              <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

              <li>
              <ul class="app-task-list__items app-task-list-pc">

              <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="/sprint-5/mvp/start.html" aria-describedby="contact-details-completed">
              01. Start
              </a>
              </li>
              <!------------ ---- ------------>
              <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="/sprint-5/mvp/task-list.html" aria-describedby="contact-details-completed">
              Task list
              </a>
              </li>
              <!------------ ---- ------------>

           </ul>
           </li>
         </div></div>
  </div>
  </div>
  </div>
  </details>
      <!------------ Version ------------>

      </ul>
      </li>


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <h2 class="govuk-heading-m"><strong>MVP 1.0</strong></h2>
          <p class="govuk-body"> </p>
        </div>

        <!---- ---->


        <div class="govuk-grid-column-three-quarters">
          <li class="li-pc">
              <ul class="app-task-list__items app-task-list-pc">
            <!------------ Version ------------>
                <li class="app-task-list__item">
                  <a class="app-task-list__task-name" href="/sprint-4/mvp/start.html" aria-describedby="company-information-completed">
                    Start Prototype: MVP <br>
                  </a>
                  <strong class="govuk-tag govuk-tag--hold app-task-list__task-completed" id="company-information-completed">MVP.1.0</strong><br><br>

                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Version notes and module order and shortcuts
                    </span>
                  </summary>

                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-half">
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <p class="govuk-body">Prototype of the first release for MVP. An initial eligibility gather, which would then dictate which tool would be used to complete the claim.
              <br>
              </p>
                      </div>

                      <div class="govuk-grid-column-one-half">
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                        <strong>Claim via our tool</strong> Our tool would then gather all the information, minus the items we already know within the DWP.
                        <br>Following the completion of the claim a PDF will be generated and then entered into PTP Cam, all other internal data will be sourced and entered to enable the ability to calculate and pay.
                        <br><br>
                        <strong>PTP Cam / BAU</strong> Based on what was answered within our tool, an agent would only use PTP Cam to make the the full claim if the failed our initial screening.
                        <br><br><br>
                      </div>
                    </div>

                    <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">

                    <li>
                    <ul class="app-task-list__items app-task-list-pc">

                    <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="/sprint-4/mvp/start.html" aria-describedby="contact-details-completed">
                    01. Start
                    </a>
                    </li>
                    <!------------ ---- ------------>
                    <li class="app-task-list__item">
                    <a class="app-task-list__task-name" href="/sprint-4/mvp/task-list.html" aria-describedby="contact-details-completed">
                    Task list
                    </a>
                    </li>
                    <!------------ ---- ------------>

                 </ul>
                 </li>
               </div></div>
        </div>
        </div>
        </div>
        </details>
            <!------------ Version ------------>

            </ul>
            </li>



</main>
</div>





<!----End---->

<!----

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

---->



{% endblock %}
