{% extends "layout.html" %}

{% block pageTitle %}
  Earnings, self-employed and other income - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


<!----Headline---->

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Phase: Beta (private)</span>
        <h1 class="govuk-heading-xl">Pension Credit new claims design development</h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l"><strong>Current status: Passed assessment</strong> <br>Awaiting approbal to continue into private beta. <br><br>Index's show prototype and design index, iteration notes and module shortcuts within each version.</p>
      </div>

<!----Main---->
  </main>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <a class="govuk-heading-m" href="/index" aria-describedby="contact-details-completed">Private beta development</a>
    <p class="govuk-body">Details (comming soon)</p>
  </div>

  <div class="govuk-grid-column-one-half">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <a class="govuk-heading-m" href="/index-alpha" aria-describedby="contact-details-completed">Alpha development</a>
    <p class="govuk-body"><strong>An index of what the team did during the alpha phase. </strong> <br><br>In Alpha we explored four ways of capturing data. <br><br>Our main exploration centered around looking at how the service would work if it was agent and citizen facing and where else we could get data to increase accuracy.</p>
  </div>
</div>


<br><br><br><br>

<!----End---->

<!----

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>

---->



{% endblock %}
