{% extends "layout-work-list-id-bar.html" %}

{% block pageTitle %}
  Selected claim - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="process-benefits" method="post" class="form">


        <!------------HEADLINE------------>

        <div class="panel panel-border-wide alert-default govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m">Alert</h2>
          <p>Use SearchLight to find this out. Do not ask the citizen.</p>
        </div>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
          How much State Penson does Mel get a week?
        </h1>

        {% set legendName %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Amount paid a week</h3>
        {% endset -%}

        {{ govukInput({
          label: {
            html: "Amount paid a week"
          },
          hint: {
            text: ""
          },
          id: "user-full-name",
          name: "user-full-name",
          classes: "govuk-input--width-20 govuk-!-margin-bottom-0",
          value: data["user-full-name"]
        }) }}


      {{ govukButton({
        classes: "govuk-!-margin-top-0",
        text: "Continue"
      }) }}

      <!-- <p class="govuk-body govuk-!-margin-top-4"><a href="case-load">Back to start</a></p>
      <p class="govuk-body govuk-!-margin-top-4"><a href="case-load-clear">...</a></p> -->

</form>
    </div>
  </div>
{% endblock %}
