{% extends "layout-work-list-id-bar.html" %}

{% block pageTitle %}
  Selected claim - empoloyment Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="process-housing-costs" method="post" class="form">


        <!------------HEADLINE------------>


        <div class="panel panel-border-wide alert-default govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m">Alert</h2>
          <p>Use SearchLight to find this out. Do not ask the citizen.</p>
        </div>

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "resides-in-uk",
          name: "resides-in-uk",
          fieldset: {
            legend: {
              text: "Does Mel Gibson get over £175 a week from employment?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl "
            }
          },

          items: [
            {
              value: "England",
              text: "Yes",
              checked: data['resides-in-uk'] == "England"
            },
            {
              value: "Scotland",
              text: "No",
              checked: data['resides-in-uk'] == "Scotland"
            }
          ]
        }) }}


      {{ govukButton({
        classes: "govuk-!-margin-top-0",
        text: "Continue"
      }) }}

      <!-- <p class="govuk-body govuk-!-margin-top-4"><a href="case-load">Back to start</a></p>
      <p class="govuk-body govuk-!-margin-top-4"><a href="case-load-clear">...</a></p> -->

</form>
    </div>
  </div>
{% endblock %}
