{% extends "layout-work-list-id-bar.html" %}

{% block pageTitle %}
  Selected claim - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="process-dwp" method="post" class="form">


        <!------------HEADLINE------------>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><strong>Looks like Mel Gibson Will get Pension Credit</strong></h1>


      {{ govukButton({
        classes: "govuk-!-margin-top-0",
        text: "Continue"
      }) }}

</form>
    </div>
  </div>
{% endblock %}
