{% extends "layout-work-list-id-bar.html" %}

{% block pageTitle %}
  Selected claim - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <form action="process-resides-in-uk-router" method="post">
              {{ govukRadios({
                classes: "govuk-radios",
                idPrefix: "process-resides-in-uk",
                name: "process-resides-in-uk",
                fieldset: {
                  legend: {
                    text: "Which country do you live in?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl "
                  }
                },

                items: [
                  {
                    value: "England",
                    text: "England",
                    checked: data['process-resides-in-uk'] == "England"
                  },
                  {
                    value: "Scotland",
                    text: "Scotland",
                    checked: data['process-resides-in-uk'] == "Scotland"
                  },
                  {
                    value: "Wales",
                    text: "Wales",
                    checked: data['process-resides-in-uk'] == "Wales"
                  },
                  {
                    value: "Northern-Ireland",
                    text: "Northern Ireland",
                    checked: data['process-resides-in-uk'] == "Northern-Ireland"
                  },
                  {
                    value: "Other",
                    text: "Somewhere else",
                    checked: data['process-resides-in-uk'] == "Other"
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Continue"
              }) }}
            </form>


    </div>
  </div>
{% endblock %}
