{% extends "layout-work-list-id-bar.html" %}

{% block pageTitle %}
  Selected claim - empoloyment Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="process-housing-costs" method="post" class="form">


        <!------------HEADLINE------------>


        <div class="panel panel-border-wide alert-default govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m">Alert</h2>
          <p>Use SearchLight to find this out. Do not ask the citizen.</p>
        </div>

        {% set LegendAmount %}
        <strong>What is the total amount of money you had on {{ data['claim-date-of-claim-day'] + ' ' + (data['claim-date-of-claim-month'] | getMonth) + ' ' + data['claim-date-of-claim-year']}}?<strong>
        {% endset -%}

              {{ govukInput({
                id: "money-total-now",
                name: "money-total-now",
                label: {
                  html: "Add how much Mel Gibsion gets from employment a week",
                  classes: "govuk-label--xl",
                  isPageHeading: true
                },
                hint: {
                  text: "Enter an amount in pounds and pence, for example, 100.00"
                },
                prefix: {
                  text: "£"
                },
                value: data["money-total-now"],
                classes: "govuk-input--width-10 govuk-!-margin-bottom-4",
                spellcheck: false
              }) }}


      {{ govukButton({
        classes: "govuk-!-margin-top-0",
        text: "Continue"
      }) }}

      <!-- <p class="govuk-body govuk-!-margin-top-4"><a href="case-load">Back to start</a></p>
      <p class="govuk-body govuk-!-margin-top-4"><a href="case-load-clear">...</a></p> -->

</form>
    </div>
  </div>
{% endblock %}
