{% extends "layout-work-list-id-bar.html" %}

{% block pageTitle %}
  Selected claim - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form action="process-resides-in-uk" method="post" class="form">


        <!------------HEADLINE------------>


        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Check Pension Credit eligibility</h1>

        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">So we can get the applicant to the right outcome we need to quickly check a few things</p>

        <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-bottom-2">Information you will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Natonal insurance number for you [and partner]</li>
          <li>Date of birth for your partner if you have one</li>
        </ul>

        <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-2">We will use information:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>that we already have about your State Pension and any benefits you receive</li>
          <li>that we get from HMRC about your income, earnings and pensions</li>
        </ul>



        {{ govukButton({
         text: "Start now",
         classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
         isStartButton: true
       }) }}




</form>
    </div>
  </div>
{% endblock %}
