

{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}


    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Summary',
        href: 'qd-summary',
        active: nav == 'summary'
      }, {
        text: 'Record change',
        href: 'qd-changes',
        active: nav == 'changes'

      }, {
        text: 'History',
        href: 'qd-history',
        active: nav == 'history'
      }, {
        text: 'Other help',
        href: 'qd-help',
        active: nav == 'help'
      }, {
        text: 'Past applications',
        href: 'qd-past-applications',
        active: nav == 'claims'
      }, {
        text: 'Request Mandatory Reconsideration',
        href: 'qd-mr',
        active: nav == 'mr'
      }, {
        text: 'Query automated processing',
        href: 'qd-ap',
        active: nav == 'ap'
      }]
    }) }}
