

{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

    {{ mojSideNavigation({
      label: 'Side navigation',
      items: [{
        text: 'Summary',
        href: 'qd-summary',
        active: nav == 'summary'
      }, {
        text: 'History',
        href: 'qd-history',
        active: nav == 'history'

      }, {
        text: 'Tasks',
        href: 'query-tasks-b'
      }, {
        text: 'Correspondence',
        href: 'query-correspondence-b'
      }, {
        text: 'Help',
        href: 'qd-help',
        active: nav == 'history'
      }]
    }) }}
