{% extends "layout.html" %}

{% block pageTitle %}
  Do you have the right to abode in the UK? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

<p>
  {{ govukBackLink({
    href: "self-employed"
  }) }}
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="right-to-abode-router" method="post" class="form">
      {{ govukRadios({
        idPrefix: "right-to-abode",
        name: "right-to-abode",
        fieldset: {
          legend: {
            text: "Do you have the right to abode in the UK?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        classes: "govuk-radios--inline",
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: (data["right-to-abode"] == "yes")
          },
          {
            value: "no",
            text: "No",
            checked: (data["right-to-abode"] == "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
