{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="oidv-working" method="post" class="form">

      <p class="govuk-body govuk--version-control">OIDV</p>

    {{ govukRadios({
      idPrefix: "oidv-driving",
      name: "oidv-driving",
      fieldset: {
        legend: {
          text: "Passport types?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl govuk-!-padding-top-4"
        }
      },
      hint: {
        html: "XXX"
      },
      classes: "govuk-radios",
      items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["oidv-driving"] == "Yes")
        },
        {
          value: "No",
          text: "No",
          checked: (data["oidv-driving"] == "No")
        }
      ]
    }) }}


<!-- {{ govukCheckboxes({
  idPrefix: "start-check",
  name: "start-check",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m govuk-!-padding-top-2"
    }
  },
  hint: {
    text: ""
  },
  items: [

    {
      value: "confirm",
      text: "I confirm I have this information ready",
      checked: (data["start-check"] == "confirm")

    }
  ]
}) }} -->



     <!--  {{ govukButton({
       text: "Continue",
       classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8",
       isStartButton: true
     }) }} -->


     {{ govukButton({
       text: "Continue"
     }) }}
     <p class="govuk-body govuk-!-padding-top-2"><a href="oidv-end">I dont what to do this</a></p>




</form>
</div>
{% endblock %}
