{% extends "layout-covid19.html" %}

{% block pageTitle %}
  Apply for Pension Credit - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="oidv-start-check-router" method="post" class="form">

      <p class="govuk-body govuk--version-control">OIDV</p>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">We need to know if you have access to documents</h1>


    <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-4">This is the why</p>



    {{ govukRadios({
      idPrefix: "oidv-start-check",
      name: "oidv-start-check",
      fieldset: {
        legend: {
          text: "XXX",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m govuk-!-padding-top-4"
        }
      },
      hint: {
        html: "XXX"
      },
      classes: "govuk-radios",
      items: [
        {
          value: "Yes",
          text: "Yes",
          checked: (data["oidv-start-check"] == "Yes")
        },
        {
          value: "No",
          text: "No",
          checked: (data["oidv-start-check"] == "No")
        }
      ]
    }) }}


<!-- {{ govukCheckboxes({
  idPrefix: "start-check",
  name: "start-check",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m govuk-!-padding-top-2"
    }
  },
  hint: {
    text: ""
  },
  items: [

    {
      value: "confirm",
      text: "I confirm I have this information ready",
      checked: (data["start-check"] == "confirm")

    }
  ]
}) }} -->



     <!--  {{ govukButton({
       text: "Continue",
       classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-8",
       isStartButton: true
     }) }} -->


     <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>


<!--
     {{ govukButton({
       text: "Continue"
     }) }} -->



</form>
</div>
{% endblock %}
