{% extends "layout.html" %}

{% block pageTitle %}
  Which best describes the place where you live? - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="claimant-name-a" method="post" class="form">


        <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Letter testing </h1>

        <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-4">Something in here</p>

        <p class="govuk-bold govuk-!-font-size-24 govuk-!-margin-bottom-8"><a href="/citizen-version-2-12/mvp/letter-17-nov.pdf" target="_blank">Open letter</a></p>


    </form>

    <!--<p class="govuk-body govuk-!-padding-top-6"><a href="eject-error-reason">Save claim and exit</a></p>-->

  </div>
</div>
{% endblock %}
