{% extends "layout.html" %}

{% block pageTitle %}
  Letter testing - Pension Credit
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="claimant-name-a" method="post" class="form">


        <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-6">Letter testing </h1>

        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-6">Something in here</p>

        <p class="govuk-bold govuk-!-font-size-19 govuk-!-margin-bottom-4"><a href="/citizen-version-2-12/mvp/letter-17-nov.pdf" target="_blank">Open letter in new window</a></p>

        <p class="govuk-bold govuk-!-font-size-19 govuk-!-margin-bottom-8"><a href="/citizen-version-2-12/mvp/letter-17-nov.pdf" download="letter-test-17-nov">Download letter as PDF</a></p>

        <!-- {{ govukButton({
          text: "Open letter as PDF",
          classes: "govuk-button--secondary govuk-!-margin-bottom-6",
          href: "/citizen-version-2-12/mvp/letter-17-nov.pdf"
        }) }} -->

    </form>


  </div>
</div>
{% endblock %}
